## âš¡ AnalÃ­tica Turbo con Polars: Fundamentos que todo Analista Moderno debe conocer ğŸ»â€â„ï¸

---

ğŸ‘¨â€ğŸ’» Autor: Brayan Neciosup  
ğŸ“ Portafolio: [brayanneciosup](https://bryanneciosup626.wixsite.com/brayandataanalitics)  
ğŸ”— LinkedIn: [linkedin.com/brayanneciosup](https://www.linkedin.com/in/brayan-rafael-neciosup-bola%C3%B1os-407a59246/)  
ğŸ’» GitHub: [github.com/BrayanR03](https://github.com/BrayanR03)  
ğŸ“š Serie: Fundamentos de Pandas y Polars

In [1]:
# Instalar librerÃ­a de polars: pip install polars
# Importamos la librerÃ­a
import polars as pl

### ğŸ“Œ Series en Polars: Rendimiento y Simplicidad en una dimensiÃ³n

####  âœ…DEFINICIÃ“N DE UNA SERIE EN POLARS ğŸ»â€â„ï¸

Sintaxis: 

serie = pl.Series(name = NombreColumnaSerie, values = ValoresSerie, dtype = pl.TipoDatoSegÃºnValores)

**Importante: A diferencia de Pandas, Polars ya no trabaja con Ã­ndices en sus Series y se define
              el tipo de dato que tendrÃ¡ la serie (int,str,object, entre otros..)
              Sin embargo, al tener diferentes tipos de datos en la serie, y no definir mediante "dtype"
              que tipo de datos se almacenarÃ¡n, saldrÃ¡ un error al imprimir la serie.

In [13]:
# Serie - Ejemplo 1 (Un solo tipo de dato):
data_1=[1,2,3,4,5]
serie_1=pl.Series(name="Valores",values=data_1,dtype=pl.Int64)
print("==== SERIE 1 - UN SOLO TIPO DE DATO") 
print(serie_1)
                                                # ğŸ’¡ğŸ’¡â¡ï¸SIEMPRE DEFINIR EL TIPO DE DATO EN LA SERIE
# Serie - Ejemplo 2 (Varios tipos de datos):
data_2=[1,2,True,2.5,"Hola"]
serie_2=pl.Series(name="Valores2",values=data_2,dtype=pl.Object)
print("==== SERIE 2 - VARIOS TIPOS DE DATOS") 
print(serie_2)

# # Serie - Ejemplo 3 (Sin definir tipo de dato - error âŒ):
# data_3=[1,2,True,2.5,"Hola"]
# serie_3=pl.Series(name="Valores3",values=data_3)
# print("==== SERIE 3 - VARIOS TIPOS DE DATOS âŒ") 
# print(serie_3)

==== SERIE 1 - UN SOLO TIPO DE DATO
shape: (5,)
Series: 'Valores' [i64]
[
	1
	2
	3
	4
	5
]
==== SERIE 2 - VARIOS TIPOS DE DATOS
shape: (5,)
Series: 'Valores2' [o][object]
[
	1
	2
	True
	2.5
	Hola
]

#### âœ… Operaciones con Series en Polars

In [44]:
serie_example = pl.Series(name="Valores",values=[10,15,35,2,82,15,13],dtype=pl.Int64) # â¬…ï¸ Trabajaremos con un solo tipo de dato (Int64) 
serie_example

shape: (7,)
Series: 'Valores' [i64]
[
	10
	15
	35
	2
	82
	15
	13
]

In [16]:
# a). Obtener un valor por el Ã­ndice establecido
print(serie_example[5]) # â¬…ï¸ Accedemos el elemento del Ã­ndice 5

15

In [ ]:
# b). Filtrar valores: Para realizar el filtrado debemos llamar al mÃ©todo .filter() y aplicar la condiciÃ³n.
# Sintaxis: serie_nombre.filter(serie_nombre + condiciÃ³n) â¬…ï¸ condiciones usando operadores lÃ³gicos: > | < | = | >= | <= | !=
# Ejemplo : 
print(serie_example.filter(serie_example>18))  # ( Valores de la serie mayores a 18 )

shape: (2,)
Series: 'Valores' [i64]
[
	35
	82
]

In [18]:
# c). Realizar operaciones aritmÃ©ticas bÃ¡sicas:
# Sintaxis: 
# operacion_serie = nombre_serie + | - | / | * 

# Estas operaciones a realizar, devuelven una estructura "ambigua" en Polars. Por ello, si queremos convertirla a
# un formato mas legible, realizamos los pasos para definir la serie.

# new_serie = pl.Series(name=NombreColumna,values=new_serie,dtype=pl.Int64)

# Ejemplo:
aumentar_serie = serie_example + 10  # ( Aumentar en 10, cada valor de la serie )
# print(aumentar_serie) # â¬…ï¸ Formato "ambiguo"
new_serie = pl.Series(name="ValorNuevo",values=aumentar_serie,dtype=pl.Int64)
new_serie # â¬…ï¸âœ…Formato mas legible

shape: (7,)
Series: 'ValorNuevo' [i64]
[
	20
	25
	45
	12
	92
	25
	23
]

In [68]:
# d). Reemplazar valores de series: 
# Las series al ser mutables, debemos almacenarlas en nuevas variables para que se reemplace.
# AdemÃ¡s, si deseamos realizar condiciones para el reemplazo de valores, usaremos numpy.
# Sintaxis:
# new_serie = serie.replace({ValorAntiguoEnSerie:ValorNuevoAReemplazar}) â¬…ï¸ mÃ©todo .replace() solo para valores individuales
# serie_condicionada = np.where(serie_example>30,100,serie_example) â¬…ï¸ usando np.where() de numpy para condiciones de valores mÃºltiples

# Ejemplo 1: Usando numpy - Instalar librerÃ­a de numpy: pip install numpy
import numpy as np
serie_condicionada = np.where(serie_example>30,100,serie_example) # â¬…ï¸ Condiciones de varios valores usando np.where()
new_serie_1 = pl.Series(values=serie_condicionada,name="Valores") # â¬…ï¸ Formateamos a una serie el array devuelto por numpy.
print(new_serie_1)
# Ejemplo 2:
new_serie_2 = serie_example.replace({35:100}) # â¬…ï¸ Reemplazamos valores individuales sin condiciÃ³n (30 por 100)
print(new_serie_2)

shape: (7,)
Series: 'Valores' [i64]
[
	10
	15
	100
	2
	100
	15
	13
]
shape: (7,)
Series: 'Valores' [i64]
[
	10
	15
	100
	2
	82
	15
	13
]

### ğŸ“Œ Dataframes en Polars: ...

####  âœ…DEFINICIÃ“N DE UN DATAFRAME EN POLARS ğŸ»â€â„ï¸

Son estructuras de datos bidimensionales, que permiten almacenar informaciÃ³n en forma de una matriz (FilasxColumnas),
las cuÃ¡les, deben estar de acorde al tipo de dato definido en la columna. Sin embargo, a diferencia de Pandas, Polars
presenta una optimizaciÃ³n en la manipulaciÃ³n de la informaciÃ³, debido que distribuye la lectura de los diversos
orÃ­genes de datos en todos los nÃºcleos del procesador.

SINTAXIS:

        dataframe_nombre = pl.DataFrame(data=DatosDataframe,schema=NombreColumnasPreviamenteDefinidas,orient= row[usado] | col)

In [ ]:
# DEFINIR UN DATAFRAME MEDIANTE UN DICCIONARIO
"""
ğŸ“ Nota: Si queremos definir un dataframe desde un diccionario, las claves del diccionario se convertirÃ¡n
         en las columnas del dataframe y los valores serÃ¡n la informaciÃ³n almacenada bidireccionalmente
         por cada columna del dataframe.
"""
diccionario_example = {
    "Nombre":["Brayan","Rafael","Pepito"],
    "Edad": [25,27,20],
    "Nota":[15,10,16]
}
dict_to_df = pl.DataFrame(diccionario_example)
dict_to_df.head() # â¬…ï¸ FunciÃ³n bÃ¡sica que permite ver los 5 primeros registros de un dataframe. 
### ğŸ’¡ Adicionalmente, Polars muestra el tipo de dato de las columnas del dataframe

shape: (3, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”‚
â”‚ ---    â”† ---  â”† ---  â”‚
â”‚ str    â”† i64  â”† i64  â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ Brayan â”† 25   â”† 15   â”‚
â”‚ Rafael â”† 27   â”† 10   â”‚
â”‚ Pepito â”† 20   â”† 16   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
# DEFINIR UN DATAFRAME DESDE CERO
dataframe = pl.DataFrame(data=[["Brayan",25,15],["Rafael",27,10],["Pepito",20,16]],
                         schema=["Nombre","Edad","Nota"],orient="row") # â¬…ï¸ Establecemos row para que los datos sean asignado como filas

dataframe.head()

"""
ğŸ’¡ Importante: Al definir las columnas para el Dataframe debemos tener en cuenta que
               se deben tener la misma cantidad de elementos de acuerdo a la cantidad de columnas,
               caso contrario, generarÃ¡ un error porque ciertas filas, no tienen la misma cantidad
               de elementos que la  columnas.
"""

# dataframe_valores_faltantes = pl.DataFrame(data=[["Brayan",15],["Rafael",15],["Pepito",20]],
#                                 schema=["Nombre","Edad","Nota"])
# dataframe_valores_faltantes.head() # âŒ Genera error porque los datos solo tiene 2 elementos y el dataframe presenta 3 columnas.

shape: (3, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”‚
â”‚ ---    â”† ---  â”† ---  â”‚
â”‚ str    â”† i64  â”† i64  â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ Brayan â”† 25   â”† 15   â”‚
â”‚ Rafael â”† 27   â”† 10   â”‚
â”‚ Pepito â”† 20   â”† 16   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
# DEFINIR UN DATAFRAME COLUMNA POR COLUMNA

dataframe_columna_a_columna = pl.DataFrame() # â¬…ï¸ Inicializamos un dataframe vacÃ­o (AsÃ­ como cuando inicializamos un objeto vacÃ­o en programaciÃ³n)
dataframe_columna_a_columna.head()

"""
    ğŸ“Nota: Para poder definir columnas en un dataframe de Polars, debemos hacer referencia al dataframe, para poder
            definir sus nuevas columnas y otros cambios que querramos realizar. Asimismo, podemos inicializar un dataframe vacÃ­o, 
            e ir llenandolo poco a poco (segÃºn sea la casuÃ­stica).
            
            TambiÃ©n, podemos mezclar el uso de series en los Dataframes, porque, las Series son <<columnas>>.
"""


dataframe_columna_a_columna = dataframe_columna_a_columna.with_columns( # â¬…ï¸ FunciÃ³n que permite trabajar sobre o crear nuevas  columnas en un dataframe.
        pl.Series(values=["Brayan","Rafael","Pepito"],name="ColumnaNombre",dtype=pl.String),  #â¬…ï¸ Definimos una columna con una serie.
        pl.Series(values=[21,45,19],name="ColumnaEdad",dtype=pl.Int64),  #â¬…ï¸ Definimos una columna con una serie.        
)
dataframe_columna_a_columna = dataframe_columna_a_columna.with_columns(
        (pl.col("ColumnaEdad")+10).alias("ColumnasEdad+10") 
        # âœ… FunciÃ³n pl.col(NombreColumna) nos permite acceder a una columna en base a su nombre
        # âœ… FunciÃ³n .alias(NuevoNombreColumna) nos permite renombrar una columna
)
dataframe_columna_a_columna.head()

"""
    ğŸ’¡Importante: Al definir columna por columna un dataframe en Polars debemos si o sÃ­ colocar
                  la misma cantidad de datos entre cada columna.                  
"""
# dataframe_valores_faltantes = pl.DataFrame()
# dataframe_valores_faltantes = dataframe_valores_faltantes.with_columns( # â¬…ï¸ FunciÃ³n que permite trabajar sobre o crear nuevas  columnas en un dataframe.
#         pl.Series(values=["Brayan","Rafael"],name="ColumnaNombre",dtype=pl.String),  #â¬…ï¸ Definimos una columna con una serie.
#         pl.Series(values=[21,45,19],name="ColumnaEdad",dtype=pl.Int64),  #â¬…ï¸ Definimos una columna con una serie.        
# )
# dataframe_valores_faltantes.head()

shape: (3, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ColumnaNombre â”† ColumnaEdad â”† ColumnasEdad+10 â”‚
â”‚ ---           â”† ---         â”† ---             â”‚
â”‚ str           â”† i64         â”† i64             â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Brayan        â”† 21          â”† 31              â”‚
â”‚ Rafael        â”† 45          â”† 55              â”‚
â”‚ Pepito        â”† 19          â”† 29              â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜