## âš¡ AnalÃ­tica Turbo con Polars: Fundamentos que todo Analista Moderno debe conocer ğŸ»â€â„ï¸

---

ğŸ‘¨â€ğŸ’» Autor: Brayan Neciosup  
ğŸ“ Portafolio: [brayanneciosup](https://bryanneciosup626.wixsite.com/brayandataanalitics)  
ğŸ”— LinkedIn: [linkedin.com/brayanneciosup](https://www.linkedin.com/in/brayan-rafael-neciosup-bola%C3%B1os-407a59246/)  
ğŸ’» GitHub: [github.com/BrayanR03](https://github.com/BrayanR03)  
ğŸ“š Serie: Fundamentos de Pandas y Polars

In [2]:
# Instalar librerÃ­a de polars: pip install polars
# Importamos la librerÃ­a
import polars as pl

### ğŸ“Œ Series en Polars: Rendimiento y Simplicidad en una dimensiÃ³n

####  âœ…DEFINICIÃ“N DE UNA SERIE EN POLARS ğŸ»â€â„ï¸

Sintaxis: 

serie = pl.Series(name = NombreColumnaSerie, values = ValoresSerie, dtype = pl.TipoDatoSegÃºnValores)

**Importante: A diferencia de Pandas, Polars ya no trabaja con Ã­ndices en sus Series y se define
              el tipo de dato que tendrÃ¡ la serie (int,str,object, entre otros..)
              Sin embargo, al tener diferentes tipos de datos en la serie, y no definir mediante "dtype"
              que tipo de datos se almacenarÃ¡n, saldrÃ¡ un error al imprimir la serie.

In [13]:
# Serie - Ejemplo 1 (Un solo tipo de dato):
data_1=[1,2,3,4,5]
serie_1=pl.Series(name="Valores",values=data_1,dtype=pl.Int64)
print("==== SERIE 1 - UN SOLO TIPO DE DATO") 
print(serie_1)
                                                # ğŸ’¡ğŸ’¡â¡ï¸SIEMPRE DEFINIR EL TIPO DE DATO EN LA SERIE
# Serie - Ejemplo 2 (Varios tipos de datos):
data_2=[1,2,True,2.5,"Hola"]
serie_2=pl.Series(name="Valores2",values=data_2,dtype=pl.Object)
print("==== SERIE 2 - VARIOS TIPOS DE DATOS") 
print(serie_2)

# # Serie - Ejemplo 3 (Sin definir tipo de dato - error âŒ):
# data_3=[1,2,True,2.5,"Hola"]
# serie_3=pl.Series(name="Valores3",values=data_3)
# print("==== SERIE 3 - VARIOS TIPOS DE DATOS âŒ") 
# print(serie_3)

==== SERIE 1 - UN SOLO TIPO DE DATO
shape: (5,)
Series: 'Valores' [i64]
[
	1
	2
	3
	4
	5
]
==== SERIE 2 - VARIOS TIPOS DE DATOS
shape: (5,)
Series: 'Valores2' [o][object]
[
	1
	2
	True
	2.5
	Hola
]

#### âœ… OPERACIONES CON SERIES EN POLARS ğŸ»â€â„ï¸

In [44]:
serie_example = pl.Series(name="Valores",values=[10,15,35,2,82,15,13],dtype=pl.Int64) # â¬…ï¸ Trabajaremos con un solo tipo de dato (Int64) 
serie_example

shape: (7,)
Series: 'Valores' [i64]
[
	10
	15
	35
	2
	82
	15
	13
]

In [16]:
# a). Obtener un valor por el Ã­ndice establecido
print(serie_example[5]) # â¬…ï¸ Accedemos el elemento del Ã­ndice 5

15

In [ ]:
# b). Filtrar valores: Para realizar el filtrado debemos llamar al mÃ©todo .filter() y aplicar la condiciÃ³n.
# Sintaxis: serie_nombre.filter(serie_nombre + condiciÃ³n) â¬…ï¸ condiciones usando operadores lÃ³gicos: > | < | = | >= | <= | !=
# Ejemplo : 
print(serie_example.filter(serie_example>18))  # ( Valores de la serie mayores a 18 )

shape: (2,)
Series: 'Valores' [i64]
[
	35
	82
]

In [18]:
# c). Realizar operaciones aritmÃ©ticas bÃ¡sicas:
# Sintaxis: 
# operacion_serie = nombre_serie + | - | / | * 

# Estas operaciones a realizar, devuelven una estructura "ambigua" en Polars. Por ello, si queremos convertirla a
# un formato mas legible, realizamos los pasos para definir la serie.

# new_serie = pl.Series(name=NombreColumna,values=new_serie,dtype=pl.Int64)

# Ejemplo:
aumentar_serie = serie_example + 10  # ( Aumentar en 10, cada valor de la serie )
# print(aumentar_serie) # â¬…ï¸ Formato "ambiguo"
new_serie = pl.Series(name="ValorNuevo",values=aumentar_serie,dtype=pl.Int64)
new_serie # â¬…ï¸âœ…Formato mas legible

shape: (7,)
Series: 'ValorNuevo' [i64]
[
	20
	25
	45
	12
	92
	25
	23
]

In [68]:
# d). Reemplazar valores de series: 
# Las series al ser mutables, debemos almacenarlas en nuevas variables para que se reemplace.
# AdemÃ¡s, si deseamos realizar condiciones para el reemplazo de valores, usaremos numpy.
# Sintaxis:
# new_serie = serie.replace({ValorAntiguoEnSerie:ValorNuevoAReemplazar}) â¬…ï¸ mÃ©todo .replace() solo para valores individuales
# serie_condicionada = np.where(serie_example>30,100,serie_example) â¬…ï¸ usando np.where() de numpy para condiciones de valores mÃºltiples

# Ejemplo 1: Usando numpy - Instalar librerÃ­a de numpy: pip install numpy
import numpy as np
serie_condicionada = np.where(serie_example>30,100,serie_example) # â¬…ï¸ Condiciones de varios valores usando np.where()
new_serie_1 = pl.Series(values=serie_condicionada,name="Valores") # â¬…ï¸ Formateamos a una serie el array devuelto por numpy.
print(new_serie_1)
# Ejemplo 2:
new_serie_2 = serie_example.replace({35:100}) # â¬…ï¸ Reemplazamos valores individuales sin condiciÃ³n (30 por 100)
print(new_serie_2)

shape: (7,)
Series: 'Valores' [i64]
[
	10
	15
	100
	2
	100
	15
	13
]
shape: (7,)
Series: 'Valores' [i64]
[
	10
	15
	100
	2
	82
	15
	13
]

### ğŸ“Œ Dataframes en Polars: ...

####  âœ…DEFINICIÃ“N DE UN DATAFRAME EN POLARS ğŸ»â€â„ï¸

Son estructuras de datos bidimensionales, que permiten almacenar informaciÃ³n en forma de una matriz (FilasxColumnas),
las cuÃ¡les, deben estar de acorde al tipo de dato definido en la columna. Sin embargo, a diferencia de Pandas, Polars
presenta una optimizaciÃ³n en la manipulaciÃ³n de la informaciÃ³, debido que distribuye la lectura de los diversos
orÃ­genes de datos en todos los nÃºcleos del procesador.

SINTAXIS:

        dataframe_nombre = pl.DataFrame(data=DatosDataframe,schema=NombreColumnasPreviamenteDefinidas,orient= row[usado] | col)

In [ ]:
# DEFINIR UN DATAFRAME MEDIANTE UN DICCIONARIO
"""
ğŸ“ Nota: Si queremos definir un dataframe desde un diccionario, las claves del diccionario se convertirÃ¡n
         en las columnas del dataframe y los valores serÃ¡n la informaciÃ³n almacenada bidireccionalmente
         por cada columna del dataframe.
"""
diccionario_example = {
    "Nombre":["Brayan","Rafael","Pepito"],
    "Edad": [25,27,20],
    "Nota":[15,10,16]
}
dict_to_df = pl.DataFrame(diccionario_example)
dict_to_df.head() # â¬…ï¸ FunciÃ³n bÃ¡sica que permite ver los 5 primeros registros de un dataframe. 
### ğŸ’¡ Adicionalmente, Polars muestra el tipo de dato de las columnas del dataframe

shape: (3, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”‚
â”‚ ---    â”† ---  â”† ---  â”‚
â”‚ str    â”† i64  â”† i64  â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ Brayan â”† 25   â”† 15   â”‚
â”‚ Rafael â”† 27   â”† 10   â”‚
â”‚ Pepito â”† 20   â”† 16   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
# DEFINIR UN DATAFRAME DESDE CERO
dataframe = pl.DataFrame(data=[["Brayan",25,15],["Rafael",27,10],["Pepito",20,16]],
                         schema=["Nombre","Edad","Nota"],orient="row") # â¬…ï¸ Establecemos row para que los datos sean asignado como filas

dataframe.head()

"""
ğŸ’¡ Importante: Al definir las columnas para el Dataframe debemos tener en cuenta que
               se deben tener la misma cantidad de elementos de acuerdo a la cantidad de columnas,
               caso contrario, generarÃ¡ un error porque ciertas filas, no tienen la misma cantidad
               de elementos que la  columnas.
"""

# dataframe_valores_faltantes = pl.DataFrame(data=[["Brayan",15],["Rafael",15],["Pepito",20]],
#                                 schema=["Nombre","Edad","Nota"])
# dataframe_valores_faltantes.head() # âŒ Genera error porque los datos solo tiene 2 elementos y el dataframe presenta 3 columnas.

shape: (3, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”‚
â”‚ ---    â”† ---  â”† ---  â”‚
â”‚ str    â”† i64  â”† i64  â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ Brayan â”† 25   â”† 15   â”‚
â”‚ Rafael â”† 27   â”† 10   â”‚
â”‚ Pepito â”† 20   â”† 16   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
# DEFINIR UN DATAFRAME COLUMNA POR COLUMNA

dataframe_columna_a_columna = pl.DataFrame() # â¬…ï¸ Inicializamos un dataframe vacÃ­o (AsÃ­ como cuando inicializamos un objeto vacÃ­o en programaciÃ³n)
dataframe_columna_a_columna.head()

"""
    ğŸ“Nota: Para poder definir columnas en un dataframe de Polars, debemos hacer referencia al dataframe, para poder
            definir sus nuevas columnas y otros cambios que querramos realizar. Asimismo, podemos inicializar un dataframe vacÃ­o, 
            e ir llenandolo poco a poco (segÃºn sea la casuÃ­stica).
            
            TambiÃ©n, podemos mezclar el uso de series en los Dataframes, porque, las Series son <<columnas>>.
"""


dataframe_columna_a_columna = dataframe_columna_a_columna.with_columns( # â¬…ï¸ FunciÃ³n que permite trabajar sobre o crear nuevas  columnas en un dataframe.
        pl.Series(values=["Brayan","Rafael","Pepito"],name="ColumnaNombre",dtype=pl.String),  #â¬…ï¸ Definimos una columna con una serie.
        pl.Series(values=[21,45,19],name="ColumnaEdad",dtype=pl.Int64),  #â¬…ï¸ Definimos una columna con una serie.        
)
dataframe_columna_a_columna = dataframe_columna_a_columna.with_columns(
        (pl.col("ColumnaEdad")+10).alias("ColumnasEdad+10") 
        # âœ… FunciÃ³n pl.col(NombreColumna) nos permite acceder a una columna en base a su nombre
        # âœ… FunciÃ³n .alias(NuevoNombreColumna) nos permite renombrar una columna
)
dataframe_columna_a_columna.head()

"""
    ğŸ’¡Importante: Al definir columna por columna un dataframe en Polars debemos si o sÃ­ colocar
                  la misma cantidad de datos entre cada columna.                  
"""
# dataframe_valores_faltantes = pl.DataFrame()
# dataframe_valores_faltantes = dataframe_valores_faltantes.with_columns( # â¬…ï¸ FunciÃ³n que permite trabajar sobre o crear nuevas  columnas en un dataframe.
#         pl.Series(values=["Brayan","Rafael"],name="ColumnaNombre",dtype=pl.String),  #â¬…ï¸ Definimos una columna con una serie.
#         pl.Series(values=[21,45,19],name="ColumnaEdad",dtype=pl.Int64),  #â¬…ï¸ Definimos una columna con una serie.        
# )
# dataframe_valores_faltantes.head()

shape: (3, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ColumnaNombre â”† ColumnaEdad â”† ColumnasEdad+10 â”‚
â”‚ ---           â”† ---         â”† ---             â”‚
â”‚ str           â”† i64         â”† i64             â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Brayan        â”† 21          â”† 31              â”‚
â”‚ Rafael        â”† 45          â”† 55              â”‚
â”‚ Pepito        â”† 19          â”† 29              â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

#### âœ… OPERACIONES CON DATAFRAMES EN POLARS ğŸ»â€â„ï¸

In [3]:
df_example = pl.DataFrame(data=[["BRAYAN",15,13],["RAFAEL",25,19],["PEPITO",20,10]],
                          schema=["Nombre","Edad","Nota"],orient="row")
df_example.head()

shape: (3, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”‚
â”‚ ---    â”† ---  â”† ---  â”‚
â”‚ str    â”† i64  â”† i64  â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ BRAYAN â”† 15   â”† 13   â”‚
â”‚ RAFAEL â”† 25   â”† 19   â”‚
â”‚ PEPITO â”† 20   â”† 10   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
# A). OBTENER EL VALOR O VALORES DE LA COLUMNA DE UN DATAFRAME MEDIANTE SU NOMBRE.

"""
    ğŸ“ SINTAXIS: 
    
        dataframe_nombre[NombreColumna] â¬…ï¸ Llamamos al dataframe directamente o
        print(dataframe_nombre[NombreColumna]) â¬…ï¸ Usamos print()
        
        **Importante: Cuando llamamos con solo un par de corchetes "[]", muestra los resultados,
                      
        ### ğŸ§  Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables. 
"""
# ğŸ’¡ EJEMPLO 1: Obtener valores de una columna
# df_example["Nota"]

# ğŸ’¡ EJEMPLO 2: Obtener valores de varias columnas
df_example[["Nota","Nombre"]]

shape: (3, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Nota â”† Nombre â”‚
â”‚ ---  â”† ---    â”‚
â”‚ i64  â”† str    â”‚
â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•¡
â”‚ 13   â”† BRAYAN â”‚
â”‚ 19   â”† RAFAEL â”‚
â”‚ 10   â”† PEPITO â”‚
â””â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [14]:
# B). OBTENER UNA FILA DE VALORES ESPECÃFICAS DEL DATAFRAME

"""
    ğŸ“ SINTAXIS:
    
        dataframe_nombre[NumeroIndice] â¬…ï¸ Recordemos que el indice empieza en 0.
    
    ğŸ’¡ Importante: Tener en cuenta que el Ã­ndice o nÃºmero a ingresar, no debe superar 
                    el tamaÃ±o de valores.    
        
    ### ğŸ§  Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""

# ğŸ’¡ EJEMPLO 1: NÃšMERO DE ÃNDICE CORRECTO âœ… 
df_example[0] # â¬…ï¸ NÃºmero de indice: 2 (Retorna todos los registros de la fila 1, Ã­ndice 0).

## ğŸ’¡ EJEMPLO 2: NÃšMERO DE ÃNDICE INCORRECTO âŒ 

## df_example[3] # â¬…ï¸ NÃºmero de indice: 3.
## âŒ Error: Ãndice fuera de los lÃ­mites

shape: (1, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”‚
â”‚ ---    â”† ---  â”† ---  â”‚
â”‚ str    â”† i64  â”† i64  â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ BRAYAN â”† 15   â”† 13   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [17]:
# C). OBTENER UN VALOR ESPECÃFICO DE UN REGISTRO, BASADO EN SU NÃšMERO DE ÃNDICE
#     Y EL NOMBRE DE UNA COLUMNA.
"""
    ğŸ“ SINTAXIS: 
    
        dataframe_nombre[NumeroIndice,NombreColumna] â¬…ï¸ De esta manera accederemos solo a valores especÃ­ficos.
        
        ### ğŸ§  Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""
# ğŸ’¡ EJEMPLO: 
# df_example[1,"Nota"] # â¬…ï¸ Accedemos a la fila con Ã­ndice 1 y la columna de nombre Nota.
print(df_example[1,"Nota"]) # â¬…ï¸ Accedemos a la fila con Ã­ndice 1 y la columna de nombre Nota.

19

In [ ]:
# D). FILTRAR VALORES EN UN DATAFRAME:

""" 
    Para realizar el filtro de valores nos basaremos en condiciones que la o las columnas
    deben cumplir. Por ende, ya no utilizaremos el mÃ©todo .query() o el filtrado a travÃ©s []
    como en Pandas, sino mediante su propia funciÃ³n .filter().
    
   ğŸ’¡ Importante: Para poder acceder a una columna y realizar el filtro correspondiente,
       utilizaremos pl.col() que crea una expresiÃ³n de la columna verificando su existencia.
    
    ğŸ“ SINTAXIS:
     
        dataframe_nombre.filter( â¬…ï¸ MÃ©todo filter() para realizar filtrado.
                pl.col(NombreColumna) |CondicionColumna|        â¬…ï¸ Filtramos por una columna.
                (pl.col(NombreColumna1) |CondicionColumna1| ) & 
                (pl.col(NombreColumna2) |CondicionColumna2| )   â¬…ï¸ Filtramos por varias columnas.
        )
        
        ( > || < || >= || <= || != ) â¬…ï¸ Operadores lÃ³gicos 
        
        ### ğŸ§  Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""
# ğŸ’¡ EJEMPLO 1: USANDO OPERADORES LÃ“GICOS (EN UNA COLUMNA)

# df_example.filter(pl.col("Nota")>15) # â¬…ï¸ Notas mayores a 15
# df_example.filter(pl.col("Nombre")!='RAFAEL') # â¬…ï¸ Todos los nombre diferentes a RAFAEL

# ğŸ’¡ EJEMPLO 2: USANDO OPERADORES LÃ“GICOS (EN MÃS DE UNA COLUMNA)

# df_example.filter((pl.col("Edad")==20) & (pl.col("Nota")==10)) # â¬…ï¸ Edad igual a 20 y Nota 10. (2 columnas)
## â¡ï¸ Cada condiciÃ³n de filtro, la debemos separar mediante parÃ©ntesis ().

# ğŸ’¡ EJEMPLO 3:

df_filtrado = df_example.filter((pl.col("Edad")==20) | (pl.col("Nota")==19)) # Filtrando por dos columnas (Usamos or)
df_filtrado.head()

shape: (2, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”‚
â”‚ ---    â”† ---  â”† ---  â”‚
â”‚ str    â”† i64  â”† i64  â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ RAFAEL â”† 25   â”† 19   â”‚
â”‚ PEPITO â”† 20   â”† 10   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
# E). AGREGAR UNA O VARIAS COLUMNAS AL DATAFRAME:

"""
    Para poder agregar una nueva columna en Polars, a diferencia de Pandas que donde se definÃ­a
    entre [] una nueva columna, en Polars, usamos metodos directamente al dataframe, este mÃ©todo
    es .with_columns(), donde podemos crear columnas nuevas a raÃ­z del cÃ¡lculo de otras columnas.
    
    ğŸ“ SINTAXIS:

        dataframe_nombre = dataframe_nombre.with_columns(
            pl.col(NombreColumna).alias("NombreNuevaColumna")  â¬…ï¸ Primera forma de crear una nueva columna (recomendada).
            NombreNuevaColumna = pl.col(NombreColumnaCalculo)  â¬…ï¸ Segunda forma de crear una nueva columna.
            pl.Series(values=[Valores],name="NombreNuevaColumna",dtype=TipoDato) â¬…ï¸ Tercera forma de crear una nueva columna (serie).
        )
        
    ### âš ï¸ Tengamos en cuenta que para realizar cambios al dataframe, debemos llamar al dataframe otra vez.
"""

# ğŸ’¡ EJERCICIO 1: NUEVA COLUMNA CON INFORMACIÃ“N

df_example = df_example.with_columns(
    pl.Series(values=[1,2,3],name="Puntaje",dtype=pl.Int64) 
    # â¬…ï¸ Recodemos que para esta forma de agregar informaciÃ³n
    #    debe contener la misma cantidad de datos que 
    #    el total de registros.
)
# df_example.head()

# ğŸ’¡ EJERCICIO 2: NUEVA COLUMNA CALCULADA v1.
df_example = df_example.with_columns(
    (pl.col("Nota")*pl.col("Puntaje")).alias("Ranking")
)                                                    #    a las columnas a travÃ©s de los corchetes [].
# df_example.head()


# ğŸ’¡ EJERCICIO 3: NUEVA COLUMNA CALCULADA v2.
df_example = df_example.with_columns(
    Extra = (pl.col("Nota")/pl.col("Puntaje")) 
)
df_example.head()

shape: (3, 6)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”† Puntaje â”† Ranking â”† Extra    â”‚
â”‚ ---    â”† ---  â”† ---  â”† ---     â”† ---     â”† ---      â”‚
â”‚ str    â”† i64  â”† i64  â”† i64     â”† i64     â”† f64      â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ BRAYAN â”† 15   â”† 13   â”† 1       â”† 13      â”† 13.0     â”‚
â”‚ RAFAEL â”† 25   â”† 19   â”† 2       â”† 38      â”† 9.5      â”‚
â”‚ PEPITO â”† 20   â”† 10   â”† 3       â”† 30      â”† 3.333333 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
# F). ELIMINAR COLUMNAS DEL DATAFRAME:

"""
   A diferencia de Pandas donde llamamos directamente a la funcion con el dataset y realizamos la operaciÃ³n.
   En Polars debemos llamar al mismo dataframe y/o asignarlo a una nueva variable para poder visualizar
   los cambios de la eliminaciÃ³n.
    
    
    ğŸ“ SINTAXIS:
    
        dataframe_nombre = dataframe_nombre.drop([NombreColumna1,NombreColumna2],strict=True | False [EvaluaExistenciaDeColumnas])

    ### ğŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe

    ### âš ï¸ Debemos tener en cuenta que si volvemos a ejecutar el cÃ³digo de eliminar columnas
           la columna especificada como ya no existe, lanzarÃ¡ error.

"""

# ğŸ’¡ EJEMPLO 1:
# df_example = df_example.drop("Ranking",strict=True) # â¬…ï¸ Establecemos True en strict âœ…
# df_example.head() # â¬…ï¸ Verificamos que si se elimino correctamente la columna

# ğŸ’¡ EJEMPLO 2:
# df_copia = df_example # â¬…ï¸ MÃ©todo .copy() que permite copiar el dataframe a otra variable.
# df_copia = df_copia.drop(["Nota","Puntaje"],strict=True) # â¬…ï¸ Establecemos True en strict âœ…
# df_copia.head() # â¬…ï¸ Verificamos que si se elimino correctamente las columnas

shape: (3, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Extra    â”‚
â”‚ ---    â”† ---  â”† ---      â”‚
â”‚ str    â”† i64  â”† f64      â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ BRAYAN â”† 15   â”† 13.0     â”‚
â”‚ RAFAEL â”† 25   â”† 9.5      â”‚
â”‚ PEPITO â”† 20   â”† 3.333333 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [45]:
# G). ORDERNAR LOS DATOS DEL DATAFRAME POR UNA O VARIAS COLUMNAS

"""
    ğŸ“ SINTAXIS: 

        dataframe_nombre = dataframe_nombre.sort(by=NombreColumna,descending=True | False) 
        
    ğŸ’¡ Importante: Al establecer el valor de descending en True, los datos se ordenan
                   de mayor a menor por la columna que especifiquemos. Sin embargo, sino 
                   llamamos a la propiedad descending o por el contrario, se establece el valor en False,
                   los datos se ordenan de menor a mayor.
                   
        ### ğŸ§  Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""
# ğŸ’¡ EJEMPLO 1: â¡ï¸ Ordenamos AlfabÃ©ticamente (A-Z)

# df_example.sort(by="Nombre",descending=False).head()

# ğŸ’¡ EJEMPLO 2: â¡ï¸ Ordenamos AlfabÃ©ticamente (Z-A)

# df_example.sort(by="Nombre",descending=True).head()

# ğŸ’¡ EJEMPLO 3: â¡ï¸ Ordenamos por columna NumÃ©rica (De menor a mayor)

# df_example.sort(by="Edad",descending=False).head()

# ğŸ’¡ EJEMPLO 4: â¡ï¸ Ordenamos por columna NumÃ©rica (De mayor a menor)

df_example.sort(by="Edad",descending=True).head()

shape: (3, 5)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”† Puntaje â”† Extra    â”‚
â”‚ ---    â”† ---  â”† ---  â”† ---     â”† ---      â”‚
â”‚ str    â”† i64  â”† i64  â”† i64     â”† f64      â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ RAFAEL â”† 25   â”† 19   â”† 2       â”† 9.5      â”‚
â”‚ PEPITO â”† 20   â”† 10   â”† 3       â”† 3.333333 â”‚
â”‚ BRAYAN â”† 15   â”† 13   â”† 1       â”† 13.0     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

#### âœ… RANGO INTERQUARTIL EN POLARS ğŸ»â€â„ï¸

El rango interquartil (IQR) es una mÃ©trica estadÃ­stica utilizada para identificar valores atÃ­picos en un conjunto de datos. Su uso es esencial en procesos de limpieza y validaciÃ³n, debido que permite evaluar la integridad del dataset al detectar registros que se desvÃ­an significativamente del comportamiento general. En proyectos de Machine Learning, una correcta identificaciÃ³n de outliers a travÃ©s del IQR permite mejorar la calidad de los datos de entrada, lo que impacta directamente en el rendimiento y generalizaciÃ³n de los modelos. Para perfiles como Data Analysts y Data Engineers, el IQR se convierte en una herramienta clave en la etapa de preprocesamiento de datos.

In [12]:
# ESTADÃSTICA BÃSICA EN POLARS: Mediante la funciÃ³n .describe()
"""
    ğŸ“ SINTAXIS:
    
        dataframe_nombre.describe() â¬…ï¸ Esta funciÃ³n devuelve: cantidad_valores||media||desviaciÃ³n_estÃ¡ndar||
                                                               valor_mÃ­nimo||valor_mÃ¡ximo||quartil_(1,2,3) â¬…ï¸ Quartiles con.desribe()
    
    ### ğŸ’¡ Importante: Esta funciÃ³n devuelve para las columnas con datos numÃ©ricos y Strings.
"""
""" âœ… PARA LOS EJEMPLOS DE IQR, USAREMOS UN DATASET DE LA CARPETA datasets: titanic.csv"""

df_titanic = pl.read_csv("../datasets/titanic.csv",separator=",") # â¬…ï¸ Lo explicaremos en prÃ³ximos temas
# df_titanic.head()

# ğŸ’¡ EJEMPLO 1 : 

# df_titanic.describe() # â¬…ï¸ Verificamos las estadÃ­sticas bÃ¡sicas descriptivas del dataset

""" 
    QUARTILES:

    Los quartiles hacen referencia a las partes iguales divididas en 4 de todo el conjunto de datos.
    Q1 (25% de los datos) - Q2 (50% de los datos) - Q3 (75% de los datos) y Q4 (100% de los datos).
    
    ğŸ“ SINTAXIS:

    valor_quartil = np.percentile(ColumnaDeDataframeOSerie,CantidadCuartil)
    
    ### ğŸ§  Para los valores atÃ­pico solo usaremos los quartiles 1 y 3.
"""

# ğŸ’¡ EJEMPLO 2: RANGO INTERQUARTIL (Columna "fare")

q1_fare = df_titanic.select(pl.col("fare").quantile(0.25)).item() # Percentil o Quartil 1
q3_fare = df_titanic.select(pl.col("fare").quantile(0.75)).item() # Percentil o Quartil 3

range_iqr_fare = q3_fare - q1_fare # CÃ¡lculo del rango interquartil 

# LÃ­mite inferior
lower_bound_fare  = q1_fare - 1.5 * range_iqr_fare # Formula para hallar valores no atÃ­picos, es decir, valores normales.
# LÃ­mite superior
upper_bound_fare  = q3_fare + 1.5 * range_iqr_fare # Formula para hallar valores atÃ­picos, es decir, valores no normales.

df_titanic_atipicos = df_titanic.filter(
    (pl.col("fare")<lower_bound_fare) |
    (pl.col("fare")>upper_bound_fare) 
)
# df_titanic_atipicos.head()


df_titanic_normales = df_titanic.filter(
    (pl.col("fare")>=lower_bound_fare) &
    (pl.col("fare")<=upper_bound_fare) 
)
df_titanic_normales.head()

print(f"Cantidad de datos inicial: {df_titanic.shape[0]}")
print(f"Cantidad de datos atÃ­picos: {df_titanic_atipicos.shape[0]}")
print(f"Cantidad de datos normales: {df_titanic_normales.shape[0]}")

Cantidad de datos inicial: 891
Cantidad de datos atÃ­picos: 116
Cantidad de datos normales: 775