## ‚ö° Anal√≠tica Turbo con Polars: Fundamentos que todo Analista Moderno debe conocer üêª‚Äç‚ùÑÔ∏è

---

üë®‚Äçüíª Autor: Brayan Neciosup  
üìç Portafolio: [brayanneciosup](https://bryanneciosup626.wixsite.com/brayandataanalitics)  
üîó LinkedIn: [linkedin.com/brayanneciosup](https://www.linkedin.com/in/brayan-rafael-neciosup-bola%C3%B1os-407a59246/)  
üíª GitHub: [github.com/BrayanR03](https://github.com/BrayanR03)  
üìö Serie: Fundamentos de Pandas y Polars

In [2]:
# Instalar librer√≠a de polars: pip install polars
# Importamos la librer√≠a
import polars as pl

### üìå Series en Polars: Rendimiento y Simplicidad en una dimensi√≥n

####  ‚úÖDEFINICI√ìN DE UNA SERIE EN POLARS üêª‚Äç‚ùÑÔ∏è

Sintaxis: 

serie = pl.Series(name = NombreColumnaSerie, values = ValoresSerie, dtype = pl.TipoDatoSeg√∫nValores)

**Importante: A diferencia de Pandas, Polars ya no trabaja con √≠ndices en sus Series y se define
              el tipo de dato que tendr√° la serie (int,str,object, entre otros..)
              Sin embargo, al tener diferentes tipos de datos en la serie, y no definir mediante "dtype"
              que tipo de datos se almacenar√°n, saldr√° un error al imprimir la serie.

In [13]:
# Serie - Ejemplo 1 (Un solo tipo de dato):
data_1=[1,2,3,4,5]
serie_1=pl.Series(name="Valores",values=data_1,dtype=pl.Int64)
print("==== SERIE 1 - UN SOLO TIPO DE DATO") 
print(serie_1)
                                                # üí°üí°‚û°Ô∏èSIEMPRE DEFINIR EL TIPO DE DATO EN LA SERIE
# Serie - Ejemplo 2 (Varios tipos de datos):
data_2=[1,2,True,2.5,"Hola"]
serie_2=pl.Series(name="Valores2",values=data_2,dtype=pl.Object)
print("==== SERIE 2 - VARIOS TIPOS DE DATOS") 
print(serie_2)

# # Serie - Ejemplo 3 (Sin definir tipo de dato - error ‚ùå):
# data_3=[1,2,True,2.5,"Hola"]
# serie_3=pl.Series(name="Valores3",values=data_3)
# print("==== SERIE 3 - VARIOS TIPOS DE DATOS ‚ùå") 
# print(serie_3)

==== SERIE 1 - UN SOLO TIPO DE DATO
shape: (5,)
Series: 'Valores' [i64]
[
	1
	2
	3
	4
	5
]
==== SERIE 2 - VARIOS TIPOS DE DATOS
shape: (5,)
Series: 'Valores2' [o][object]
[
	1
	2
	True
	2.5
	Hola
]

#### ‚úÖ OPERACIONES CON SERIES EN POLARS üêª‚Äç‚ùÑÔ∏è

In [44]:
serie_example = pl.Series(name="Valores",values=[10,15,35,2,82,15,13],dtype=pl.Int64) # ‚¨ÖÔ∏è Trabajaremos con un solo tipo de dato (Int64) 
serie_example

shape: (7,)
Series: 'Valores' [i64]
[
	10
	15
	35
	2
	82
	15
	13
]

In [16]:
# a). Obtener un valor por el √≠ndice establecido
print(serie_example[5]) # ‚¨ÖÔ∏è Accedemos el elemento del √≠ndice 5

15

In [ ]:
# b). Filtrar valores: Para realizar el filtrado debemos llamar al m√©todo .filter() y aplicar la condici√≥n.
# Sintaxis: serie_nombre.filter(serie_nombre + condici√≥n) ‚¨ÖÔ∏è condiciones usando operadores l√≥gicos: > | < | = | >= | <= | !=
# Ejemplo : 
print(serie_example.filter(serie_example>18))  # ( Valores de la serie mayores a 18 )

shape: (2,)
Series: 'Valores' [i64]
[
	35
	82
]

In [18]:
# c). Realizar operaciones aritm√©ticas b√°sicas:
# Sintaxis: 
# operacion_serie = nombre_serie + | - | / | * 

# Estas operaciones a realizar, devuelven una estructura "ambigua" en Polars. Por ello, si queremos convertirla a
# un formato mas legible, realizamos los pasos para definir la serie.

# new_serie = pl.Series(name=NombreColumna,values=new_serie,dtype=pl.Int64)

# Ejemplo:
aumentar_serie = serie_example + 10  # ( Aumentar en 10, cada valor de la serie )
# print(aumentar_serie) # ‚¨ÖÔ∏è Formato "ambiguo"
new_serie = pl.Series(name="ValorNuevo",values=aumentar_serie,dtype=pl.Int64)
new_serie # ‚¨ÖÔ∏è‚úÖFormato mas legible

shape: (7,)
Series: 'ValorNuevo' [i64]
[
	20
	25
	45
	12
	92
	25
	23
]

In [68]:
# d). Reemplazar valores de series: 
# Las series al ser mutables, debemos almacenarlas en nuevas variables para que se reemplace.
# Adem√°s, si deseamos realizar condiciones para el reemplazo de valores, usaremos numpy.
# Sintaxis:
# new_serie = serie.replace({ValorAntiguoEnSerie:ValorNuevoAReemplazar}) ‚¨ÖÔ∏è m√©todo .replace() solo para valores individuales
# serie_condicionada = np.where(serie_example>30,100,serie_example) ‚¨ÖÔ∏è usando np.where() de numpy para condiciones de valores m√∫ltiples

# Ejemplo 1: Usando numpy - Instalar librer√≠a de numpy: pip install numpy
import numpy as np
serie_condicionada = np.where(serie_example>30,100,serie_example) # ‚¨ÖÔ∏è Condiciones de varios valores usando np.where()
new_serie_1 = pl.Series(values=serie_condicionada,name="Valores") # ‚¨ÖÔ∏è Formateamos a una serie el array devuelto por numpy.
print(new_serie_1)
# Ejemplo 2:
new_serie_2 = serie_example.replace({35:100}) # ‚¨ÖÔ∏è Reemplazamos valores individuales sin condici√≥n (30 por 100)
print(new_serie_2)

shape: (7,)
Series: 'Valores' [i64]
[
	10
	15
	100
	2
	100
	15
	13
]
shape: (7,)
Series: 'Valores' [i64]
[
	10
	15
	100
	2
	82
	15
	13
]

### üìå Dataframes en Polars: ...

####  ‚úÖDEFINICI√ìN DE UN DATAFRAME EN POLARS üêª‚Äç‚ùÑÔ∏è

Son estructuras de datos bidimensionales, que permiten almacenar informaci√≥n en forma de una matriz (FilasxColumnas),
las cu√°les, deben estar de acorde al tipo de dato definido en la columna. Sin embargo, a diferencia de Pandas, Polars
presenta una optimizaci√≥n en la manipulaci√≥n de la informaci√≥, debido que distribuye la lectura de los diversos
or√≠genes de datos en todos los n√∫cleos del procesador.

SINTAXIS:

        dataframe_nombre = pl.DataFrame(data=DatosDataframe,schema=NombreColumnasPreviamenteDefinidas,orient= row[usado] | col)

In [ ]:
# DEFINIR UN DATAFRAME MEDIANTE UN DICCIONARIO
"""
üìù Nota: Si queremos definir un dataframe desde un diccionario, las claves del diccionario se convertir√°n
         en las columnas del dataframe y los valores ser√°n la informaci√≥n almacenada bidireccionalmente
         por cada columna del dataframe.
"""
diccionario_example = {
    "Nombre":["Brayan","Rafael","Pepito"],
    "Edad": [25,27,20],
    "Nota":[15,10,16]
}
dict_to_df = pl.DataFrame(diccionario_example)
dict_to_df.head() # ‚¨ÖÔ∏è Funci√≥n b√°sica que permite ver los 5 primeros registros de un dataframe. 
### üí° Adicionalmente, Polars muestra el tipo de dato de las columnas del dataframe

shape: (3, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Nombre ‚îÜ Edad ‚îÜ Nota ‚îÇ
‚îÇ ---    ‚îÜ ---  ‚îÜ ---  ‚îÇ
‚îÇ str    ‚îÜ i64  ‚îÜ i64  ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ Brayan ‚îÜ 25   ‚îÜ 15   ‚îÇ
‚îÇ Rafael ‚îÜ 27   ‚îÜ 10   ‚îÇ
‚îÇ Pepito ‚îÜ 20   ‚îÜ 16   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [ ]:
# DEFINIR UN DATAFRAME DESDE CERO
dataframe = pl.DataFrame(data=[["Brayan",25,15],["Rafael",27,10],["Pepito",20,16]],
                         schema=["Nombre","Edad","Nota"],orient="row") # ‚¨ÖÔ∏è Establecemos row para que los datos sean asignado como filas

dataframe.head()

"""
üí° Importante: Al definir las columnas para el Dataframe debemos tener en cuenta que
               se deben tener la misma cantidad de elementos de acuerdo a la cantidad de columnas,
               caso contrario, generar√° un error porque ciertas filas, no tienen la misma cantidad
               de elementos que la  columnas.
"""

# dataframe_valores_faltantes = pl.DataFrame(data=[["Brayan",15],["Rafael",15],["Pepito",20]],
#                                 schema=["Nombre","Edad","Nota"])
# dataframe_valores_faltantes.head() # ‚ùå Genera error porque los datos solo tiene 2 elementos y el dataframe presenta 3 columnas.

shape: (3, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Nombre ‚îÜ Edad ‚îÜ Nota ‚îÇ
‚îÇ ---    ‚îÜ ---  ‚îÜ ---  ‚îÇ
‚îÇ str    ‚îÜ i64  ‚îÜ i64  ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ Brayan ‚îÜ 25   ‚îÜ 15   ‚îÇ
‚îÇ Rafael ‚îÜ 27   ‚îÜ 10   ‚îÇ
‚îÇ Pepito ‚îÜ 20   ‚îÜ 16   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [ ]:
# DEFINIR UN DATAFRAME COLUMNA POR COLUMNA

dataframe_columna_a_columna = pl.DataFrame() # ‚¨ÖÔ∏è Inicializamos un dataframe vac√≠o (As√≠ como cuando inicializamos un objeto vac√≠o en programaci√≥n)
dataframe_columna_a_columna.head()

"""
    üìùNota: Para poder definir columnas en un dataframe de Polars, debemos hacer referencia al dataframe, para poder
            definir sus nuevas columnas y otros cambios que querramos realizar. Asimismo, podemos inicializar un dataframe vac√≠o, 
            e ir llenandolo poco a poco (seg√∫n sea la casu√≠stica).
            
            Tambi√©n, podemos mezclar el uso de series en los Dataframes, porque, las Series son <<columnas>>.
"""


dataframe_columna_a_columna = dataframe_columna_a_columna.with_columns( # ‚¨ÖÔ∏è Funci√≥n que permite trabajar sobre o crear nuevas  columnas en un dataframe.
        pl.Series(values=["Brayan","Rafael","Pepito"],name="ColumnaNombre",dtype=pl.String),  #‚¨ÖÔ∏è Definimos una columna con una serie.
        pl.Series(values=[21,45,19],name="ColumnaEdad",dtype=pl.Int64),  #‚¨ÖÔ∏è Definimos una columna con una serie.        
)
dataframe_columna_a_columna = dataframe_columna_a_columna.with_columns(
        (pl.col("ColumnaEdad")+10).alias("ColumnasEdad+10") 
        # ‚úÖ Funci√≥n pl.col(NombreColumna) nos permite acceder a una columna en base a su nombre
        # ‚úÖ Funci√≥n .alias(NuevoNombreColumna) nos permite renombrar una columna
)
dataframe_columna_a_columna.head()

"""
    üí°Importante: Al definir columna por columna un dataframe en Polars debemos si o s√≠ colocar
                  la misma cantidad de datos entre cada columna.                  
"""
# dataframe_valores_faltantes = pl.DataFrame()
# dataframe_valores_faltantes = dataframe_valores_faltantes.with_columns( # ‚¨ÖÔ∏è Funci√≥n que permite trabajar sobre o crear nuevas  columnas en un dataframe.
#         pl.Series(values=["Brayan","Rafael"],name="ColumnaNombre",dtype=pl.String),  #‚¨ÖÔ∏è Definimos una columna con una serie.
#         pl.Series(values=[21,45,19],name="ColumnaEdad",dtype=pl.Int64),  #‚¨ÖÔ∏è Definimos una columna con una serie.        
# )
# dataframe_valores_faltantes.head()

shape: (3, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ ColumnaNombre ‚îÜ ColumnaEdad ‚îÜ ColumnasEdad+10 ‚îÇ
‚îÇ ---           ‚îÜ ---         ‚îÜ ---             ‚îÇ
‚îÇ str           ‚îÜ i64         ‚îÜ i64             ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ Brayan        ‚îÜ 21          ‚îÜ 31              ‚îÇ
‚îÇ Rafael        ‚îÜ 45          ‚îÜ 55              ‚îÇ
‚îÇ Pepito        ‚îÜ 19          ‚îÜ 29              ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

#### ‚úÖ OPERACIONES CON DATAFRAMES EN POLARS üêª‚Äç‚ùÑÔ∏è

In [3]:
df_example = pl.DataFrame(data=[["BRAYAN",15,13],["RAFAEL",25,19],["PEPITO",20,10]],
                          schema=["Nombre","Edad","Nota"],orient="row")
df_example.head()

shape: (3, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Nombre ‚îÜ Edad ‚îÜ Nota ‚îÇ
‚îÇ ---    ‚îÜ ---  ‚îÜ ---  ‚îÇ
‚îÇ str    ‚îÜ i64  ‚îÜ i64  ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ BRAYAN ‚îÜ 15   ‚îÜ 13   ‚îÇ
‚îÇ RAFAEL ‚îÜ 25   ‚îÜ 19   ‚îÇ
‚îÇ PEPITO ‚îÜ 20   ‚îÜ 10   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [ ]:
# A). OBTENER EL VALOR O VALORES DE LA COLUMNA DE UN DATAFRAME MEDIANTE SU NOMBRE.

"""
    üìù SINTAXIS: 
    
        dataframe_nombre[NombreColumna] ‚¨ÖÔ∏è Llamamos al dataframe directamente o
        print(dataframe_nombre[NombreColumna]) ‚¨ÖÔ∏è Usamos print()
        
        **Importante: Cuando llamamos con solo un par de corchetes "[]", muestra los resultados,
                      
        ### üß† Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables. 
"""
# üí° EJEMPLO 1: Obtener valores de una columna
# df_example["Nota"]

# üí° EJEMPLO 2: Obtener valores de varias columnas
df_example[["Nota","Nombre"]]

shape: (3, 2)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Nota ‚îÜ Nombre ‚îÇ
‚îÇ ---  ‚îÜ ---    ‚îÇ
‚îÇ i64  ‚îÜ str    ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 13   ‚îÜ BRAYAN ‚îÇ
‚îÇ 19   ‚îÜ RAFAEL ‚îÇ
‚îÇ 10   ‚îÜ PEPITO ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [14]:
# B). OBTENER UNA FILA DE VALORES ESPEC√çFICAS DEL DATAFRAME

"""
    üìù SINTAXIS:
    
        dataframe_nombre[NumeroIndice] ‚¨ÖÔ∏è Recordemos que el indice empieza en 0.
    
    üí° Importante: Tener en cuenta que el √≠ndice o n√∫mero a ingresar, no debe superar 
                    el tama√±o de valores.    
        
    ### üß† Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""

# üí° EJEMPLO 1: N√öMERO DE √çNDICE CORRECTO ‚úÖ 
df_example[0] # ‚¨ÖÔ∏è N√∫mero de indice: 2 (Retorna todos los registros de la fila 1, √≠ndice 0).

## üí° EJEMPLO 2: N√öMERO DE √çNDICE INCORRECTO ‚ùå 

## df_example[3] # ‚¨ÖÔ∏è N√∫mero de indice: 3.
## ‚ùå Error: √çndice fuera de los l√≠mites

shape: (1, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Nombre ‚îÜ Edad ‚îÜ Nota ‚îÇ
‚îÇ ---    ‚îÜ ---  ‚îÜ ---  ‚îÇ
‚îÇ str    ‚îÜ i64  ‚îÜ i64  ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ BRAYAN ‚îÜ 15   ‚îÜ 13   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [17]:
# C). OBTENER UN VALOR ESPEC√çFICO DE UN REGISTRO, BASADO EN SU N√öMERO DE √çNDICE
#     Y EL NOMBRE DE UNA COLUMNA.
"""
    üìù SINTAXIS: 
    
        dataframe_nombre[NumeroIndice,NombreColumna] ‚¨ÖÔ∏è De esta manera accederemos solo a valores espec√≠ficos.
        
        ### üß† Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""
# üí° EJEMPLO: 
# df_example[1,"Nota"] # ‚¨ÖÔ∏è Accedemos a la fila con √≠ndice 1 y la columna de nombre Nota.
print(df_example[1,"Nota"]) # ‚¨ÖÔ∏è Accedemos a la fila con √≠ndice 1 y la columna de nombre Nota.

19

In [ ]:
# D). FILTRAR VALORES EN UN DATAFRAME:

""" 
    Para realizar el filtro de valores nos basaremos en condiciones que la o las columnas
    deben cumplir. Por ende, ya no utilizaremos el m√©todo .query() o el filtrado a trav√©s []
    como en Pandas, sino mediante su propia funci√≥n .filter().
    
   üí° Importante: Para poder acceder a una columna y realizar el filtro correspondiente,
       utilizaremos pl.col() que crea una expresi√≥n de la columna verificando su existencia.
    
    üìù SINTAXIS:
     
        dataframe_nombre.filter( ‚¨ÖÔ∏è M√©todo filter() para realizar filtrado.
                pl.col(NombreColumna) |CondicionColumna|        ‚¨ÖÔ∏è Filtramos por una columna.
                (pl.col(NombreColumna1) |CondicionColumna1| ) & 
                (pl.col(NombreColumna2) |CondicionColumna2| )   ‚¨ÖÔ∏è Filtramos por varias columnas.
        )
        
        ( > || < || >= || <= || != ) ‚¨ÖÔ∏è Operadores l√≥gicos 
        
        ### üß† Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""
# üí° EJEMPLO 1: USANDO OPERADORES L√ìGICOS (EN UNA COLUMNA)

# df_example.filter(pl.col("Nota")>15) # ‚¨ÖÔ∏è Notas mayores a 15
# df_example.filter(pl.col("Nombre")!='RAFAEL') # ‚¨ÖÔ∏è Todos los nombre diferentes a RAFAEL

# üí° EJEMPLO 2: USANDO OPERADORES L√ìGICOS (EN M√ÅS DE UNA COLUMNA)

# df_example.filter((pl.col("Edad")==20) & (pl.col("Nota")==10)) # ‚¨ÖÔ∏è Edad igual a 20 y Nota 10. (2 columnas)
## ‚û°Ô∏è Cada condici√≥n de filtro, la debemos separar mediante par√©ntesis ().

# üí° EJEMPLO 3:

df_filtrado = df_example.filter((pl.col("Edad")==20) | (pl.col("Nota")==19)) # Filtrando por dos columnas (Usamos or)
df_filtrado.head()

shape: (2, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Nombre ‚îÜ Edad ‚îÜ Nota ‚îÇ
‚îÇ ---    ‚îÜ ---  ‚îÜ ---  ‚îÇ
‚îÇ str    ‚îÜ i64  ‚îÜ i64  ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ RAFAEL ‚îÜ 25   ‚îÜ 19   ‚îÇ
‚îÇ PEPITO ‚îÜ 20   ‚îÜ 10   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [ ]:
# E). AGREGAR UNA O VARIAS COLUMNAS AL DATAFRAME:

"""
    Para poder agregar una nueva columna en Polars, a diferencia de Pandas que donde se defin√≠a
    entre [] una nueva columna, en Polars, usamos metodos directamente al dataframe, este m√©todo
    es .with_columns(), donde podemos crear columnas nuevas a ra√≠z del c√°lculo de otras columnas.
    
    üìù SINTAXIS:

        dataframe_nombre = dataframe_nombre.with_columns(
            pl.col(NombreColumna).alias("NombreNuevaColumna")  ‚¨ÖÔ∏è Primera forma de crear una nueva columna (recomendada).
            NombreNuevaColumna = pl.col(NombreColumnaCalculo)  ‚¨ÖÔ∏è Segunda forma de crear una nueva columna.
            pl.Series(values=[Valores],name="NombreNuevaColumna",dtype=TipoDato) ‚¨ÖÔ∏è Tercera forma de crear una nueva columna (serie).
        )
        
    ### ‚ö†Ô∏è Tengamos en cuenta que para realizar cambios al dataframe, debemos llamar al dataframe otra vez.
"""

# üí° EJERCICIO 1: NUEVA COLUMNA CON INFORMACI√ìN

df_example = df_example.with_columns(
    pl.Series(values=[1,2,3],name="Puntaje",dtype=pl.Int64) 
    # ‚¨ÖÔ∏è Recodemos que para esta forma de agregar informaci√≥n
    #    debe contener la misma cantidad de datos que 
    #    el total de registros.
)
# df_example.head()

# üí° EJERCICIO 2: NUEVA COLUMNA CALCULADA v1.
df_example = df_example.with_columns(
    (pl.col("Nota")*pl.col("Puntaje")).alias("Ranking")
)                                                    #    a las columnas a trav√©s de los corchetes [].
# df_example.head()


# üí° EJERCICIO 3: NUEVA COLUMNA CALCULADA v2.
df_example = df_example.with_columns(
    Extra = (pl.col("Nota")/pl.col("Puntaje")) 
)
df_example.head()

shape: (3, 6)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Nombre ‚îÜ Edad ‚îÜ Nota ‚îÜ Puntaje ‚îÜ Ranking ‚îÜ Extra    ‚îÇ
‚îÇ ---    ‚îÜ ---  ‚îÜ ---  ‚îÜ ---     ‚îÜ ---     ‚îÜ ---      ‚îÇ
‚îÇ str    ‚îÜ i64  ‚îÜ i64  ‚îÜ i64     ‚îÜ i64     ‚îÜ f64      ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ BRAYAN ‚îÜ 15   ‚îÜ 13   ‚îÜ 1       ‚îÜ 13      ‚îÜ 13.0     ‚îÇ
‚îÇ RAFAEL ‚îÜ 25   ‚îÜ 19   ‚îÜ 2       ‚îÜ 38      ‚îÜ 9.5      ‚îÇ
‚îÇ PEPITO ‚îÜ 20   ‚îÜ 10   ‚îÜ 3       ‚îÜ 30      ‚îÜ 3.333333 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [ ]:
# F). ELIMINAR COLUMNAS DEL DATAFRAME:

"""
   A diferencia de Pandas donde llamamos directamente a la funcion con el dataset y realizamos la operaci√≥n.
   En Polars debemos llamar al mismo dataframe y/o asignarlo a una nueva variable para poder visualizar
   los cambios de la eliminaci√≥n.
    
    
    üìù SINTAXIS:
    
        dataframe_nombre = dataframe_nombre.drop([NombreColumna1,NombreColumna2],strict=True | False [EvaluaExistenciaDeColumnas])

    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe

    ### ‚ö†Ô∏è Debemos tener en cuenta que si volvemos a ejecutar el c√≥digo de eliminar columnas
           la columna especificada como ya no existe, lanzar√° error.

"""

# üí° EJEMPLO 1:
# df_example = df_example.drop("Ranking",strict=True) # ‚¨ÖÔ∏è Establecemos True en strict ‚úÖ
# df_example.head() # ‚¨ÖÔ∏è Verificamos que si se elimino correctamente la columna

# üí° EJEMPLO 2:
# df_copia = df_example # ‚¨ÖÔ∏è M√©todo .copy() que permite copiar el dataframe a otra variable.
# df_copia = df_copia.drop(["Nota","Puntaje"],strict=True) # ‚¨ÖÔ∏è Establecemos True en strict ‚úÖ
# df_copia.head() # ‚¨ÖÔ∏è Verificamos que si se elimino correctamente las columnas

shape: (3, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Nombre ‚îÜ Edad ‚îÜ Extra    ‚îÇ
‚îÇ ---    ‚îÜ ---  ‚îÜ ---      ‚îÇ
‚îÇ str    ‚îÜ i64  ‚îÜ f64      ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ BRAYAN ‚îÜ 15   ‚îÜ 13.0     ‚îÇ
‚îÇ RAFAEL ‚îÜ 25   ‚îÜ 9.5      ‚îÇ
‚îÇ PEPITO ‚îÜ 20   ‚îÜ 3.333333 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [45]:
# G). ORDERNAR LOS DATOS DEL DATAFRAME POR UNA O VARIAS COLUMNAS

"""
    üìù SINTAXIS: 

        dataframe_nombre = dataframe_nombre.sort(by=NombreColumna,descending=True | False) 
        
    üí° Importante: Al establecer el valor de descending en True, los datos se ordenan
                   de mayor a menor por la columna que especifiquemos. Sin embargo, sino 
                   llamamos a la propiedad descending o por el contrario, se establece el valor en False,
                   los datos se ordenan de menor a mayor.
                   
        ### üß† Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""
# üí° EJEMPLO 1: ‚û°Ô∏è Ordenamos Alfab√©ticamente (A-Z)

# df_example.sort(by="Nombre",descending=False).head()

# üí° EJEMPLO 2: ‚û°Ô∏è Ordenamos Alfab√©ticamente (Z-A)

# df_example.sort(by="Nombre",descending=True).head()

# üí° EJEMPLO 3: ‚û°Ô∏è Ordenamos por columna Num√©rica (De menor a mayor)

# df_example.sort(by="Edad",descending=False).head()

# üí° EJEMPLO 4: ‚û°Ô∏è Ordenamos por columna Num√©rica (De mayor a menor)

df_example.sort(by="Edad",descending=True).head()

shape: (3, 5)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Nombre ‚îÜ Edad ‚îÜ Nota ‚îÜ Puntaje ‚îÜ Extra    ‚îÇ
‚îÇ ---    ‚îÜ ---  ‚îÜ ---  ‚îÜ ---     ‚îÜ ---      ‚îÇ
‚îÇ str    ‚îÜ i64  ‚îÜ i64  ‚îÜ i64     ‚îÜ f64      ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ RAFAEL ‚îÜ 25   ‚îÜ 19   ‚îÜ 2       ‚îÜ 9.5      ‚îÇ
‚îÇ PEPITO ‚îÜ 20   ‚îÜ 10   ‚îÜ 3       ‚îÜ 3.333333 ‚îÇ
‚îÇ BRAYAN ‚îÜ 15   ‚îÜ 13   ‚îÜ 1       ‚îÜ 13.0     ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

#### ‚úÖ RANGO INTERQUARTIL EN POLARS üêª‚Äç‚ùÑÔ∏è

El rango interquartil (IQR) es una m√©trica estad√≠stica utilizada para identificar valores at√≠picos en un conjunto de datos. Su uso es esencial en procesos de limpieza y validaci√≥n, debido que permite evaluar la integridad del dataset al detectar registros que se desv√≠an significativamente del comportamiento general. En proyectos de Machine Learning, una correcta identificaci√≥n de outliers a trav√©s del IQR permite mejorar la calidad de los datos de entrada, lo que impacta directamente en el rendimiento y generalizaci√≥n de los modelos. Para perfiles como Data Analysts y Data Engineers, el IQR se convierte en una herramienta clave en la etapa de preprocesamiento de datos.

In [12]:
# ESTAD√çSTICA B√ÅSICA EN POLARS: Mediante la funci√≥n .describe()
"""
    üìù SINTAXIS:
    
        dataframe_nombre.describe() ‚¨ÖÔ∏è Esta funci√≥n devuelve: cantidad_valores||media||desviaci√≥n_est√°ndar||
                                                               valor_m√≠nimo||valor_m√°ximo||quartil_(1,2,3) ‚¨ÖÔ∏è Quartiles con.desribe()
    
    ### üí° Importante: Esta funci√≥n devuelve para las columnas con datos num√©ricos y Strings.
"""
""" ‚úÖ PARA LOS EJEMPLOS DE IQR, USAREMOS UN DATASET DE LA CARPETA datasets: titanic.csv"""

df_titanic = pl.read_csv("../datasets/titanic.csv",separator=",") # ‚¨ÖÔ∏è Lo explicaremos en pr√≥ximos temas
# df_titanic.head()

# üí° EJEMPLO 1 : 

# df_titanic.describe() # ‚¨ÖÔ∏è Verificamos las estad√≠sticas b√°sicas descriptivas del dataset

""" 
    QUARTILES:

    Los quartiles hacen referencia a las partes iguales divididas en 4 de todo el conjunto de datos.
    Q1 (25% de los datos) - Q2 (50% de los datos) - Q3 (75% de los datos) y Q4 (100% de los datos).
    
    üìù SINTAXIS:

    valor_quartil = np.percentile(ColumnaDeDataframeOSerie,CantidadCuartil)
    
    ### üß† Para los valores at√≠pico solo usaremos los quartiles 1 y 3.
"""

# üí° EJEMPLO 2: RANGO INTERQUARTIL (Columna "fare")

q1_fare = df_titanic.select(pl.col("fare").quantile(0.25)).item() # Percentil o Quartil 1
q3_fare = df_titanic.select(pl.col("fare").quantile(0.75)).item() # Percentil o Quartil 3

range_iqr_fare = q3_fare - q1_fare # C√°lculo del rango interquartil 

# L√≠mite inferior
lower_bound_fare  = q1_fare - 1.5 * range_iqr_fare # Formula para hallar valores no at√≠picos, es decir, valores normales.
# L√≠mite superior
upper_bound_fare  = q3_fare + 1.5 * range_iqr_fare # Formula para hallar valores at√≠picos, es decir, valores no normales.

df_titanic_atipicos = df_titanic.filter(
    (pl.col("fare")<lower_bound_fare) |
    (pl.col("fare")>upper_bound_fare) 
)
# df_titanic_atipicos.head()


df_titanic_normales = df_titanic.filter(
    (pl.col("fare")>=lower_bound_fare) &
    (pl.col("fare")<=upper_bound_fare) 
)
df_titanic_normales.head()

print(f"Cantidad de datos inicial: {df_titanic.shape[0]}")
print(f"Cantidad de datos at√≠picos: {df_titanic_atipicos.shape[0]}")
print(f"Cantidad de datos normales: {df_titanic_normales.shape[0]}")

Cantidad de datos inicial: 891
Cantidad de datos at√≠picos: 116
Cantidad de datos normales: 775