## ‚ö° Anal√≠tica Turbo con Polars: Fundamentos que todo Analista Moderno debe conocer üêª‚Äç‚ùÑÔ∏è

---

üë®‚Äçüíª Autor: Brayan Neciosup  
üìç Portafolio: [brayanneciosup](https://bryanneciosup626.wixsite.com/brayandataanalitics)  
üîó LinkedIn: [linkedin.com/brayanneciosup](https://www.linkedin.com/in/brayan-rafael-neciosup-bola%C3%B1os-407a59246/)  
üíª GitHub: [github.com/BrayanR03](https://github.com/BrayanR03)  
üìö Serie: Fundamentos de Pandas y Polars

In [1]:
# Instalar librer√≠a de polars: pip install polars
# Importamos la librer√≠a
import polars as pl

### üìå Series en Polars: Rendimiento y Simplicidad en una dimensi√≥n

####  ‚úÖDEFINICI√ìN DE UNA SERIE EN POLARS üêª‚Äç‚ùÑÔ∏è

Sintaxis: 

serie = pl.Series(name = NombreColumnaSerie, values = ValoresSerie, dtype = pl.TipoDatoSeg√∫nValores)

**Importante: A diferencia de Pandas, Polars ya no trabaja con √≠ndices en sus Series y se define
              el tipo de dato que tendr√° la serie (int,str,object, entre otros..)
              Sin embargo, al tener diferentes tipos de datos en la serie, y no definir mediante "dtype"
              que tipo de datos se almacenar√°n, saldr√° un error al imprimir la serie.

In [13]:
# Serie - Ejemplo 1 (Un solo tipo de dato):
data_1=[1,2,3,4,5]
serie_1=pl.Series(name="Valores",values=data_1,dtype=pl.Int64)
print("==== SERIE 1 - UN SOLO TIPO DE DATO") 
print(serie_1)
                                                # üí°üí°‚û°Ô∏èSIEMPRE DEFINIR EL TIPO DE DATO EN LA SERIE
# Serie - Ejemplo 2 (Varios tipos de datos):
data_2=[1,2,True,2.5,"Hola"]
serie_2=pl.Series(name="Valores2",values=data_2,dtype=pl.Object)
print("==== SERIE 2 - VARIOS TIPOS DE DATOS") 
print(serie_2)

# # Serie - Ejemplo 3 (Sin definir tipo de dato - error ‚ùå):
# data_3=[1,2,True,2.5,"Hola"]
# serie_3=pl.Series(name="Valores3",values=data_3)
# print("==== SERIE 3 - VARIOS TIPOS DE DATOS ‚ùå") 
# print(serie_3)

==== SERIE 1 - UN SOLO TIPO DE DATO
shape: (5,)
Series: 'Valores' [i64]
[
	1
	2
	3
	4
	5
]
==== SERIE 2 - VARIOS TIPOS DE DATOS
shape: (5,)
Series: 'Valores2' [o][object]
[
	1
	2
	True
	2.5
	Hola
]

#### ‚úÖ Operaciones con Series en Polars

In [44]:
serie_example = pl.Series(name="Valores",values=[10,15,35,2,82,15,13],dtype=pl.Int64) # ‚¨ÖÔ∏è Trabajaremos con un solo tipo de dato (Int64) 
serie_example

shape: (7,)
Series: 'Valores' [i64]
[
	10
	15
	35
	2
	82
	15
	13
]

In [16]:
# a). Obtener un valor por el √≠ndice establecido
print(serie_example[5]) # ‚¨ÖÔ∏è Accedemos el elemento del √≠ndice 5

15

In [ ]:
# b). Filtrar valores: Para realizar el filtrado debemos llamar al m√©todo .filter() y aplicar la condici√≥n.
# Sintaxis: serie_nombre.filter(serie_nombre + condici√≥n) ‚¨ÖÔ∏è condiciones usando operadores l√≥gicos: > | < | = | >= | <= | !=
# Ejemplo : 
print(serie_example.filter(serie_example>18))  # ( Valores de la serie mayores a 18 )

shape: (2,)
Series: 'Valores' [i64]
[
	35
	82
]

In [18]:
# c). Realizar operaciones aritm√©ticas b√°sicas:
# Sintaxis: 
# operacion_serie = nombre_serie + | - | / | * 

# Estas operaciones a realizar, devuelven una estructura "ambigua" en Polars. Por ello, si queremos convertirla a
# un formato mas legible, realizamos los pasos para definir la serie.

# new_serie = pl.Series(name=NombreColumna,values=new_serie,dtype=pl.Int64)

# Ejemplo:
aumentar_serie = serie_example + 10  # ( Aumentar en 10, cada valor de la serie )
# print(aumentar_serie) # ‚¨ÖÔ∏è Formato "ambiguo"
new_serie = pl.Series(name="ValorNuevo",values=aumentar_serie,dtype=pl.Int64)
new_serie # ‚¨ÖÔ∏è‚úÖFormato mas legible

shape: (7,)
Series: 'ValorNuevo' [i64]
[
	20
	25
	45
	12
	92
	25
	23
]

In [68]:
# d). Reemplazar valores de series: 
# Las series al ser mutables, debemos almacenarlas en nuevas variables para que se reemplace.
# Adem√°s, si deseamos realizar condiciones para el reemplazo de valores, usaremos numpy.
# Sintaxis:
# new_serie = serie.replace({ValorAntiguoEnSerie:ValorNuevoAReemplazar}) ‚¨ÖÔ∏è m√©todo .replace() solo para valores individuales
# serie_condicionada = np.where(serie_example>30,100,serie_example) ‚¨ÖÔ∏è usando np.where() de numpy para condiciones de valores m√∫ltiples

# Ejemplo 1: Usando numpy - Instalar librer√≠a de numpy: pip install numpy
import numpy as np
serie_condicionada = np.where(serie_example>30,100,serie_example) # ‚¨ÖÔ∏è Condiciones de varios valores usando np.where()
new_serie_1 = pl.Series(values=serie_condicionada,name="Valores") # ‚¨ÖÔ∏è Formateamos a una serie el array devuelto por numpy.
print(new_serie_1)
# Ejemplo 2:
new_serie_2 = serie_example.replace({35:100}) # ‚¨ÖÔ∏è Reemplazamos valores individuales sin condici√≥n (30 por 100)
print(new_serie_2)

shape: (7,)
Series: 'Valores' [i64]
[
	10
	15
	100
	2
	100
	15
	13
]
shape: (7,)
Series: 'Valores' [i64]
[
	10
	15
	100
	2
	82
	15
	13
]

### üìå Dataframes en Polars: ...

####  ‚úÖDEFINICI√ìN DE UN DATAFRAME EN POLARS üêª‚Äç‚ùÑÔ∏è

Son estructuras de datos bidimensionales, que permiten almacenar informaci√≥n en forma de una matriz (FilasxColumnas),
las cu√°les, deben estar de acorde al tipo de dato definido en la columna. Sin embargo, a diferencia de Pandas, Polars
presenta una optimizaci√≥n en la manipulaci√≥n de la informaci√≥, debido que distribuye la lectura de los diversos
or√≠genes de datos en todos los n√∫cleos del procesador.

SINTAXIS:

        dataframe_nombre = pl.DataFrame(data=DatosDataframe,schema=NombreColumnasPreviamenteDefinidas,orient= row[usado] | col)

In [ ]:
# DEFINIR UN DATAFRAME MEDIANTE UN DICCIONARIO
"""
üìù Nota: Si queremos definir un dataframe desde un diccionario, las claves del diccionario se convertir√°n
         en las columnas del dataframe y los valores ser√°n la informaci√≥n almacenada bidireccionalmente
         por cada columna del dataframe.
"""
diccionario_example = {
    "Nombre":["Brayan","Rafael","Pepito"],
    "Edad": [25,27,20],
    "Nota":[15,10,16]
}
dict_to_df = pl.DataFrame(diccionario_example)
dict_to_df.head() # ‚¨ÖÔ∏è Funci√≥n b√°sica que permite ver los 5 primeros registros de un dataframe. 
### üí° Adicionalmente, Polars muestra el tipo de dato de las columnas del dataframe

shape: (3, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Nombre ‚îÜ Edad ‚îÜ Nota ‚îÇ
‚îÇ ---    ‚îÜ ---  ‚îÜ ---  ‚îÇ
‚îÇ str    ‚îÜ i64  ‚îÜ i64  ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ Brayan ‚îÜ 25   ‚îÜ 15   ‚îÇ
‚îÇ Rafael ‚îÜ 27   ‚îÜ 10   ‚îÇ
‚îÇ Pepito ‚îÜ 20   ‚îÜ 16   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [ ]:
# DEFINIR UN DATAFRAME DESDE CERO
dataframe = pl.DataFrame(data=[["Brayan",25,15],["Rafael",27,10],["Pepito",20,16]],
                         schema=["Nombre","Edad","Nota"],orient="row") # ‚¨ÖÔ∏è Establecemos row para que los datos sean asignado como filas

dataframe.head()

"""
üí° Importante: Al definir las columnas para el Dataframe debemos tener en cuenta que
               se deben tener la misma cantidad de elementos de acuerdo a la cantidad de columnas,
               caso contrario, generar√° un error porque ciertas filas, no tienen la misma cantidad
               de elementos que la  columnas.
"""

# dataframe_valores_faltantes = pl.DataFrame(data=[["Brayan",15],["Rafael",15],["Pepito",20]],
#                                 schema=["Nombre","Edad","Nota"])
# dataframe_valores_faltantes.head() # ‚ùå Genera error porque los datos solo tiene 2 elementos y el dataframe presenta 3 columnas.

shape: (3, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Nombre ‚îÜ Edad ‚îÜ Nota ‚îÇ
‚îÇ ---    ‚îÜ ---  ‚îÜ ---  ‚îÇ
‚îÇ str    ‚îÜ i64  ‚îÜ i64  ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ Brayan ‚îÜ 25   ‚îÜ 15   ‚îÇ
‚îÇ Rafael ‚îÜ 27   ‚îÜ 10   ‚îÇ
‚îÇ Pepito ‚îÜ 20   ‚îÜ 16   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [ ]:
# DEFINIR UN DATAFRAME COLUMNA POR COLUMNA

dataframe_columna_a_columna = pl.DataFrame() # ‚¨ÖÔ∏è Inicializamos un dataframe vac√≠o (As√≠ como cuando inicializamos un objeto vac√≠o en programaci√≥n)
dataframe_columna_a_columna.head()

"""
    üìùNota: Para poder definir columnas en un dataframe de Polars, debemos hacer referencia al dataframe, para poder
            definir sus nuevas columnas y otros cambios que querramos realizar. Asimismo, podemos inicializar un dataframe vac√≠o, 
            e ir llenandolo poco a poco (seg√∫n sea la casu√≠stica).
            
            Tambi√©n, podemos mezclar el uso de series en los Dataframes, porque, las Series son <<columnas>>.
"""


dataframe_columna_a_columna = dataframe_columna_a_columna.with_columns( # ‚¨ÖÔ∏è Funci√≥n que permite trabajar sobre o crear nuevas  columnas en un dataframe.
        pl.Series(values=["Brayan","Rafael","Pepito"],name="ColumnaNombre",dtype=pl.String),  #‚¨ÖÔ∏è Definimos una columna con una serie.
        pl.Series(values=[21,45,19],name="ColumnaEdad",dtype=pl.Int64),  #‚¨ÖÔ∏è Definimos una columna con una serie.        
)
dataframe_columna_a_columna = dataframe_columna_a_columna.with_columns(
        (pl.col("ColumnaEdad")+10).alias("ColumnasEdad+10") 
        # ‚úÖ Funci√≥n pl.col(NombreColumna) nos permite acceder a una columna en base a su nombre
        # ‚úÖ Funci√≥n .alias(NuevoNombreColumna) nos permite renombrar una columna
)
dataframe_columna_a_columna.head()

"""
    üí°Importante: Al definir columna por columna un dataframe en Polars debemos si o s√≠ colocar
                  la misma cantidad de datos entre cada columna.                  
"""
# dataframe_valores_faltantes = pl.DataFrame()
# dataframe_valores_faltantes = dataframe_valores_faltantes.with_columns( # ‚¨ÖÔ∏è Funci√≥n que permite trabajar sobre o crear nuevas  columnas en un dataframe.
#         pl.Series(values=["Brayan","Rafael"],name="ColumnaNombre",dtype=pl.String),  #‚¨ÖÔ∏è Definimos una columna con una serie.
#         pl.Series(values=[21,45,19],name="ColumnaEdad",dtype=pl.Int64),  #‚¨ÖÔ∏è Definimos una columna con una serie.        
# )
# dataframe_valores_faltantes.head()

shape: (3, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ ColumnaNombre ‚îÜ ColumnaEdad ‚îÜ ColumnasEdad+10 ‚îÇ
‚îÇ ---           ‚îÜ ---         ‚îÜ ---             ‚îÇ
‚îÇ str           ‚îÜ i64         ‚îÜ i64             ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ Brayan        ‚îÜ 21          ‚îÜ 31              ‚îÇ
‚îÇ Rafael        ‚îÜ 45          ‚îÜ 55              ‚îÇ
‚îÇ Pepito        ‚îÜ 19          ‚îÜ 29              ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò