## âš¡ AnalÃ­tica Turbo con Polars: Fundamentos que todo Analista Moderno debe conocer ğŸ»â€â„ï¸

---

ğŸ‘¨â€ğŸ’» Autor: Brayan Neciosup  
ğŸ“ Portafolio: [brayanneciosup](https://bryanneciosup626.wixsite.com/brayandataanalitics)  
ğŸ”— LinkedIn: [linkedin.com/brayanneciosup](https://www.linkedin.com/in/brayan-rafael-neciosup-bola%C3%B1os-407a59246/)  
ğŸ’» GitHub: [github.com/BrayanR03](https://github.com/BrayanR03)  
ğŸ“š Serie: Fundamentos de Pandas y Polars

In [1]:
# Instalar librerÃ­a de polars: pip install polars
# Importamos la librerÃ­a
import polars as pl

### ğŸ“Œ Dataframes en Polars: ...

#### âœ… OPERACIONES CON DATAFRAMES EN POLARS ğŸ»â€â„ï¸

Como se mencionÃ³ anteriormente, los DataFrame y LazyFrame comparten la misma sintaxis
para aplicar operaciones. Sin embargo, su diferencia principal radica en el modo de 
ejecuciÃ³n: mientras que los DataFrame ejecutan cada instrucciÃ³n de inmediato, 
los LazyFrame acumulan operaciones y las ejecutan todas juntas al llamar a .collect().

No obstante, para mantener la continuidad del contenido, en las siguientes secciones continuaremos trabajando con DataFrame.

In [2]:
df_example = pl.DataFrame(data=[["BRAYAN",15,13],["RAFAEL",25,19],["PEPITO",20,10]],
                          schema=["Nombre","Edad","Nota"],orient="row")
df_example.head()

shape: (3, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”‚
â”‚ ---    â”† ---  â”† ---  â”‚
â”‚ str    â”† i64  â”† i64  â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ BRAYAN â”† 15   â”† 13   â”‚
â”‚ RAFAEL â”† 25   â”† 19   â”‚
â”‚ PEPITO â”† 20   â”† 10   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [3]:
# A). OBTENER EL VALOR O VALORES DE LA COLUMNA DE UN DATAFRAME MEDIANTE SU NOMBRE.

"""
    ğŸ“ SINTAXIS: 
    
        dataframe_nombre[NombreColumna] â¬…ï¸ Llamamos al dataframe directamente o
        print(dataframe_nombre[NombreColumna]) â¬…ï¸ Usamos print()
        
        **Importante: Cuando llamamos con solo un par de corchetes "[]", muestra los resultados,
                      
        ### ğŸ§  Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables. 
"""
# ğŸ’¡ EJEMPLO 1: Obtener valores de una columna
# df_example["Nota"]

# ğŸ’¡ EJEMPLO 2: Obtener valores de varias columnas
df_example[["Nota","Nombre"]]

shape: (3, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Nota â”† Nombre â”‚
â”‚ ---  â”† ---    â”‚
â”‚ i64  â”† str    â”‚
â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•¡
â”‚ 13   â”† BRAYAN â”‚
â”‚ 19   â”† RAFAEL â”‚
â”‚ 10   â”† PEPITO â”‚
â””â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [4]:
# B). OBTENER UNA FILA DE VALORES ESPECÃFICAS DEL DATAFRAME

"""
    ğŸ“ SINTAXIS:
    
        dataframe_nombre[NumeroIndice] â¬…ï¸ Recordemos que el indice empieza en 0.
    
    ğŸ’¡ Importante: Tener en cuenta que el Ã­ndice o nÃºmero a ingresar, no debe superar 
                    el tamaÃ±o de valores.    
        
    ### ğŸ§  Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""

# ğŸ’¡ EJEMPLO 1: NÃšMERO DE ÃNDICE CORRECTO âœ… 
df_example[0] # â¬…ï¸ NÃºmero de indice: 2 (Retorna todos los registros de la fila 1, Ã­ndice 0).

## ğŸ’¡ EJEMPLO 2: NÃšMERO DE ÃNDICE INCORRECTO âŒ 

## df_example[3] # â¬…ï¸ NÃºmero de indice: 3.
## âŒ Error: Ãndice fuera de los lÃ­mites

shape: (1, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”‚
â”‚ ---    â”† ---  â”† ---  â”‚
â”‚ str    â”† i64  â”† i64  â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ BRAYAN â”† 15   â”† 13   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [5]:
# C). OBTENER UN VALOR ESPECÃFICO DE UN REGISTRO, BASADO EN SU NÃšMERO DE ÃNDICE
#     Y EL NOMBRE DE UNA COLUMNA.
"""
    ğŸ“ SINTAXIS: 
    
        dataframe_nombre[NumeroIndice,NombreColumna] â¬…ï¸ De esta manera accederemos solo a valores especÃ­ficos.
        
        ### ğŸ§  Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""
# ğŸ’¡ EJEMPLO: 
# df_example[1,"Nota"] # â¬…ï¸ Accedemos a la fila con Ã­ndice 1 y la columna de nombre Nota.
print(df_example[1,"Nota"]) # â¬…ï¸ Accedemos a la fila con Ã­ndice 1 y la columna de nombre Nota.

19

In [6]:
# D). FILTRAR VALORES EN UN DATAFRAME:

""" 
    Para realizar el filtro de valores nos basaremos en condiciones que la o las columnas
    deben cumplir. Por ende, ya no utilizaremos el mÃ©todo .query() o el filtrado a travÃ©s []
    como en Pandas, sino mediante su propia funciÃ³n .filter().
    
   ğŸ’¡ Importante: Para poder acceder a una columna y realizar el filtro correspondiente,
       utilizaremos pl.col() que crea una expresiÃ³n de la columna verificando su existencia.
    
    ğŸ“ SINTAXIS:
     
        dataframe_nombre.filter( â¬…ï¸ MÃ©todo filter() para realizar filtrado.
                pl.col(NombreColumna) |CondicionColumna|        â¬…ï¸ Filtramos por una columna.
                (pl.col(NombreColumna1) |CondicionColumna1| ) & 
                (pl.col(NombreColumna2) |CondicionColumna2| )   â¬…ï¸ Filtramos por varias columnas.
        )
        
        ( > || < || >= || <= || != ) â¬…ï¸ Operadores lÃ³gicos 
        
        ### ğŸ§  Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""
# ğŸ’¡ EJEMPLO 1: USANDO OPERADORES LÃ“GICOS (EN UNA COLUMNA)

# df_example.filter(pl.col("Nota")>15) # â¬…ï¸ Notas mayores a 15
# df_example.filter(pl.col("Nombre")!='RAFAEL') # â¬…ï¸ Todos los nombre diferentes a RAFAEL

# ğŸ’¡ EJEMPLO 2: USANDO OPERADORES LÃ“GICOS (EN MÃS DE UNA COLUMNA)

# df_example.filter((pl.col("Edad")==20) & (pl.col("Nota")==10)) # â¬…ï¸ Edad igual a 20 y Nota 10. (2 columnas)
## â¡ï¸ Cada condiciÃ³n de filtro, la debemos separar mediante parÃ©ntesis ().

# ğŸ’¡ EJEMPLO 3:

df_filtrado = df_example.filter((pl.col("Edad")==20) | (pl.col("Nota")==19)) # Filtrando por dos columnas (Usamos or)
df_filtrado.head()

shape: (2, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”‚
â”‚ ---    â”† ---  â”† ---  â”‚
â”‚ str    â”† i64  â”† i64  â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ RAFAEL â”† 25   â”† 19   â”‚
â”‚ PEPITO â”† 20   â”† 10   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [7]:
# E). AGREGAR UNA O VARIAS COLUMNAS AL DATAFRAME:

"""
    Para poder agregar una nueva columna en Polars, a diferencia de Pandas que donde se definÃ­a
    entre [] una nueva columna, en Polars, usamos metodos directamente al dataframe, este mÃ©todo
    es .with_columns(), donde podemos crear columnas nuevas a raÃ­z del cÃ¡lculo de otras columnas.
    
    ğŸ“ SINTAXIS:

        dataframe_nombre = dataframe_nombre.with_columns(
            pl.col(NombreColumna).alias("NombreNuevaColumna")  â¬…ï¸ Primera forma de crear una nueva columna (recomendada).
            NombreNuevaColumna = pl.col(NombreColumnaCalculo)  â¬…ï¸ Segunda forma de crear una nueva columna.
            pl.Series(values=[Valores],name="NombreNuevaColumna",dtype=TipoDato) â¬…ï¸ Tercera forma de crear una nueva columna (serie).
        )
        
    ### âš ï¸ Tengamos en cuenta que para realizar cambios al dataframe, debemos llamar al dataframe otra vez.
"""

# ğŸ’¡ EJERCICIO 1: NUEVA COLUMNA CON INFORMACIÃ“N

df_example = df_example.with_columns(
    pl.Series(values=[1,2,3],name="Puntaje",dtype=pl.Int64) 
    # â¬…ï¸ Recodemos que para esta forma de agregar informaciÃ³n
    #    debe contener la misma cantidad de datos que 
    #    el total de registros.
)
# df_example.head()

# ğŸ’¡ EJERCICIO 2: NUEVA COLUMNA CALCULADA v1.
df_example = df_example.with_columns(
    (pl.col("Nota")*pl.col("Puntaje")).alias("Ranking")
)                                                    #    a las columnas a travÃ©s de los corchetes [].
# df_example.head()


# ğŸ’¡ EJERCICIO 3: NUEVA COLUMNA CALCULADA v2.
df_example = df_example.with_columns(
    Extra = (pl.col("Nota")/pl.col("Puntaje")) 
)
df_example.head()

shape: (3, 6)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”† Puntaje â”† Ranking â”† Extra    â”‚
â”‚ ---    â”† ---  â”† ---  â”† ---     â”† ---     â”† ---      â”‚
â”‚ str    â”† i64  â”† i64  â”† i64     â”† i64     â”† f64      â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ BRAYAN â”† 15   â”† 13   â”† 1       â”† 13      â”† 13.0     â”‚
â”‚ RAFAEL â”† 25   â”† 19   â”† 2       â”† 38      â”† 9.5      â”‚
â”‚ PEPITO â”† 20   â”† 10   â”† 3       â”† 30      â”† 3.333333 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [9]:
# F). ELIMINAR COLUMNAS DEL DATAFRAME:

"""
   A diferencia de Pandas donde llamamos directamente a la funcion con el dataset y realizamos la operaciÃ³n.
   En Polars debemos llamar al mismo dataframe y/o asignarlo a una nueva variable para poder visualizar
   los cambios de la eliminaciÃ³n.
    
    
    ğŸ“ SINTAXIS:
    
        dataframe_nombre = dataframe_nombre.drop([NombreColumna1,NombreColumna2],strict=True | False [EvaluaExistenciaDeColumnas])

    ### ğŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe

    ### âš ï¸ Debemos tener en cuenta que si volvemos a ejecutar el cÃ³digo de eliminar columnas
           la columna especificada como ya no existe, lanzarÃ¡ error.

"""

# ğŸ’¡ EJEMPLO 1:
# df_example = df_example.drop("Ranking",strict=True) # â¬…ï¸ Establecemos True en strict âœ…
# df_example.head() # â¬…ï¸ Verificamos que si se elimino correctamente la columna

# ğŸ’¡ EJEMPLO 2:
df_copia = df_example # â¬…ï¸ MÃ©todo .copy() que permite copiar el dataframe a otra variable.
df_copia = df_copia.drop(["Nota","Puntaje"],strict=True) # â¬…ï¸ Establecemos True en strict âœ…
df_copia.head() # â¬…ï¸ Verificamos que si se elimino correctamente las columnas

shape: (3, 4)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Ranking â”† Extra    â”‚
â”‚ ---    â”† ---  â”† ---     â”† ---      â”‚
â”‚ str    â”† i64  â”† i64     â”† f64      â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ BRAYAN â”† 15   â”† 13      â”† 13.0     â”‚
â”‚ RAFAEL â”† 25   â”† 38      â”† 9.5      â”‚
â”‚ PEPITO â”† 20   â”† 30      â”† 3.333333 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [10]:
# G). ORDERNAR LOS DATOS DEL DATAFRAME POR UNA O VARIAS COLUMNAS

"""
    ğŸ“ SINTAXIS: 

        dataframe_nombre = dataframe_nombre.sort(by=NombreColumna,descending=True | False) 
        
    ğŸ’¡ Importante: Al establecer el valor de descending en True, los datos se ordenan
                   de mayor a menor por la columna que especifiquemos. Sin embargo, sino 
                   llamamos a la propiedad descending o por el contrario, se establece el valor en False,
                   los datos se ordenan de menor a mayor.
                   
        ### ğŸ§  Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""
# ğŸ’¡ EJEMPLO 1: â¡ï¸ Ordenamos AlfabÃ©ticamente (A-Z)

# df_example.sort(by="Nombre",descending=False).head()

# ğŸ’¡ EJEMPLO 2: â¡ï¸ Ordenamos AlfabÃ©ticamente (Z-A)

# df_example.sort(by="Nombre",descending=True).head()

# ğŸ’¡ EJEMPLO 3: â¡ï¸ Ordenamos por columna NumÃ©rica (De menor a mayor)

# df_example.sort(by="Edad",descending=False).head()

# ğŸ’¡ EJEMPLO 4: â¡ï¸ Ordenamos por columna NumÃ©rica (De mayor a menor)

df_example.sort(by="Edad",descending=True).head()

shape: (3, 6)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Nombre â”† Edad â”† Nota â”† Puntaje â”† Ranking â”† Extra    â”‚
â”‚ ---    â”† ---  â”† ---  â”† ---     â”† ---     â”† ---      â”‚
â”‚ str    â”† i64  â”† i64  â”† i64     â”† i64     â”† f64      â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ RAFAEL â”† 25   â”† 19   â”† 2       â”† 38      â”† 9.5      â”‚
â”‚ PEPITO â”† 20   â”† 10   â”† 3       â”† 30      â”† 3.333333 â”‚
â”‚ BRAYAN â”† 15   â”† 13   â”† 1       â”† 13      â”† 13.0     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜