## âš¡ AnalÃ­tica Turbo con Polars: Fundamentos que todo Analista Moderno debe conocer ğŸ»â€â„ï¸

---

ğŸ‘¨â€ğŸ’» Autor: Brayan Neciosup  
ğŸ“ Portafolio: [brayanneciosup](https://bryanneciosup626.wixsite.com/brayandataanalitics)  
ğŸ”— LinkedIn: [linkedin.com/brayanneciosup](https://www.linkedin.com/in/brayan-rafael-neciosup-bola%C3%B1os-407a59246/)  
ğŸ’» GitHub: [github.com/BrayanR03](https://github.com/BrayanR03)  
ğŸ“š Serie: Fundamentos de Pandas y Polars

In [1]:
# Instalar librerÃ­a de polars: pip install polars
# Importamos la librerÃ­a
import polars as pl

### ğŸ“Œ ManipulaciÃ³n de Datos en Polars: ...

La manipulaciÃ³n de datos, tambiÃ©n conocida como data wrangling, es una fase 
fundamental en todo proyecto de anÃ¡lisis de datos. Consiste en transformar 
un dataset crudo, es decir, datos en su forma original, posiblemente desordenada o
incompleta en un formato estructurado y Ãºtil, como un DataFrame.

#### Fase 1. Fuentes de Datos ğŸ—ƒï¸

In [ ]:
"""
    Polars ğŸ»â€â„ï¸ permite leer datos desde mÃºltiples fuentes como archivos CSV, Excel, JSON, 
    bases de datos SQL, entre otros formatos comunes. Esta flexibilidad facilita el trabajo
    con datasets provenientes de distintos orÃ­genes, tanto locales como remotos de manera optimizada.
"""

In [2]:
# Paso A). DEFINIR LA CARPETA ORIGEN DE DONDE PROVIENE NUESTROS DATASETS (LOCAL)
"""
    ğŸ“ SINTAXIS: 
        
        carpeta_origen = "RutaCarpetaOrigen"
    
    ### ğŸ§  Va a depender en que entorno nos encontremos porque las rutas 
    ###     de carpetas pueden ser (\) o (/).
"""
# ğŸ’¡ EJEMPLO 1 (Ruta completa):

# carpeta_origen = "C:/Users/USER/Documents/FundamentosPandasPolars/datasets" 

# print(carpeta_origen)

# ğŸ’¡ EJEMPLO 2 (Ruta relativa):

carpeta_origen = f"../datasets/"
# print(carpeta_origen)
import os # â¬…ï¸ Permite trabajar con archivos
print(os.listdir(carpeta_origen)) # â¬…ï¸ Mostrar los archivos de la carpeta

['eventos_logs.json', 'json_basico.json', 'Pedidos.xlsx', 'penguins.csv', 'titanic.csv']

In [3]:
# Paso B). DEFINIR EL NOMBRE DEL ARCHIVO DEL DATASET
"""
    ğŸ“ SINTAXIS:
    
        nombre_archivo = "NombreArchivo.extension"

    ### ğŸ§  DependerÃ¡ de la extensiÃ³n del archivo para indicarle a Polars que funciÃ³n utilizar.
"""
# ğŸ’¡ EJEMPLO 1 (.csv): 
archivos_csv = "penguins.csv"

# ğŸ’¡ EJEMPLO 2 (.xlsx): 
archivos_xlsx = "Pedidos.xlsx"

# ğŸ’¡ EJEMPLO 3 (.json): 
archivos_json = "eventos_logs.json"

In [4]:
# Paso C). LECTURA DE LOS ARCHIVOS (PASO A + PASO B)
"""
    ### ğŸ§  Para los archivos .csv, se recomienda conocer el separador o
    ###     delimitador presente en el archivo e indicarle a Polars.

    ğŸ“ SINTAXIS:
    
        dataset_nombre = pl.read_extensiÃ³n(carpeta_origen+nombre_archivo.extensiÃ³n)
"""
import polars as pl # âœ… No olvidar importar polars al inicio del notebook

# ğŸ’¡ EJEMPLO 1 (Lectura de .csv): 

dataset_csv = pl.read_csv(carpeta_origen+archivos_csv,separator=",") # â¬…ï¸ Indicamos el delimitador en separator.
# dataset_csv.head() # â¬…ï¸ FunciÃ³n que permite leer y retornar los 5 primeros registros del archivo.
"""==============================================================================================="""
# ğŸ’¡ EJEMPLO 2 (Lectura de .xlsx): 

dataset_excel = pl.read_excel(
                 source=carpeta_origen+archivos_xlsx,
                 sheet_name="Hoja1") # â¬…ï¸ Indicamos el nombre de la Hoja donde se encuentra
                                     #     la informaciÃ³n.
# dataset_excel.head() # â¬…ï¸ FunciÃ³n que permite leer y retornar los 5 primeros registros del archivo.

""" âš ï¸ En caso les arroje error sobre: " requiered package 'fastexcel' not found "
       solo instalemos el mÃ³dulo con: pip install fastexcel
'"""
# dataset_excel.head() # â¬…ï¸ FunciÃ³n que permite leer y retornar los 5 primeros registros del archivo.
"""==============================================================================================="""
# ğŸ’¡ EJEMPLO 3 (Lectura de .json):

### Archivo bÃ¡sico JSON
archivo_json_basico = "json_basico.json" # â¬…ï¸ Nombre de archivo bÃ¡sico JSON
dataset_json1 = pl.read_json(carpeta_origen+archivo_json_basico) # â¬…ï¸ Lectura de JSON bÃ¡sico
# dataset_json1.head()

# Archivo complejo JSON
import json # â¬…ï¸ Utilizaremos la librerÃ­a json para el aplanamiento del Archivo JSON complejo.
archivo_json_complejo = "eventos_logs.json" # â¬…ï¸ Nombre de archivo complejo JSON
with open(carpeta_origen + archivo_json_complejo, "r", encoding="utf-8") as file_data:
    data_archivo_json_complejo = json.load(file_data)
dataset_json2 = pl.json_normalize(data_archivo_json_complejo) # â¬…ï¸ Lectura de archivo JSON complejo.
dataset_json2.head() # â¬…ï¸ FunciÃ³n que permite leer y retornar los 5 primeros registros del archivo.

shape: (5, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ evento.usuario_id â”† evento.accion â”† evento.timestamp            â”‚
â”‚ ---               â”† ---           â”† ---                         â”‚
â”‚ str               â”† str           â”† str                         â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ U846              â”† compra        â”† 2025-05-25T21:07:47.202219Z â”‚
â”‚ U321              â”† registro      â”† 2025-05-23T11:50:47.202219Z â”‚
â”‚ U813              â”† login         â”† 2025-05-25T19:09:47.202219Z â”‚
â”‚ U677              â”† registro      â”† 2025-05-27T09:41:47.202219Z â”‚
â”‚ U425              â”† compra        â”† 2025-05-23T14:44:47.202219Z â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

#### Fase 2. ExploraciÃ³n Inicial ğŸ”

In [5]:
"""
    Utilizaremos el dataset de penguins (dataset de Seaborn importado en un csv)
"""
df_penguins = pl.read_csv("../datasets/penguins.csv",separator=",") # â¬…ï¸ Accedemos al archivo en la carpeta datasets
df_penguins.head()

shape: (5, 7)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ species â”† island    â”† bill_length_mm â”† bill_depth_mm â”† flipper_length_mm â”† body_mass_g â”† sex    â”‚
â”‚ ---     â”† ---       â”† ---            â”† ---           â”† ---               â”† ---         â”† ---    â”‚
â”‚ str     â”† str       â”† f64            â”† f64           â”† f64               â”† f64         â”† str    â”‚
â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•¡
â”‚ Adelie  â”† Torgersen â”† 39.1           â”† 18.7          â”† 181.0             â”† 3750.0      â”† Male   â”‚
â”‚ Adelie  â”† Torgersen â”† 39.5           â”† 17.4          â”† 186.0             â”† 3800.0      â”† Female â”‚
â”‚ Adelie  â”† Torgersen â”† 40.3           â”† 18.0          â”† 195.0             â”† 3250.0      â”† Female â”‚
â”‚ Adelie  â”† Torgersen â”† null           â”† null          â”† null              â”† null        â”† null   â”‚
â”‚ Adelie  â”† Torgersen â”† 36.7           â”† 19.3          â”† 193.0             â”† 3450.0      â”† Female â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [6]:
"""
    A). Quitar encabezados originales provenientes del Dataset.
    
        ğŸ“ SINTAXIS:
        
            dataset_nombre = pl.read_extension(ruta_carpeta_archivo,separator="Delimitador",has_header=True|False)
            
            ğŸ’¡ Importante: has_header, es el parÃ¡metro que si establecemos en False, los encabezados se vuelven parte
                           de los registros del dataset, ademÃ¡s, Polars agregarÃ¡ la posiciÃ³n de cada columna
                           con un prefijo: columna_posiciÃ³n.
                                        
            ### ğŸ§  Tener en cuenta que solo se aplicarÃ¡ a las extensiones .excel y .csv
    
#### PARA LOS EJEMPLOS USAREMOS ALGUNOS DATASET PREVIAMENTE VISTOS EN LA FASE 1.
"""

# ğŸ’¡ EJEMPLO 1: Archivo CSV 

df_penguins = pl.read_csv(carpeta_origen+archivos_csv,separator=",",has_header=True) #â¬…ï¸ Mostramos los encabezados
# df_penguins.head()

# ğŸ’¡ EJEMPLO 2: Archivo CSV

df_penguins = pl.read_csv(carpeta_origen+archivos_csv,separator=",",has_header=False) #â¬…ï¸ Ocultamos los encabezados
# df_penguins.head()

# ğŸ’¡ EJEMPLO 3: Archivo EXCEL 

df_penguins_excel = pl.read_excel(carpeta_origen+archivos_xlsx,sheet_name="Hoja1",has_header=True) #â¬…ï¸ Mostramos los encabezados
# df_penguins_excel.head()

# ğŸ’¡ EJEMPLO 4: Archivo EXCEL

df_penguins_excel = pl.read_excel(carpeta_origen+archivos_xlsx,sheet_name="Hoja1",has_header=False) #â¬…ï¸ Ocultamos los encabezados
df_penguins_excel.head()

shape: (5, 4)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ column_1               â”† column_2                â”† column_3     â”† column_4  â”‚
â”‚ ---                    â”† ---                     â”† ---          â”† ---       â”‚
â”‚ str                    â”† str                     â”† str          â”† str       â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ DetallePedidosPedidoID â”† PedidoFechaHoraRegistro â”† PedidoEstado â”† Total     â”‚
â”‚ 1                      â”† 2025-05-26 18:02:01.240 â”† F            â”† 524361.11 â”‚
â”‚ 2                      â”† 2025-05-26 18:02:02.430 â”† F            â”† 524387.46 â”‚
â”‚ 3                      â”† 2025-05-26 18:02:46.287 â”† F            â”† 515269.86 â”‚
â”‚ 4                      â”† 2025-05-26 18:02:46.290 â”† F            â”† 523261.27 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [7]:
"""
    B). Mostrar los N primeros registros de un dataset
    
        ğŸ“ SINTAXIS:
    
            dataset_nombre.head(NÃºmeroDeRegistros) â¬…ï¸ Indicamos un nÃºmero para la cantidad de registros a mostrar    
"""
# ğŸ’¡ EJEMPO 1: 

# df_penguins.head(5) ## â¬…ï¸ Mostrar 5 primeros registros del dataset

# ğŸ’¡ EJEMPO 2: 

df_penguins.head(10) ## â¬…ï¸ Mostrar 10 primeros registros del dataset

shape: (10, 7)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ column_1 â”† column_2  â”† column_3       â”† column_4      â”† column_5        â”† column_6    â”† column_7 â”‚
â”‚ ---      â”† ---       â”† ---            â”† ---           â”† ---             â”† ---         â”† ---      â”‚
â”‚ str      â”† str       â”† str            â”† str           â”† str             â”† str         â”† str      â”‚
â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ species  â”† island    â”† bill_length_mm â”† bill_depth_mm â”† flipper_length_ â”† body_mass_g â”† sex      â”‚
â”‚          â”†           â”†                â”†               â”† mm              â”†             â”†          â”‚
â”‚ Adelie   â”† Torgersen â”† 39.1           â”† 18.7          â”† 181.0           â”† 3750.0      â”† Male     â”‚
â”‚ Adelie   â”† Torgersen â”† 39.5           â”† 17.4          â”† 186.0           â”† 3800.0      â”† Female   â”‚
â”‚ Adelie   â”† Torgersen â”† 40.3           â”† 18.0          â”† 195.0           â”† 3250.0      â”† Female   â”‚
â”‚ Adelie   â”† Torgersen â”† null           â”† null          â”† null            â”† null        â”† null     â”‚
â”‚ Adelie   â”† Torgersen â”† 36.7           â”† 19.3          â”† 193.0           â”† 3450.0      â”† Female   â”‚
â”‚ Adelie   â”† Torgersen â”† 39.3           â”† 20.6          â”† 190.0           â”† 3650.0      â”† Male     â”‚
â”‚ Adelie   â”† Torgersen â”† 38.9           â”† 17.8          â”† 181.0           â”† 3625.0      â”† Female   â”‚
â”‚ Adelie   â”† Torgersen â”† 39.2           â”† 19.6          â”† 195.0           â”† 4675.0      â”† Male     â”‚
â”‚ Adelie   â”† Torgersen â”† 34.1           â”† 18.1          â”† 193.0           â”† 3475.0      â”† null     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [8]:
"""
    C). Mostrar los N Ãºltimos registros de un dataset
    
        ğŸ“ SINTAXIS:
    
            dataset_nombre.tail(NÃºmeroDeRegistros) â¬…ï¸ Indicamos un nÃºmero para la cantidad de registros a mostrar    
"""
# ğŸ’¡ EJEMPO 1: 

# df_penguins.tail(5) ## â¬…ï¸ Mostrar 5 Ãºltimos registros del dataset

# ğŸ’¡ EJEMPO 2: 

df_penguins.tail(10) ## â¬…ï¸ Mostrar 10 Ãºltimos registros del dataset

shape: (10, 7)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ column_1 â”† column_2 â”† column_3 â”† column_4 â”† column_5 â”† column_6 â”† column_7 â”‚
â”‚ ---      â”† ---      â”† ---      â”† ---      â”† ---      â”† ---      â”† ---      â”‚
â”‚ str      â”† str      â”† str      â”† str      â”† str      â”† str      â”† str      â”‚
â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Gentoo   â”† Biscoe   â”† 46.2     â”† 14.1     â”† 217.0    â”† 4375.0   â”† Female   â”‚
â”‚ Gentoo   â”† Biscoe   â”† 55.1     â”† 16.0     â”† 230.0    â”† 5850.0   â”† Male     â”‚
â”‚ Gentoo   â”† Biscoe   â”† 44.5     â”† 15.7     â”† 217.0    â”† 4875.0   â”† null     â”‚
â”‚ Gentoo   â”† Biscoe   â”† 48.8     â”† 16.2     â”† 222.0    â”† 6000.0   â”† Male     â”‚
â”‚ Gentoo   â”† Biscoe   â”† 47.2     â”† 13.7     â”† 214.0    â”† 4925.0   â”† Female   â”‚
â”‚ Gentoo   â”† Biscoe   â”† null     â”† null     â”† null     â”† null     â”† null     â”‚
â”‚ Gentoo   â”† Biscoe   â”† 46.8     â”† 14.3     â”† 215.0    â”† 4850.0   â”† Female   â”‚
â”‚ Gentoo   â”† Biscoe   â”† 50.4     â”† 15.7     â”† 222.0    â”† 5750.0   â”† Male     â”‚
â”‚ Gentoo   â”† Biscoe   â”† 45.2     â”† 14.8     â”† 212.0    â”† 5200.0   â”† Female   â”‚
â”‚ Gentoo   â”† Biscoe   â”† 49.9     â”† 16.1     â”† 213.0    â”† 5400.0   â”† Male     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [9]:
"""
    D). Mostrar el volÃºmen del dataset (Cantidad de filas y columnas respectivamente) 
    
        ğŸ“ SINTAXIS:
    
            dataset_nombre.shape â¬…ï¸ Nos muestra la cantidad de filas y columnas en forma de tupla (,)
            
            #### ğŸ§  Podemos acceder a la cantidad de filas o columnas basÃ¡ndonos en la posiciÃ³n
                     de los datos que retorna la tupla, gracias a .shape â¡ï¸ 0 = filas y 1 = columnas    
"""
# ğŸ’¡ EJEMPO 1: 

df_penguins.shape ## â¬…ï¸ Muestra el volÃºmen de registros del dataset en forma de tupla. (CantidadFilas,CantidadColumnas)

# ğŸ’¡ EJEMPO 2: 

df_penguins.shape[0] ## â¬…ï¸ Muestra la cantidad de registros (filas) del dataset

# ğŸ’¡ EJEMPO 3: 

df_penguins.shape[1] ## â¬…ï¸ Muestra la cantidad de columnas del dataset

7

#### Fase 3. TransformaciÃ³n de Datos ğŸ’±

##### 3.1 Datos Cualitativos ğŸ”

In [ ]:
"""
    A). CONVERTIR A MAYÃšSCULAS LOS DATOS CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    ğŸ“ SINTAXIS:
    
        dataframe_nombre = dataframe_nombre.with_columns(
            pl.col(NombreColumnaCualitativa).str.to_uppercase().alias(NombreColumnaCualitativa) 
        )
    
    ### ğŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe.
"""

# ğŸ’¡ EJEMPLO:

df_penguins = df_penguins.with_columns(
    pl.col("species").str.to_uppercase().alias("species") ## â¬…ï¸ Convertimos a mayÃºsculas los datos de la columna cualitativa ""species""
)
df_penguins.head()

shape: (5, 7)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ species â”† island    â”† bill_length_mm â”† bill_depth_mm â”† flipper_length_mm â”† body_mass_g â”† sex    â”‚
â”‚ ---     â”† ---       â”† ---            â”† ---           â”† ---               â”† ---         â”† ---    â”‚
â”‚ str     â”† str       â”† f64            â”† f64           â”† f64               â”† f64         â”† str    â”‚
â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•¡
â”‚ ADELIE  â”† Torgersen â”† 39.1           â”† 18.7          â”† 181.0             â”† 3750.0      â”† Male   â”‚
â”‚ ADELIE  â”† Torgersen â”† 39.5           â”† 17.4          â”† 186.0             â”† 3800.0      â”† Female â”‚
â”‚ ADELIE  â”† Torgersen â”† 40.3           â”† 18.0          â”† 195.0             â”† 3250.0      â”† Female â”‚
â”‚ ADELIE  â”† Torgersen â”† null           â”† null          â”† null              â”† null        â”† null   â”‚
â”‚ ADELIE  â”† Torgersen â”† 36.7           â”† 19.3          â”† 193.0             â”† 3450.0      â”† Female â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
"""
    B). CONVERTIR A MINÃšSCULAS LOS DATOS CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    ğŸ“ SINTAXIS:
    
        dataframe_nombre = dataframe_nombre.with_columns(
            pl.col(NombreColumnaCualitativa).str.to_lowercase().alias(NombreColumnaCualitativa) 
        )
    
    ### ğŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe.
"""

# ğŸ’¡ EJEMPLO:

df_penguins = df_penguins.with_columns(
    pl.col("species").str.to_lowercase().alias("species") ## â¬…ï¸ Convertimos a minÃºsculas los datos de la columna cualitativa ""species""
)
df_penguins.head()

shape: (5, 7)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ species â”† island    â”† bill_length_mm â”† bill_depth_mm â”† flipper_length_mm â”† body_mass_g â”† sex    â”‚
â”‚ ---     â”† ---       â”† ---            â”† ---           â”† ---               â”† ---         â”† ---    â”‚
â”‚ str     â”† str       â”† f64            â”† f64           â”† f64               â”† f64         â”† str    â”‚
â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•¡
â”‚ adelie  â”† Torgersen â”† 39.1           â”† 18.7          â”† 181.0             â”† 3750.0      â”† Male   â”‚
â”‚ adelie  â”† Torgersen â”† 39.5           â”† 17.4          â”† 186.0             â”† 3800.0      â”† Female â”‚
â”‚ adelie  â”† Torgersen â”† 40.3           â”† 18.0          â”† 195.0             â”† 3250.0      â”† Female â”‚
â”‚ adelie  â”† Torgersen â”† null           â”† null          â”† null              â”† null        â”† null   â”‚
â”‚ adelie  â”† Torgersen â”† 36.7           â”† 19.3          â”† 193.0             â”† 3450.0      â”† Female â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
"""
    C). CONVERTIR A MAYÃšSCULA LA PRIMERA LETRA DE CADA DATO CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    ğŸ“ SINTAXIS:
    
        dataframe_nombre = dataframe_nombre.with_columns(
            pl.col(NombreColumnaCualitativa).str.to_titlecase().alias(NombreColumnaCualitativa) 
        )
    
    ### ğŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe.
"""

# ğŸ’¡ EJEMPLO:

df_penguins = df_penguins.with_columns(
    pl.col("species").str.to_titlecase().alias("species") ## â¬…ï¸ Convertimos la primera letra en mayÃºscula de cada dato en la columna cualitativa ""species""
)
df_penguins.head()

shape: (5, 7)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ species â”† island    â”† bill_length_mm â”† bill_depth_mm â”† flipper_length_mm â”† body_mass_g â”† sex    â”‚
â”‚ ---     â”† ---       â”† ---            â”† ---           â”† ---               â”† ---         â”† ---    â”‚
â”‚ str     â”† str       â”† f64            â”† f64           â”† f64               â”† f64         â”† str    â”‚
â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•¡
â”‚ Adelie  â”† Torgersen â”† 39.1           â”† 18.7          â”† 181.0             â”† 3750.0      â”† Male   â”‚
â”‚ Adelie  â”† Torgersen â”† 39.5           â”† 17.4          â”† 186.0             â”† 3800.0      â”† Female â”‚
â”‚ Adelie  â”† Torgersen â”† 40.3           â”† 18.0          â”† 195.0             â”† 3250.0      â”† Female â”‚
â”‚ Adelie  â”† Torgersen â”† null           â”† null          â”† null              â”† null        â”† null   â”‚
â”‚ Adelie  â”† Torgersen â”† 36.7           â”† 19.3          â”† 193.0             â”† 3450.0      â”† Female â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [14]:
"""
    D). EXTRAER DE CADA DATO CUALITATIVO UNA CADENA EN ESPECÃFICO MEDIANTE >>EXPRESIONES REGULARES<< EN UN DATASET
    
    ğŸ“ SINTAXIS:
    
        dataset_nombre[NombreColumnaCualitativa].str.extract()
    
    ### ğŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
"""
##ğŸ’¡ EJEMPLO 1: â¬…ï¸ Extraemos primera letra en mayÃºscula 
df_penguins = df_penguins.with_columns(
    pl.col("species").str.extract(r'([A-Z])').alias("PrimeraLetraEnMayÃºscula")
)
# df_penguins.head()

##ğŸ’¡ EJEMPLO 2: â¬…ï¸ Extraemos primera letra en minÃºscula 
df_penguins = df_penguins.with_columns(
    pl.col("species").str.extract(r'([a-z])').alias("PrimeraLetraEnMinÃºscula")
)
# df_penguins.head()

##ğŸ’¡ EJEMPLO 3: â¬…ï¸ Retornamos todo despuÃ©s de una letra en mayÃºscula
df_penguins = df_penguins.with_columns(
    pl.col("species").str.extract(r'[A-Z]+(.*)').alias("TodoDespuesDeUnaMayÃºscula")
)
# df_penguins.head()

##ğŸ’¡ EJEMPLO 4: â¬…ï¸ Retornamos todo despuÃ©s de una letra en minÃºscula
df_penguins = df_penguins.with_columns(
    pl.col("species").str.extract(r'[a-z]+(.*)').alias("TodoDespuesDeUnaMinÃºscula")
)
# df_penguins.head()

##ğŸ’¡ EJEMPLO 5: â¬…ï¸ Retornamos todo despuÃ©s de un nÃºmero
df_penguins = df_penguins.with_columns(
    pl.col("species").str.extract(r'[0-9]+(.*)').alias("TodoDespuesDeUnNÃºmero")
)
df_penguins.head()

shape: (5, 12)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ species â”† island    â”† bill_lengt â”† bill_dept â”† â€¦ â”† PrimeraLe â”† TodoDespu â”† TodoDespu â”† TodoDespu â”‚
â”‚ ---     â”† ---       â”† h_mm       â”† h_mm      â”†   â”† traEnMinÃº â”† esDeUnaMa â”† esDeUnaMi â”† esDeUnNÃºm â”‚
â”‚ str     â”† str       â”† ---        â”† ---       â”†   â”† scula     â”† yÃºscula   â”† nÃºscula   â”† ero       â”‚
â”‚         â”†           â”† f64        â”† f64       â”†   â”† ---       â”† ---       â”† ---       â”† ---       â”‚
â”‚         â”†           â”†            â”†           â”†   â”† str       â”† str       â”† str       â”† str       â”‚
â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Adelie  â”† Torgersen â”† 39.1       â”† 18.7      â”† â€¦ â”† d         â”† delie     â”†           â”† null      â”‚
â”‚ Adelie  â”† Torgersen â”† 39.5       â”† 17.4      â”† â€¦ â”† d         â”† delie     â”†           â”† null      â”‚
â”‚ Adelie  â”† Torgersen â”† 40.3       â”† 18.0      â”† â€¦ â”† d         â”† delie     â”†           â”† null      â”‚
â”‚ Adelie  â”† Torgersen â”† null       â”† null      â”† â€¦ â”† d         â”† delie     â”†           â”† null      â”‚
â”‚ Adelie  â”† Torgersen â”† 36.7       â”† 19.3      â”† â€¦ â”† d         â”† delie     â”†           â”† null      â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [33]:
"""
    E). REEMPLAZAR VALORES DE DATOS CUALITATIVOS MEDIANTE >>EXPRESIONES REGULARES<< EN UN DATASET
    
    ğŸ“ SINTAXIS:
    
        dataset_nombre[NombreColumnaCualitativa].str.replace_all(pattern=PatrÃ³nExpresiÃ³nRegular,value=CadenaAReemplazar)
    
    ### ğŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
"""
### DATASET DE PRUEBA PARA ESTE EJEMPLO
datos_sucios = {
    "nombre": [
        "  JUAN  pÃ©rez  ", 
        "MARÃA@@LÃ“PEZ", 
        "Ana--MartÃ­nez", 
        "carlos_rodrÃ­guez ", 
        "SofÃ­a123 GarcÃ­a"
    ],
    "categoria_producto": [
        "ELECTRÃ“NICA#1", 
        "ropa--Mujer", 
        "hogar_y_DECORACIÃ“N", 
        "LIBROS@@", 
        "Juguetes  niÃ±os"
    ],
    "codigo": [
        "ID-0001", 
        "ID-0023", 
        "CL-1234", 
        "ID-abc123", 
        "id-9999"
    ]
}
## Dataset de prueba (sucio)
df_test = pl.DataFrame(datos_sucios)
# df_test.head()

## Dataset de prueba (limpio)
df_test_clean = df_test 

## ğŸ’¡ EJEMPLO 1: â¬…ï¸ Eliminar caractÃ©res especiales (@@,#,--,_)
df_test_clean = df_test_clean.with_columns(
    pl.col("categoria_producto").str.replace_all(pattern=r'[^A-Za-z0-9ÃÃ‰ÃÃ“ÃšÃ¡Ã©Ã­Ã³ÃºÃ‘Ã±ÃœÃ¼]',value=" ").alias("categoria_producto"),
    pl.col("nombre").str.replace_all(pattern=r'[^A-Za-z0-9ÃÃ‰ÃÃ“ÃšÃ¡Ã©Ã­Ã³ÃºÃ‘Ã±ÃœÃ¼]',value=" ").alias("nombre")
)
# df_test_clean.head()

## ğŸ’¡ EJEMPLO 2: â¬…ï¸ Normalizar espacios (Varios espacios en blanco a uno solo)
df_test_clean = df_test_clean.with_columns(
    pl.col("categoria_producto").str.replace_all(pattern=r'\s+',value=" ").alias("categoria_producto"),
    pl.col("nombre").str.replace_all(pattern=r'\s+',value=" ").alias("nombre")
)
# df_test_clean.head()

## ğŸ’¡ EJEMPLO 3: â¬…ï¸ Reemplazar guiones por espacios en blanco
df_test_clean = df_test_clean.with_columns(
    pl.col("nombre").str.replace_all(pattern=r'[-_]',value=" ").alias("nombre")
)
# df_test_clean.head()

## ğŸ’¡ EJEMPLO 4: â¬…ï¸ Eliminar prefijos (ID- || CL- || id- || Letras)
df_test_clean = df_test_clean.with_columns(
    pl.col("codigo").str.replace_all(pattern=r'^ID-|CL-|id-|[A-Za-z]+',value="").alias("codigo")
)
df_test_clean.head()

## ğŸ’¡ EJEMPLO 5: â¬…ï¸ Eliminar nÃºmeros dentro de cadenas
df_test_clean = df_test_clean.with_columns(
    pl.col("nombre").str.replace_all(pattern=r'([0-9])',value="").alias("nombre")
)
df_test_clean.head()

shape: (5, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ nombre            â”† categoria_producto â”† codigo â”‚
â”‚ ---               â”† ---                â”† ---    â”‚
â”‚ str               â”† str                â”† str    â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•¡
â”‚  JUAN pÃ©rez       â”† ELECTRÃ“NICA 1      â”† 0001   â”‚
â”‚ MARÃA LÃ“PEZ       â”† ropa Mujer         â”† 0023   â”‚
â”‚ Ana MartÃ­nez      â”† hogar y DECORACIÃ“N â”† 1234   â”‚
â”‚ carlos rodrÃ­guez  â”† LIBROS             â”† 123    â”‚
â”‚ SofÃ­a GarcÃ­a      â”† Juguetes niÃ±os     â”† 9999   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
"""
    F). ELIMINAR VALORES DUPLICADOS EN DATOS CUALITATIVOS DE UN DATASET
    
    ğŸ“ SINTAXIS:
    
        dataset_nombre.unique(subset=[NombreColumna1,NombreColumnaN],keep="first" | "last" | "any" | None)
        
        keep: Es el parÃ¡metro que establece el valor que va a quedar de todos los duplicados 
              (Primer valor=first - Ãšltimo valor=last - No mantenga filas duplicadas = any)
              [En caso de no llamar al parÃ¡metro keep, se establece "first".]
        
    ### ğŸ§  En este caso, debemos trabajar sobre el mismo dataset/dataframe para eliminar los duplicados.
"""
### âœ…ğŸ—ƒï¸ Dataset a utilizar: Diamonds
import polars as pl
df_diamonds = pl.read_csv("../datasets/diamonds.csv",separator=",")
# df_diamonds.head()
# df_diamonds.shape[0] ## â¬…ï¸ Cantidad de datos inicial: 53940

## ğŸ’¡ EJEMPLO 1: ELIMINAR VALORES DUPLICADOS DE TODO EL DATASET (keep="first" por defecto)
# df_diamonds = df_diamonds.unique()
# df_diamonds.shape[0] ## â¬…ï¸ Cantidad de datos restantes: 53794

## ğŸ’¡ EJEMPLO 2: ELIMINAR VALORES DUPLICADOS DE TODO EL DATASET (keep="last")
# df_diamonds = df_diamonds.unique(keep="last") 
# df_diamonds.shape[0] ## â¬…ï¸ Cantidad de datos restantes: 53794

##ğŸ’¡ EJEMPLO 3: ELIMINAR VALORES DUPLICADOS DE UNA COLUMNA ESPECÃFICA (keep="first" por defecto)
# df_diamonds["carat"].shape[0] ## â¬…ï¸ Cantidad inicial de datos: 53940
# df_diamonds = df_diamonds.unique(subset=["carat"],keep="first") 
# df_diamonds["carat"].shape[0] ## â¬…ï¸ Cantidad de datos restantes: 273

273

##### 3.2 Datos Cuantitativos ğŸ”¢

In [20]:

df_penguins = pl.read_csv("../datasets/penguins.csv",separator=",") ## â¬…ï¸ Para este ejemplo utilizaremos el dataset de """penguins"""
df_penguins.head()

shape: (5, 7)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ species â”† island    â”† bill_length_mm â”† bill_depth_mm â”† flipper_length_mm â”† body_mass_g â”† sex    â”‚
â”‚ ---     â”† ---       â”† ---            â”† ---           â”† ---               â”† ---         â”† ---    â”‚
â”‚ str     â”† str       â”† f64            â”† f64           â”† f64               â”† f64         â”† str    â”‚
â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•¡
â”‚ Adelie  â”† Torgersen â”† 39.1           â”† 18.7          â”† 181.0             â”† 3750.0      â”† Male   â”‚
â”‚ Adelie  â”† Torgersen â”† 39.5           â”† 17.4          â”† 186.0             â”† 3800.0      â”† Female â”‚
â”‚ Adelie  â”† Torgersen â”† 40.3           â”† 18.0          â”† 195.0             â”† 3250.0      â”† Female â”‚
â”‚ Adelie  â”† Torgersen â”† null           â”† null          â”† null              â”† null        â”† null   â”‚
â”‚ Adelie  â”† Torgersen â”† 36.7           â”† 19.3          â”† 193.0             â”† 3450.0      â”† Female â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
"""
    A). EXPLORACIÃ“N BÃSICA Y RESUMEN ESTADÃSTICO
        
        ğŸ“ Para los datos cuantitativos podemos obtener su estadÃ­stica bÃ¡sica
            mediante .decribe() el cuÃ¡l retornarÃ¡ el valor de las columnas float o int.
            En los campos cualitativos se visualizarÃ¡ informaciÃ³n no creÃ­ble.
"""
df_penguins.describe()                ## â¬…ï¸ EstadÃ­stica simple - Todas las columnas
df_penguins["body_mass_g"].describe() ## â¬…ï¸ EstadÃ­stica simple - Columna body_mass_g
df_penguins["body_mass_g"].mean()     ## â¬…ï¸ Media estadÃ­stica - Columna body_mass_g
df_penguins["body_mass_g"].median()   ## â¬…ï¸ Mediana estadÃ­stica - Columna body_mass_g
df_penguins["body_mass_g"].min()      ## â¬…ï¸ Valor mÃ­nimo - Columna body_mass_g
df_penguins["body_mass_g"].max()      ## â¬…ï¸ Valor mÃ¡ximo (IMC Gramos)
df_penguins["body_mass_g"].sum()      ## â¬…ï¸ Suma total - Columna body_mass_g
df_penguins["body_mass_g"].std()      ## â¬…ï¸ DesviaciÃ³n estÃ¡ndar - Columna body_mass_g
df_penguins["body_mass_g"].var()      ## â¬…ï¸ Varianza - Columna body_mass_g

643131.077326748

In [6]:
"""
    B). VERIFICAR VALORES NULOS EN LA(S) COLUMNA(AS) DEL DATASET
        
        ğŸ—’ï¸SINTAXIS:
    
        dataset_nombre.isnull().sum() â¬…ï¸ Para todo el dataset.
        dataset_nombre[NombreColumna].isnull().sum() â¬…ï¸ A nivel de columna
"""

## ğŸ’¡ EJEMPLO 1: VERIFICAR CANTIDAD DE VALORES NULOS EN TODAS LAS COLUMNAS DEL DATASET
df_penguins.null_count() ## â¬…ï¸ Retorna la cantidad de datos nulos por columna.

## ğŸ’¡ EJEMPLO 2: VERIFICAR CANTIDAD DE VALORES NULOS EN UNA COLUMNA ESPECÃFICA DEL DATASET
df_penguins[["body_mass_g"]].null_count() ##â¬…ï¸ Retorna la cantidad de datos nulos de una columna.

shape: (1, 1)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ body_mass_g â”‚
â”‚ ---         â”‚
â”‚ u32         â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 2           â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [17]:
"""
    C). FILTRANDO VALORES EN COLUMNAS CUANTITATIVAS
"""

df_penguins.shape[0] ## â¬…ï¸ Cantidad de datos del dataset : 344

## ğŸ’¡ EJEMPLO 1: FILTRAR VALORES DE COLUMNA "body_mass_g" MAYOR A 3000
df_penguins_bmg_mayor_3000 = df_penguins.filter(
    pl.col("body_mass_g")>3000
)
# df_penguins_bmg_mayor_3000.head()
df_penguins_bmg_mayor_3000.shape[0] ## â¬…ï¸ Cantidad de datos resultantes : 331

## ğŸ’¡ EJEMPLO 2: FILTRAR VALORES DE COLUMNA "body_mass_g" ENTRE 1000 y 3000
df_penguins_bmg_entre_1000_3000 = df_penguins.filter(
    pl.col("body_mass_g").is_between(1000,3000)
)
# df_penguins_bmg_entre_1000_3000.head()
df_penguins_bmg_entre_1000_3000.shape[0] ## â¬…ï¸ Cantidad de datos resultantes : 11

## ğŸ’¡ EJEMPLO 3: FILTRAR VALORES NULOS EN COLUMNA "body_mass_g"
df_penguins_nulos_body_mass_g = df_penguins.filter(
    pl.col("body_mass_g").is_null()
)
# df_penguins_nulos_body_mass_g.head()
df_penguins_nulos_body_mass_g.shape[0] ## â¬…ï¸ Cantidad de datos resultantes : 2

## ğŸ’¡ EJEMPLO 4: FILTRAR VALORES NO NULOS EN COLUMNA "body_mass_g"
df_penguins_no_nulos_body_mass_g = df_penguins.filter(
    pl.col("body_mass_g").is_not_null()
)
# df_penguins_no_nulos_body_mass_g.head()
df_penguins_no_nulos_body_mass_g.shape[0] ## â¬…ï¸ Cantidad de datos resultantes : 342

342

In [ ]:
"""
    D). RELLENANDO DATOS Null Y NaN DE LAS COLUMNAS DE UN DATASET
    
        ### ğŸ§ EXISTE UNA DIFERENCIA ENTRE DATOS NaN Y Null Y CONOCERLA TE EVITA
              ERRORES SILENCIOSOS QUE PUEDEN DESTRUIR UN ANÃLISIS NUMÃ‰RICO SIN NOTARLO.
"""
"""======================================================================================
    ğŸ“ RELLENANDO DATOS Null (Ausencia de valor en un registro)

        ğŸ—’ï¸SINTAXIS:
        
            dataset_nombre.fill_null(value=ValorARellenarNulos,strategy=EstrategiaDeRelleno)
            
            ğŸ’¡ Importante: El parÃ¡metro strategy admite ("forward" | "backward" | "min" | "max" | "mean" | "zero" | "one").
            
                ğŸ’¡forward:  â¬…ï¸ rellenarÃ¡ la columna del dataset con su valor posterior a un null.
                ğŸ’¡backward: â¬…ï¸ rellenarÃ¡ la columna del dataset con su valor anterior a un null.
                ğŸ’¡min:      â¬…ï¸ rellenarÃ¡ la columna del dataset con su valor mÃ­nimo de la columna.
                ğŸ’¡max:      â¬…ï¸ rellenarÃ¡ la columna del dataset con su valor mÃ¡ximo de la columna.
                ğŸ’¡mean:     â¬…ï¸ rellenarÃ¡ la columna del dataset con la mediana de la columna.
                ğŸ’¡zero:     â¬…ï¸ rellenarÃ¡ la columna del dataset con ceros.
                ğŸ’¡one:      â¬…ï¸ rellenarÃ¡ la columna del dataset con unos.

            ### ğŸ§  Tengamos en cuenta que debemos almacenar estos cambios en una nueva variable.
"""

In [ ]:
"""âœ… FunciÃ³n .fill_null() """

#==== â¡ï¸ Rellenando con el parÃ¡metro strategy

## ğŸ’¡ EJEMPLO 1: â¬…ï¸ Rellenamos nulos de todas las columnas del dataset.
df_penguins = df_penguins.fill_null(strategy="forward") 
# df_penguins.head()
# df_penguins.null_count() ##âœ… No existen datos nulos

## ğŸ’¡ EJEMPLO 2: â¬…ï¸ Rellenamos nulos de todas las columnas del dataset.
df_penguins = df_penguins.with_columns(
    pl.col("body_mass_g").fill_null(strategy="forward")
)
# df_penguins.head()

#==== â¡ï¸ Rellenando con el parÃ¡metro value

## ğŸ’¡ EJEMPLO 3: â¬…ï¸ Rellenamos nulos de todas las columnas del dataset.
df_penguins = df_penguins.fill_null(value=0) ##â¬…ï¸ Rellenamos nulos de todas las columnas del dataset, con el valor cero.

## ğŸ’¡ EJEMPLO 4: â¬…ï¸ Rellenamos nulos de todas las columnas del dataset.
df_penguins = df_penguins.with_columns(
    pl.col("body_mass_g").fill_null(value=0)       ##â¬…ï¸ Rellenamos una columna especÃ­fica del dataset, con el valor cero.
)
df_penguins.head()

shape: (1, 7)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”
â”‚ species â”† island â”† bill_length_mm â”† bill_depth_mm â”† flipper_length_mm â”† body_mass_g â”† sex â”‚
â”‚ ---     â”† ---    â”† ---            â”† ---           â”† ---               â”† ---         â”† --- â”‚
â”‚ u32     â”† u32    â”† u32            â”† u32           â”† u32               â”† u32         â”† u32 â”‚
â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•¡
â”‚ 0       â”† 0      â”† 0              â”† 0             â”† 0                 â”† 0           â”† 0   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”˜

In [ ]:

"""======================================================================================
    ğŸ“ RELLENANDO DATOS NaN (Resultados indefinidos en un registro)

        ğŸ—’ï¸SINTAXIS:
        
            dataset_nombre.fill_nan(value=ValorARellenar)
            
            ğŸ’¡ Importante: El parÃ¡metro value admite cualquier valor a rellenar, e incluso una medida estadÃ­stica
                            de una columna especÃ­fica en el dataset: ("min" | "max" | "mean" | "median")
 
            ### ğŸ§  Tengamos en cuenta que debemos almacenar estos cambios en una nueva variable.
"""
"""âœ… FunciÃ³n .fill_nan() """
import numpy as np
### ğŸ“ Utilizaremos de ejemplo este dataframe con datos NaN (Numpu)
df_example = pl.DataFrame(data=[[1.0,np.nan,3.0,4.0,np.nan],[np.nan,5.0,np.nan,10.0,21.0]],schema=["Edad","Puntos"])
df_example.head()

#==== â¡ï¸ Rellenando con un valor aleatorio: 1

## ğŸ’¡ EJEMPLO 1: â¬…ï¸ Rellenamos NaN de todas las columnas del dataset.
df_penguins = df_example.fill_nan(value=1)  

## ğŸ’¡ EJEMPLO 2: â¬…ï¸ Rellenamos NaN de una columna especÃ­fica del dataset.
df_example = df_example.with_columns(
    pl.col("Edad").fill_nan(value=1)                 
)

#==== â¡ï¸ Rellenando con una medida esadÃ­stica de una columna: Edad â¡ï¸ media

## ğŸ’¡ EJEMPLO 3: â¬…ï¸ Rellenamos NaN de todas las columnas del dataset.
df_example = df_example.fill_nan(value=pl.col("Edad").drop_nans().mean()) 

## ğŸ’¡ EJEMPLO 4: â¬…ï¸ Rellenamos NaN de una columna especÃ­fica del dataset.
df_example = df_example.with_columns(
    pl.col("Puntos").fill_nan(value=pl.col("Puntos").drop_nans().mean())      
)

#### Fase 4. Agrupamiento de Datos â™¾ï¸

"""El agrupamiento de la informaciÃ³n nos brinda el resumen de la informaciÃ³n proveniente 
de un dataset, logrando econtrar ciertos patrones en cada grupo de informaciÃ³n."""

In [4]:
"""
    ğŸ“ SINTAXIS:

        dataset_nuevo_agrupamiento= dataset_nombre.group_by([NombreColumna1,NombreColumnaN]).agg(
            pl.col(ColumnaAgregacion).funcionAgregacion().alias(NombreNuevoDeColumna)
        )
        
        ### ğŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe.

â En el agrupamiento de informaciÃ³n, podemos utilizar diversas funciones de agregaciÃ³n, tales como:

ğŸ’¡.min():    â¬…ï¸ Permite obtener el mÃ­nimo valor de la informaciÃ³n agrupada.
ğŸ’¡.max():    â¬…ï¸ Permite obtener el mÃ¡ximo valor de la informaciÃ³n agrupada.
ğŸ’¡.sum():    â¬…ï¸ Permite sumar la informaciÃ³n de una columna cuantitativa por la informaciÃ³n agrupada.
ğŸ’¡.count():  â¬…ï¸ Permite contar la cantidad de informaciÃ³n de una columna por la informaciÃ³n agrupada.
ğŸ’¡.mean():   â¬…ï¸ Permite obtener la media de una columna cuantitativa por la informaciÃ³n agrupada.
ğŸ’¡.median(): â¬…ï¸ Permite obtener la mediana de una columna cuantitativa por la informaciÃ³n agrupada.
"""
###âœ”ï¸ Usaremos el dataset de "penguins"
df_penguins = pl.read_csv("../datasets/penguins.csv",separator=",")
# df_penguins.head()

In [8]:
## ğŸ’¡ EJEMPLO 1: (AGRUPANDO POR UNA COLUMNA) 
df_agrupado_uno = df_penguins.group_by(["species"]).agg(
    pl.col("body_mass_g").mean().alias("PromedioBMG") ## â¬…ï¸ Hallamos la media de la columna "body_mass_g"
)
# df_agrupado_uno.head()

## ğŸ’¡ EJEMPLO 2: (AGRUPAR POR DOS COLUMNAS)
df_agrupado_dos = df_penguins.group_by(["species","sex"]).agg(
    pl.col("body_mass_g").mean().alias("Species_Sex_PromedioBMG")
)
# df_agrupado_dos.head()

## ğŸ’¡ EJEMPLO 3: (AGRUPAR LA INFORMACIÃ“N POR LA CANTIDAD DE LA MISMA COLUMNA)

df_agrupado_tres = df_penguins.group_by(["species"]).agg(
    pl.col("species").len().alias("Cantidad") ## â¬…ï¸ .len() : funciÃ³n clave para traer la cantidad de datos de la columna.
)
df_agrupado_tres.head()

shape: (3, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ species   â”† Cantidad â”‚
â”‚ ---       â”† ---      â”‚
â”‚ str       â”† u32      â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Adelie    â”† 152      â”‚
â”‚ Chinstrap â”† 68       â”‚
â”‚ Gentoo    â”† 124      â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

#### FASE 4.1 CÃLCULOS MÃ“VILES EN POLARS ğŸ»â€â„ï¸ğŸ’¹

AsÃ­ como SQL SERVER y Pandas permite realizar cÃ¡lculos mÃ³viles basados en funciones de agregaciÃ³n
(min,max,mean,entre otros), Polars lo realiza mediante la funciÃ³n con prefijo ".rolling_" entre 
una N cantidad de filas hacia atrÃ¡s.

In [ ]:
"""
    ğŸ“ SINTAXIS: 
        
        1ï¸âƒ£ CÃ¡lculo MÃ³vil sin Particionamiento: Permite el cÃ¡lculo mÃ³vil de una columna que no es afectada por otra(s).
        
        dataset_nombre = dataset_nombre.with_columns(
            pl.col(NombreColumnaCalcular).funcionAgregacionAcumulativa().alias(NuevaColumnaMovil)
        ) 
                                             
        2ï¸âƒ£ CÃ¡lculo MÃ³vil con Particionamiento: Permite el cÃ¡lculo mÃ³vil por columnas en especÃ­fico.
        
        dataset_nombre = dataset_nombre.with_columns(
            pl.col(NombreColumnaCalcular).funcionAgregacion().over(partition_by=ColumnaParticionar).alias(NombreColumnaMovil)
        )
        
        ### .over(): Permite el particionamiento por cierta(s) columna(s).

        ğŸ’¡ Importante: Existen ciertas funciones de agregaciÃ³n que contienen dentro de sus parÃ¡metros
                       [window_size: el cuÃ¡l permite seleccionar una cierta cantidad de filas para el
                       cÃ¡lculo mÃ³vil y min_samples que permite establecer una mÃ­nima cantidad de 
                       periodos para evitar valores NaN, estas funciones tienen de prefijo ".rolling_")                                            

        ### ğŸ§  Cuando realizamos el cÃ¡lculo mÃ³vil a una columna, Pandas siempre incluirÃ¡ la fila actual.
"""
### ğŸ’¹ USAREMOS EL SIGUIENTE DATASET DE EJEMPLO (FORMATO .json):
import json
with open("../datasets/ventas.json","r") as file:
    data_json = json.load(file)
df_ventas = pl.DataFrame(data=data_json["ventas"])
# df_ventas.head()

In [ ]:
### ğŸ’¡ EJEMPLO 1: CÃLCULO MÃ“VIL â¡ï¸ VENTAS ACUMULATIVAS (SUMA ACUMULADA SIN PARTICIONES)
df_ventas_acumuladas = df_ventas
df_ventas_acumuladas = df_ventas_acumuladas.with_columns(
    pl.col("total").cum_sum().alias("ventas_acumuladas")  ##â¬…ï¸ Usamos .cum_sum()
) 
# df_ventas_acumuladas.tail()

### ğŸ’¡ EJEMPLO 2: CÃLCULO MÃ“VIL â¡ï¸ VENTAS ACUMULATIVAS (SUMA ACUMULADA CADA 3 DIAS) (âœ… INCLUYE FILA ACTUAL)
df_ventas_acumuladas_3_dias = df_ventas
df_ventas_acumuladas_3_dias = df_ventas_acumuladas_3_dias.with_columns(
    pl.col("total").rolling_sum(window_size=3).alias("ventas_acumuladas") ## â¬…ï¸.rolling_sum()
) 
####ğŸ’¡ Los Valores NaN no permiten realizar sumatorias por 1 o 2 valores, deben ser 3 (âœ… Incluye la fiLa actual - âŒNo particionamos).
# df_ventas_acumuladas_3_dias.head(6)

### ğŸ’¡ EJEMPLO 3: CÃLCULO MÃ“VIL â¡ï¸ VENTAS ACUMULATIVAS (SUMA ACUMULADA CADA 3 DIAS) âœ… (âŒ NO INCLUYE FILA ACTUAL)
df_ventas_acumuladas_3_dias_sin_fila_actual = df_ventas
df_ventas_acumuladas_3_dias_sin_fila_actual = df_ventas_acumuladas_3_dias_sin_fila_actual.with_columns(
    pl.col("total").shift(1).rolling_sum(window_size=3).alias("ventas_acumuladas") ## â¬…ï¸.rolling_sum()
)
####ğŸ’¡ Los Valores NaN no permiten realizar sumatorias por 1 o 2 valores, deben ser 3 (âŒ No incluye la fiLa actual - âŒNo particionamos).
# df_ventas_acumuladas_3_dias_sin_fila_actual.head(7) 

### ğŸ’¡ EJEMPLO 4: CÃLCULO MÃ“VIL â¡ï¸ VENTAS ACUMULATIVAS (SUMA ACUMULADA CON PARTICIONES)
df_ventas_acumuladas_particiones = df_ventas.sort(by="cliente") #.sort(by="cliente") ## â¬…ï¸ Ordenamos antes de particionar
# df_ventas_acumuladas_particiones.head()
df_ventas_acumuladas_particiones = df_ventas_acumuladas_particiones.with_columns(
    pl.col("total").cum_sum().over(partition_by="cliente").alias("ventas_acumuladas")
) 
# df_ventas_acumuladas_particiones.head() ## âœ… .over() permite el particionamiento y reinicia el acumulado por cada cliente.

#=======================================================================================================================================

### ğŸ’¡ EJEMPLO 5: CÃLCULO MÃ“VIL â¡ï¸ PROMEDIO MÃ“VIL (PROMEDIO CADA 3 DÃAS) (âœ… INCLUYE FILA ACTUAL)
df_ventas_promedio_3_dias = df_ventas 
# df_ventas_promedio_3_dias.head()
df_ventas_promedio_3_dias = df_ventas_promedio_3_dias.with_columns(
    pl.col("total").rolling_mean(window_size=3).alias("promedio_ventas_3_dias") ## â¬…ï¸ Utilizamos .rolling_mean()
)
####ğŸ’¡ Los Valores NaN no permiten calcular el promedio por 1 o 2 valores, deben ser 3 (âœ… Incluye la fiLa actual - âŒNo particionamos).
# df_ventas_promedio_3_dias.head()


### ğŸ’¡ EJEMPLO 6: CÃLCULO MÃ“VIL â¡ï¸ PROMEDIO MÃ“VIL (PROMEDIO CADA 3 DÃAS) (âŒ NO INCLUYE FILA ACTUAL)
df_ventas_promedio_3_dias_sin_fila_actual = df_ventas
# df_ventas_promedio_3_dias_sin_fila_actual.head()

df_ventas_promedio_3_dias_sin_fila_actual = df_ventas_promedio_3_dias_sin_fila_actual.with_columns(
    pl.col("total").shift(1).rolling_mean(window_size=3).alias("promedio_ventas_3_dias") ## â¬…ï¸ Utilizamos .rolling_mean()
)
####ğŸ’¡ Los Valores NaN no permiten calcular el promedio por 1 o 2 valores, deben ser 3 (âŒ No incluye la fiLa actual - âŒNo particionamos).
df_ventas_promedio_3_dias_sin_fila_actual.head()


#=======================================================================================================================================

### ğŸ’¡ EJEMPLO 7: CÃLCULO MÃ“VIL â¡ï¸ MÃXIMO MÃ“VIL (VALOR MÃXIMO CADA 3 DÃAS) (âœ… INCLUYE FILA ACTUAL)
df_ventas_maximo_3_dias = df_ventas
# df_ventas_maximo_3_dias.head()
df_ventas_maximo_3_dias = df_ventas_maximo_3_dias.with_columns(
    pl.col("total").rolling_max(window_size=3).alias("valor_maximo_3_dias") ## â¬…ï¸ Utilizamos .rolling_max()
)
####ğŸ’¡ Los Valores NaN no permiten calcular el promedio por 1 o 2 valores, deben ser 3 (âœ… Incluye la fiLa actual - âŒNo particionamos).
df_ventas_maximo_3_dias.head()


### ğŸ’¡ EJEMPLO 8: CÃLCULO MÃ“VIL â¡ï¸ MÃXIMO MÃ“VIL (VALOR MÃXIMO CADA 3 DÃAS) (âŒ NO INCLUYE FILA ACTUAL)
df_ventas_maximo_3_dias_sin_fila_actual = df_ventas
# df_ventas_maximo_3_dias_sin_fila_actual.head()
df_ventas_maximo_3_dias_sin_fila_actual = df_ventas_maximo_3_dias_sin_fila_actual.with_columns(
    pl.col("total").shift(1).rolling_max(window_size=3).alias("valor_maximo_3_dias")
)
####ğŸ’¡ Los Valores NaN no permiten calcular el promedio por 1 o 2 valores, deben ser 3 (âŒ No incluye la fiLa actual - âŒNo particionamos).
# df_ventas_maximo_3_dias_sin_fila_actual.head()


#=======================================================================================================================================

### ğŸ’¡ EJEMPLO 9: CÃLCULO MÃ“VIL â¡ï¸ MÃNIMO MÃ“VIL (VALOR MÃNIMO CADA 3 DÃAS) (âœ… INCLUYE FILA ACTUAL)
df_ventas_minimo_3_dias = df_ventas
# df_ventas_minimo_3_dias.head()
df_ventas_minimo_3_dias = df_ventas_minimo_3_dias.with_columns(
    pl.col("total").rolling_min(window_size=3).alias("valor_minimo_3_dias")
)
####ğŸ’¡ Los Valores NaN no permiten calcular el promedio por 1 o 2 valores, deben ser 3 (âœ… Incluye la fiLa actual - âŒNo particionamos).
# df_ventas_minimo_3_dias.head()


### ğŸ’¡ EJEMPLO 10: CÃLCULO MÃ“VIL â¡ï¸ MÃNIMO MÃ“VIL (VALOR MÃNIMO CADA 3 DÃAS) (âŒ NO INCLUYE FILA ACTUAL)
df_ventas_minimo_3_dias_sin_fila_actual = df_ventas
# df_ventas_minimo_3_dias_sin_fila_actual.head()
df_ventas_minimo_3_dias_sin_fila_actual = df_ventas_minimo_3_dias_sin_fila_actual.with_columns(
    pl.col("total").shift(1).rolling_min(window_size=3).alias("valor_minimo_3_dias")
)
####ğŸ’¡ Los Valores NaN no permiten calcular el promedio por 1 o 2 valores, deben ser 3 (âŒ No incluye la fiLa actual - âŒNo particionamos).
df_ventas_minimo_3_dias_sin_fila_actual.head()

shape: (5, 5)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ nro_venta â”† fecha      â”† cliente    â”† total  â”† valor_minimo_3_dias â”‚
â”‚ ---       â”† ---        â”† ---        â”† ---    â”† ---                 â”‚
â”‚ i64       â”† str        â”† str        â”† f64    â”† f64                 â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1001      â”† 2024-01-22 â”† Cliente_10 â”† 350.25 â”† null                â”‚
â”‚ 1002      â”† 2024-02-15 â”† Cliente_3  â”† 410.5  â”† null                â”‚
â”‚ 1003      â”† 2024-03-08 â”† Cliente_7  â”† 120.75 â”† null                â”‚
â”‚ 1004      â”† 2024-04-20 â”† Cliente_1  â”† 250.0  â”† 120.75              â”‚
â”‚ 1005      â”† 2024-05-11 â”† Cliente_10 â”† 300.9  â”† 120.75              â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

#### FASE 4.2 PIVOT TABLES EN POLARS ğŸ»â€â„ï¸ğŸ’¹

Las Pivot Table permiten transformar filas de un dataset/dataframe en columnas de un nuevo dataset/dataframe,
permitiendo un anÃ¡lisis mÃ¡s detallado sobre un grupo especÃ­fico de datos.

In [ ]:
"""     
      ğŸ“ SINTAXIS:
          dataset_pivoteado_nombre = dataset_original_nombre.pivot(index=NombreColumnaDataframe,on=NombreColumnaDataframe,
                                     values=NombreColumnaDataframe,,aggregate_function=NombreFunciÃ³nAgregaciÃ³n) 

"""
import polars as pl
### âœ…ğŸ—ƒï¸ Dataset a utilizar: titanic
df_titanic = pl.read_csv("../datasets/titanic.csv",separator=",")
# df_titanic.head()

#### ğŸ’¡ EJEMPLO 1: HALLAR EL PROMEDIO DE EDAD POR CLASE Y GÃ‰NERO
df_pivot_uno = df_titanic.pivot(index="pclass",on="sex",values="age",aggregate_function="mean")
df_pivot_uno.head() ##  âœ… Resultado exitoso.


#### ğŸ’¡ EJEMPLO 2: HALLAR EL PROMEDIO DE FARE POR CLASE Y SEXO, ADEMÃS AGREGAR UN TOTAL A NIVEL DE FILA Y COLUMNA CALCULANDO EL PROMEDIO)
df_pivot_dos = df_titanic.pivot(index="pclass",on="sex",values="fare",aggregate_function="mean")
df_pivot_dos = df_pivot_dos.with_columns(
    pl.mean_horizontal("male","female").round(2).alias("total")
)
## ğŸ’¡ Cuando usamos pl.mean_horizontal() permite agregar una columna adicional para realizar un cÃ¡lculo a nivel de fila.
df_pivot_dos.head()
## ğŸ’¡ Calculamos la media de cada columna.
total_avg_male, total_avg_female, total_avg = round(df_pivot_dos["male"].mean(),2),round(df_pivot_dos["female"].mean(),2),round(df_pivot_dos["total"].mean(),2)
## ğŸ’¡ Asignamos los valores a un nuevo dataframe para poder unirlo al dataframe original
df_pivot_total_columna = pl.DataFrame(data=[["Total"],[total_avg_male],[total_avg_female],[total_avg]],schema={"pclass":pl.String,"male":pl.Float64,"female":pl.Float64,"total":pl.Float64})
# df_pivot_total_columna.head() ## ğŸ’¡ Agregamos un valor "Total" a la columna pclass para poder crear la nueva fila en el dataframe original.
df_pivot_dos = df_pivot_dos.with_columns(
    pl.col("pclass").cast(pl.String).alias("pclass") ## ğŸ’¡ Casteamos la columna pclass a un String para poder concatenarlo con el dato del dataframe de totales.
)
# df_pivot_dos.head()
## ğŸ’¡ Concatenamos correctamente los dataframes con el cÃ¡lculo de su total a nivel de columna.
df_pivot_dos_final = pl.concat([df_pivot_dos,df_pivot_total_columna])
df_pivot_dos_final

shape: (2, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ sex    â”† avg       â”‚
â”‚ ---    â”† ---       â”‚
â”‚ str    â”† f64       â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ female â”† 27.915709 â”‚
â”‚ male   â”† 30.726645 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

#### FASE 4.2 UNPIVOT TABLES EN POLARS ğŸ»â€â„ï¸ğŸ’¹

Los UnPivot Tables permiten transformar columnas de un dataset/dataframe en filas de un nuevo dataset/dataframe,
permitiendo reestablecer el estado del dataframe al original, sin embargo:
**LA FUNCIÃ“N DE AGREGACIÃ“N UTILIZADA EN PIVOT NO REGRESA A SU FORMA NORMAL LOS DATOS, ES DECIR, SE MANTIENE EL CÃLCULO DE LA FUNCIÃ“N DE AGREGACIÃ“N**.

In [ ]:
""" 
      ğŸ“ SINTAXIS:
          dataframe_unpivoteado_nombre = NombreDataframePivoteado.unpivot(index=[NombreColumnaIndice],on=[Valor1Pivoteado,ValorNPivoteado],
                                         variable_name=NombreColumnaValoresPivoteados,value_name=NombreColumnaValorFuncionAgregacionPivoteado)
          index: Nombre de la columna del dataset/dataframe pivoteado que se estaleciÃ³ como *index*
          on: Nombre de cada valor establecido como columna en el dataset/dataframe pivoteado
          variable_name: Nombre de la columna que serÃ¡ utilizada como parte de los valores pivoteados.
          value_name: Nombre de la columna el dataset/dataframe pivoteado que es utlizada por la funciÃ³n de agregaciÃ³n.       

"""
import polars as pl
### âœ…ğŸ—ƒï¸ Dataframe pivoteado a utilizar: df_titanic
df_titanic = pl.read_csv("../datasets/titanic.csv",separator=",")
# df_titanic.head()

## âœ… DATASET PIVOTEADO
df_pivoteado = df_titanic.pivot(index="pclass",on="sex",values="age",aggregate_function="mean")
# df_pivoteado.head() 

#### ğŸ’¡ EJEMPLO 1: DESPIVOTEAR EL DATASET PIVOTEADO
df_unpivot_uno = df_pivoteado.unpivot(index=["pclass"],on=["male","female"],variable_name="sex",value_name="age")
df_unpivot_uno.head()

##---- COMPARACIÃ“N DE PIVOT y UNPIVOT TABLE DEL DATASET/DATAFRAME
print(df_pivoteado)
print(df_unpivot_uno)
## ğŸ’¡ Como se mencionÃ³ anteriormente, el unpivot table no regresa los datos calculados por 
##    la funciÃ³n de agregaciÃ³n (en este caso "mean") a su forma base del dataset/dataframe original (df_titanic).

shape: (3, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ pclass â”† male      â”† female    â”‚
â”‚ ---    â”† ---       â”† ---       â”‚
â”‚ i64    â”† f64       â”† f64       â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 3      â”† 26.507589 â”† 21.75     â”‚
â”‚ 1      â”† 41.281386 â”† 34.611765 â”‚
â”‚ 2      â”† 30.740707 â”† 28.722973 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
shape: (6, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ pclass â”† sex    â”† age       â”‚
â”‚ ---    â”† ---    â”† ---       â”‚
â”‚ i64    â”† str    â”† f64       â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 3      â”† male   â”† 26.507589 â”‚
â”‚ 1      â”† male   â”† 41.281386 â”‚
â”‚ 2      â”† male   â”† 30.740707 â”‚
â”‚ 3      â”† female â”† 21.75     â”‚
â”‚ 1      â”† female â”† 34.611765 â”‚
â”‚ 2      â”† female â”† 28.722973 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

#### Fase 5. Combinar y Unir Datasets/Dataframes en Polars ğŸ»â€â„ï¸â™¾ï¸

A diferencia de Pandas, Polars permite la unificaciÃ³n de datasets/dataframes mediante dos formas:
    - Utilizando Join
    - Utilizando Concat

##### Join en Polars ğŸ“ŠğŸ¼

In [6]:
"""
    ğŸ“ SINTAXIS: 

        dataset_unificado_nombre=dataset_nombre_1.join(other=dataset_nombre_2,on='ColumnaEnComun',
                                how='left || rigth || inner || full || semi || anti || cross',
                                left_on='NombreColumnaEnComÃºn',right_on='NombreColumnaEnComÃºn')                                
                                
        ==================================================================================================  

    ### ğŸ’¡Importante: Join permite unificar los datasets/dataframes a nivel columnar, es decir,
                       unifica horizontalmente las columnas de un dataset/dataframe A; con las columnas
                       de un dataset/dataframe B; gracias a una columna en comÃºn que tienen ambos 
                       conjuntos de datos.
                       
                       left_on â¬…ï¸â¡ï¸ right_on : ParÃ¡metros que permiten unificar dataset/dataframes
                                                cuando las columnas en comÃºn tienen diferente nombre.     
"""
### âœ… Utilizaremos este dataset de ejemplo:
import polars as pl
import numpy as np

diccionario_uno = {
    "ID_Cliente":[1,2,3,4,5],
    "Nombre": ["Pepito","Juanito","Pedrito","Brayan","Carlos"],
    "Departamento":["LAS QUINTANAS","EL GOLF","BUENOS AIRES","SAN ANDRÃ‰S","CALIFORNIA"]
}
diccionario_dos = {
    "ID_Cliente":[1,1,2,2,5,4,1,None],
    "Ventas":np.random.uniform(low=1450.25,high=1980.30,size=8).tolist()
}

df_uno = pl.DataFrame(diccionario_uno)
df_dos = pl.DataFrame(diccionario_dos)

diccionario_tres = {
    "Cliente_ID":[1,1,2,2,5,4,1,None],
    "Ventas":np.random.uniform(low=1450.25,high=1980.30,size=8).tolist()
}
df_tres = pl.DataFrame(diccionario_tres)

In [ ]:

#### ğŸ’¡ EJEMPLO 1 (UNIFICACIÃ“N DE DATAFRAMES [INNER]) 
df_ejemplo_1 = df_uno.join(other=df_dos,on="ID_Cliente",how="inner")
# df_ejemplo_1.shape[0] ## Cantidad de registros: 7
# df_ejemplo_1.head(7)
## [NO SE ENCUENTRA EL CLIENTE 3] â¡ï¸ INNER MANTIENE LA INFORMACIÃ“N RELACIONADA Y EXISTENTE ENTRE AMBOS DATASETS

#### ğŸ’¡ EJEMPLO 2 (UNIFICACIÃ“N DE DATAFRAMES [LEFT])
df_ejemplo_2 = df_uno.join(other=df_dos,on="ID_Cliente",how="left")
# df_ejemplo_2.shape[0] ## Cantidad de registros: 8
# df_ejemplo_2.head(8)
## [SE ENCUENTRA EL CLIENTE 3] â¡ï¸ LEFT MANTIENE LA INFORMACIÃ“N DEL LADO IZQUIERDO (df_uno) 
## [ASÃ NO EXISTA ALGÃšN REGISTRO EN EL LADO DERECHO (df_dos)]

#### ğŸ’¡ EJEMPLO 3 (UNIFICACIÃ“N DE DATAFRAMES [RIGHT])
df_ejemplo_3 = df_uno.join(other=df_dos,on="ID_Cliente",how="right")
# df_ejemplo_3.shape[0] ## Cantidad de registros: 8
# df_ejemplo_3.head(8)
## [SE ENCUENTRA EL CLIENTE 3] â¡ï¸ RIGHT MANTIENE LA INFORMACIÃ“N DEL LADO DERECHO (df_dos) 
## [ASÃ NO EXISTA ALGÃšN REGISTRO EN EL LADO IZQUIERDO (df_uno)]

#### ğŸ’¡ EJEMPLO 4 (UNIFICACIÃ“N DE DATAFRAMES [FULL] o [OUTER]) â¬…ï¸ AMBOS REALIZAN LO MISMO
df_ejemplo_4 = df_uno.join(other=df_dos,on="ID_Cliente",how="full")
# df_ejemplo_4.shape[0] ## Cantidad de registros: 9
# df_ejemplo_4.head(9)
## â¡ï¸ FULL u OUTER MANTIENE LA INFORMACIÃ“N DE AMBOS DATAFRAMES.

#### ğŸ’¡ EJEMPLO 5 (UNIFICACIÃ“N DE DATAFRAMES [CROSS] â¡ï¸ Forma 2.)
df_ejemplo_5 = df_uno.join(other=df_dos,how="cross")
# df_ejemplo_5.shape[0] ## Cantidad de registros: 40
# df_ejemplo_5.head()
## â¡ï¸ CROSS GENERA TODAS LAS COMBINACIONES POSIBLES DE LAS FILAS DEL df_uno CON LAS FILAS DEL df_dos. 
##     (YA NO NECESITAMOS UTILIZAR EL PARÃMETRO "on=")

# #### ğŸ’¡ EJEMPLO 6 (UNIFICACIÃ“N DE DATAFRAMES [INNER] â¡ï¸ Forma 2. + left_on + right_on)
df_ejemplo_6 = df_uno.join(other=df_tres,how="inner",left_on="ID_Cliente",right_on="Cliente_ID")
# df_ejemplo_6.shape[0] ## Cantidad de registros: 7
# df_ejemplo_6.head(7)
## â¡ï¸ CUANDO UTILIZAMOS left_on Y right_on YA NO NECESITAMOS UTILIZAR EL PARÃMETRO "on="
## ğŸ“ left_on â¬…ï¸â¡ï¸ right_on : ParÃ¡metros que permiten unificar dataset/dataframes
##    cuando las columnas en comÃºn tienen diferente nombre.


#### ğŸ’¡ EJEMPLO ANTI (PERMITE DEVOLVER LAS FILAS DE df_uno QUE NO SE ENCUENTRAN EN df_dos)
df_ejemplo_anti = df_uno.join(other=df_dos,how="anti",on="ID_Cliente")
# df_ejemplo_anti.shape[0] ## Cantidad de registros: 1
# df_ejemplo_anti.head()


#### ğŸ’¡ EJEMPLO SEMI (PERMITE DEVOLVER LAS FILAS DE df_uno EXISTENTES EN df_dos)
####        PERO DEVOLVIENDO SOLO LAS FILAS DE df_uno
df_ejemplo_semi = df_uno.join(other=df_dos,how="semi",on="ID_Cliente")
# df_ejemplo_semi.shape[0] ## Cantidad de registros: 1
# df_ejemplo_semi.head()

shape: (4, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Cliente â”† Nombre  â”† Departamento  â”‚
â”‚ ---        â”† ---     â”† ---           â”‚
â”‚ i64        â”† str     â”† str           â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1          â”† Pepito  â”† LAS QUINTANAS â”‚
â”‚ 2          â”† Juanito â”† EL GOLF       â”‚
â”‚ 4          â”† Brayan  â”† SAN ANDRÃ‰S    â”‚
â”‚ 5          â”† Carlos  â”† CALIFORNIA    â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

##### Concat en Polars ğŸ“ŠğŸ¼

In [33]:
"""
    ğŸ“ SINTAXIS: 

        dataset_union_nombre = pl.concat([
            dataset_nombre_1.set_index(["NombreColumna1","NombreColumna2","NombreColumnaN"]),
            dataset_nombre_2.set_index(["NombreColumna1","NombreColumna2","NombreColumnaN"])],
            axis = 1,ignore_index = True
        )
                                                        
        ==================================================================================================  

    ### ğŸ’¡Importante: Concat permite unificar los datasets/dataframes a nivel fila, es decir,
                       unifica verticalmente las columnas de un dataset/dataframe A; con las columnas
                       de un dataset/dataframe B; gracias a la(s) columna(s) en comÃºn que tienen ambos 
                       conjuntos de datos.
                       
                       Debemos tener en cuenta que ambos datasets/dataframes deben tener la misma cantidad
                       tipos y orden en las columnas. AdemÃ¡s, el parÃ¡metro "axis" siempre debe igualarse a 1 para
                       que los datastes/dataframes se unifiquen a nivel vertical columnar. Por otro lado,
                       el parÃ¡metro "ignore_index" debe permanecer en True para que el Ã­ndice del dataset/
                       dataframe nuevo se reestablezca.
"""
### âœ… Utilizaremos este dataset de ejemplo:
import polars as pl
import numpy as np

diccionario_uno = {
    "Categorias":["ELECTRODOMÃ‰STICOS","TECNOLOGÃA","JUGUETES","DEPORTE","CULTURA"],
    "AÃ±o": [2022,2022,2023,2023,2023],
    "Ventas":np.random.uniform(low=3500.25,high=3800.30,size=5).round(2).tolist()
}

diccionario_dos = {
    "Categorias":["ELECTRODOMÃ‰STICOS","TECNOLOGÃA","JUGUETES","DEPORTE","CULTURA"],
    "AÃ±o": [2024,2024,2024,2025,2025],
    "Ventas":np.random.uniform(low=2150.25,high=4580.30,size=5).round(2).tolist()
}

diccionario_tres = {
    "Cat":["ELECTRODOMÃ‰STICOS","TECNOLOGÃA","JUGUETES","DEPORTE","CULTURA"],
    "AÃ±os": [2024,2024,2024,2025,2025],
    "Vent":np.random.uniform(low=2150.25,high=4580.30,size=5).round(2).tolist()
}

diccionario_cuatro = {
    "Cat":["ELECTRODOMÃ‰STICOS","TECNOLOGÃA","JUGUETES","DEPORTE","CULTURA"],
    "AÃ±os": [2024,2024,2024,2025,2025],
    "Vent":np.random.uniform(low=2150.25,high=4580.30,size=5).round(2).tolist()
}

df_uno = pl.DataFrame(diccionario_uno)
df_dos = pl.DataFrame(diccionario_dos)
df_tres = pl.DataFrame(diccionario_tres)
df_cuatro = pl.DataFrame(diccionario_cuatro)

In [ ]:
#### ğŸ’¡ EJEMPLO 1 (UNIFICACIÃ“N DE DATAFRAMES A NIVEL COLUMNAR - VERTICAL) 
df_ejemplo_1 = pl.concat([df_uno,df_dos],how="vertical")
# df_ejemplo_1.shape[0] ## Cantidad de registros: 10
# df_ejemplo_1.head(10)

#### ğŸ’¡ EJEMPLO 2 (UNIFICACIÃ“N DE DATAFRAMES A NIVEL COLUMNAR - HORIZONTAL) 
##----- PARA LA UNIÃ“N EN HORIZONTAL, NO DEBEN EXISTIR COLUMNAS CON NOMBRE IGUALES
df_ejemplo_2 = pl.concat([df_uno,df_tres],how="horizontal")
# df_ejemplo_2.shape[0] ## Cantidad de registros: 5
# df_ejemplo_2.head(10)

#### ğŸ’¡ EJEMPLO 3 (UNIFICACIÃ“N DE DATAFRAMES A NIVEL COLUMNAR - DIAGONAL) 
df_ejemplo_3 = pl.concat([df_uno,df_tres],how="diagonal")
# df_ejemplo_3.shape[0] ## Cantidad de registros: 10
# df_ejemplo_3.head(10)

# #### ğŸ’¡ EJEMPLO 4 (UNIFICACIÃ“N DE DATAFRAMES A NIVEL COLUMNAR - VERTICAL) â¬…ï¸ CON DIFERENTES NOMBRES 

# ##---- PASO A). RENOMBRAR LAS COLUMNAS
# df_cuatro = df_cuatro.rename({"Cat":"Categorias","AÃ±os":"AÃ±o","Vent":"Ventas"}) ##â¬…ï¸ EJECUTAMOS UNA SOLA VEZ
# df_cuatro.head()

# ##---- PASO B). UNIFICAR DATASETS/DATAFRAMES

df_ejemplo_4 = pl.concat([df_uno,df_cuatro],how="vertical")
# df_ejemplo_4.shape[0] ## Cantidad de registros: 10
# df_ejemplo_4.head(10)

shape: (10, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Categorias        â”† AÃ±o  â”† Ventas  â”‚
â”‚ ---               â”† ---  â”† ---     â”‚
â”‚ str               â”† i64  â”† f64     â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•¡
â”‚ ELECTRODOMÃ‰STICOS â”† 2022 â”† 3620.09 â”‚
â”‚ TECNOLOGÃA        â”† 2022 â”† 3676.05 â”‚
â”‚ JUGUETES          â”† 2023 â”† 3667.62 â”‚
â”‚ DEPORTE           â”† 2023 â”† 3792.08 â”‚
â”‚ CULTURA           â”† 2023 â”† 3535.57 â”‚
â”‚ ELECTRODOMÃ‰STICOS â”† 2024 â”† 3435.57 â”‚
â”‚ TECNOLOGÃA        â”† 2024 â”† 2695.34 â”‚
â”‚ JUGUETES          â”† 2024 â”† 2500.11 â”‚
â”‚ DEPORTE           â”† 2025 â”† 3923.25 â”‚
â”‚ CULTURA           â”† 2025 â”† 4531.17 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

#### Fase 6. ExportaciÃ³n de Datos en Polars ğŸ»â€â„ï¸ğŸ—ƒï¸

Esta fase final en la manipulaciÃ³n de datos brinda permite que la informaciÃ³n previamente procesada se pueda consumir, intercambiar o almacenar. Su importancia radica en garantizar informaciÃ³n limpia y transformada estÃ© disponible para otros sistemas, anÃ¡lisis posteriores o toma de decisiones, ya sea en archivos planos (CSV, Excel), estructurados (JSON, Parquet) o de alto rendimiento en entornos de Big Data (Parquet).

In [20]:
### ğŸ’¡ UTLIZAREMOS DE EJEMPLO ESTE DATASET
data = {
    "id": [1, 2, 3, 3, None],
    "nombre": ["Ana", "Luis", "Karla", "Karla", "Pedro"],
    "edad": [23, 35, 29, 29, None]
}
import polars as pl
df = pl.DataFrame(data)

In [21]:
### âœ… Realizaremos una Limpieza bÃ¡sica
df = df.drop_nulls()                 # eliminar filas con valores nulos
df = df.unique()        # eliminar duplicados
df = df.with_columns(
    pl.col("id").cast(dtype=pl.Int64).alias("id") # castear columna a entero
)
df = df.rename({"nombre":"Nombre","edad":"Edad"},strict=True) # Renombrar columnas

In [22]:
### âœ… Exportando el dataset
## ----- Formato CSV(Comma Separated Values) 
"""
    SINTAXIS: 
        dataset_nombre.write_csv(file="RutaAlmacenarArchivoExportado",separator="SeparadorDatos")    
    
    âœ”ï¸ file: Es el parÃ¡metro que permite especificar la ruta donde se almacenarÃ¡ el archivo.
    âœ”ï¸ separator: Es el parÃ¡metro que permite especificar el signo de puntuaciÃ³n a separar los datos (Mayormente utilizamos (,) o (;) ).
    
    ### ğŸ§  TENER EN CUENTA QUE LA EXTENSIÃ“N DEBE SER IGUAL A LA FUNCIÃ“N DE EXPORTACIÃ“N DEL ARCHIVO
    ###     Por ejemplo: âœ… write_csv-> .csv ---- âŒ write_csv -> .xlsx
"""
### ğŸ’¡ EJEMPLO
df.write_csv(file="../datasets/fase_exportacion/polars_export.csv", separator=",")
print("Archivo CSV exportado.")

Archivo CSV exportado.

In [ ]:
### âœ… Exportando el dataset
## ----- Formato EXCEL
"""
    SINTAXIS: 
        dataset_nombre.df.write_excel(workbook="RutaAlmacenarArchivoExportado",worksheet="NombreDeLaHojaDelExcel")    
    
    âœ”ï¸ workbook: Es el parÃ¡metro que permite especificar la ruta donde se almacenarÃ¡ el archivo.
    âœ”ï¸ worksheet: Es el parÃ¡metro que permite establecer el nombre de la hoja donde se almacenarÃ¡ el archivo excel.
    
    ### ğŸ§  TENER EN CUENTA QUE LA EXTENSIÃ“N DEBE SER IGUAL A LA FUNCIÃ“N DE EXPORTACIÃ“N DEL ARCHIVO
    ###     Por ejemplo: âœ… write_excel-> .xlsx ---- âŒ write_excel -> .csv
    
    ### ğŸ§  SE MOSTRARÃN LOS EJEMPLOS CON LOS PRINCIPALES PARÃMETROS (workbook, worksheet)
    ### âœ”ï¸ NecesitarÃ¡s instalar el pluging para Polars (creaciÃ³n de archivos excel): pip install xlsxwriter
"""
### ğŸ’¡ EJEMPLO
df.write_excel(workbook="../datasets/fase_exportacion/polars_export.xlsx",worksheet="HojaPrueba") 
print("Archivo Excel exportado.")

Archivo Excel exportado.

In [ ]:
### âœ… Exportando el dataset
## ----- Formato JSON (JAVASCRIPT OBJECT NOTATION)
"""
    SINTAXIS: 
        dataset_nombre.write_json(file="RutaAlmacenarArchivoExportado")  
    
    âœ”ï¸ file: Es el parÃ¡metro que permite especificar la ruta donde se almacenarÃ¡ el archivo.
              
    ### ğŸ§  TENER EN CUENTA QUE LA EXTENSIÃ“N DEBE SER IGUAL A LA FUNCIÃ“N DE EXPORTACIÃ“N DEL ARCHIVO
    ###     Por ejemplo: âœ… write_json-> .json ---- âŒ write_json -> .xlsx
"""
# df.write_json()
# ### ğŸ’¡ EJEMPLO 
df.write_json(file="../datasets/fase_exportacion/polars_export_basico.json")
print("Archivo JSON BÃ¡sico exportado.")

Archivo JSON BÃ¡sico exportado.

In [25]:
### âœ… Exportando el dataset
## ----- Formato PARQUET (FORMATO COLUMNAR OPTIMIZADO PARA SOLUCIONES DE BIG DATA)
"""
    SINTAXIS: 
        dataset_nombre.write_parquet(file="RutaAlmacenarArchivoExportado",compression="brotli|gzip|lzo|snappy|zstd")
    
    âœ”ï¸ file: Es el parÃ¡metro que permite especificar la ruta donde se almacenarÃ¡ el archivo.
    âœ”ï¸ compression: Es el parÃ¡metro que permite reducir el tamaÃ±o del archivo.
                  
    ### ğŸ§  TENER EN CUENTA QUE LA EXTENSIÃ“N DEBE SER IGUAL A LA FUNCIÃ“N DE EXPORTACIÃ“N DEL ARCHIVO
    ###     Por ejemplo: âœ… write_parquet-> .parquet ---- âŒ write_parquet -> .xlsx
    ### ğŸ’¡ EN LOS SIGUIENTES EJEMPLOS UTILIZAREMOS LOS PARÃMETROS CON LOS VALORES MEJORES OPTIMIZADOS.
"""
### ğŸ’¡ EJEMPLO 1: EXPOTANDO FORMATO PARQUET (compression='snappy' y engine='pyarrow')
df.write_parquet(file="../datasets/fase_exportacion/polars_export_parquet.parquet",compression="snappy")
print("Archivo PARQUET exportado.")

### ğŸ§  A tener en cuenta:
"""
compression="snappy"  # RÃ¡pido, compresiÃ³n moderada
compression="gzip"    # Lento, alta compresiÃ³n
compression="brotli"  # Mejor compresiÃ³n, mÃ¡s lento

"""
print("")

Archivo PARQUET exportado.