## üìò Domina tus datos con Pandas: Fundamentos esenciales para todo Analista üêº

---

üë®‚Äçüíª Autor: Brayan Neciosup  
üìç Portafolio: [brayanneciosup](https://bryanneciosup626.wixsite.com/brayandataanalitics)  
üîó LinkedIn: [linkedin.com/brayanneciosup](https://www.linkedin.com/in/brayan-rafael-neciosup-bola%C3%B1os-407a59246/)  
üíª GitHub: [github.com/BrayanR03](https://github.com/BrayanR03)  
üìö Serie: Fundamentos de Pandas y Polars

In [1]:
# Instalar librer√≠a: pip install pandas
# Importamos la librer√≠a
import pandas as pd

### üìå Series en Pandas: El poder de una columna con alma de array

#### ‚úÖ DEFINICI√ìN DE UNA SERIE EN PANDAS üêº

Sintaxis: 

serie=pd.Series(elementos_serie,index=IndicesPreviamenteDefinidos) ‚¨ÖÔ∏è El par√°metro "index", es opcional!.

**Importante: Al definir los indices para las series establecidas, debemos tener la misma cantidad de elementos 
              para el indice y para la informaci√≥n. En caso, no establezcamos la propiedad index=,
              Pandas mostrar√° para el indice de los datos una serie de n√∫meros basado en la cantidad de datos (empezando en 0).

In [ ]:
# Serie - Ejemplo 1 (Con √≠ndices establecidos):
data_1=[1,2,3,4,5]
serie_1=pd.Series(data=data_1,index=["A","B","C","D","E"]) 
print("==== SERIE 1 - √çNDICES ESTABLECIDOS:")
print(serie_1)
# Serie - Ejemplo 2 (Sin √≠ndices establecidos):
data_2=[1,2,3,4,5]
serie_2=pd.Series(data=data_2)
print("==== SERIE 1 - √çNDICES NO ESTABLECIDOS") 
print(serie_2)
# Serie - Ejemplo 3 (Diversos tipos de datos en la Serie):
data_2=[1,2.5,3,"Hola",True]
serie_2=pd.Series(data=data_2)
print("==== SERIE 1 - √çNDICES NO ESTABLECIDOS") 
print(serie_2)

==== SERIE 1 - √çNDICES ESTABLECIDOS:
A    1
B    2
C    3
D    4
E    5
dtype: int64
==== SERIE 1 - √çNDICES NO ESTABLECIDOS
0    1
1    2
2    3
3    4
4    5
dtype: int64
==== SERIE 1 - √çNDICES NO ESTABLECIDOS
0       1
1     2.5
2       3
3    Hola
4    True
dtype: object

#### ‚úÖ Operaciones con Series en Pandas

In [14]:
serie_example = pd.Series(data=[10,15,35,2,82,15,13]) # ‚¨ÖÔ∏è Trabajar√© sin √≠ndices en esta serie de ejemplo
serie_example

0    10
1    15
2    35
3     2
4    82
5    15
6    13
dtype: int64

In [15]:
# a). Obtener un valor por el √≠ndice establecido
print(serie_example[5]) # ‚¨ÖÔ∏è Accedemos el elemento del √≠ndice 5

15

In [16]:
# b). Filtrar valores: Para realizar el filtrado debemos llamar a la serie y luego entre [] llamar a la serie y aplicar la condicion.
# Sintaxis: print(nombre_serie[nombre_serie + condici√≥n]) ‚¨ÖÔ∏è condiciones usando operadores l√≥gicos: > | < | = | >= | <= | !=
# Ejemplo : 
print(serie_example[serie_example>18]) # ( Valores de la serie mayores a 18 )

2    35
4    82
dtype: int64

In [17]:
# c). Realizar operaciones aritm√©ticas b√°sicas:
# Sintaxis: print(nombre_serie + | - | * | / | Valor)
# Ejemplo : 
print(serie_example + 10) # ‚¨ÖÔ∏è Aumentar +10 cada elemento de la serie

0    20
1    25
2    45
3    12
4    92
5    25
6    23
dtype: int64

In [29]:
# d). Reemplazar valores por condiciones (.mask(), .where(), .apply())
# üí°Objetivo: Reemplazamos valores mayores a 30, por 100.
# Sintaxis: 

# serie = nombre_serie.mask(condici√≥n_serie,valor_reemplazar) # ‚¨ÖÔ∏è Usando .mask() (llamamos a la serie y reemplaza donde el valor es True)
# serie = serie.where(condici√≥n_serie_inversa,valor_reemplazar_condicion) # ‚¨ÖÔ∏è Usando .where() (Funciona inversamente al requerimiento)
# serie = serie.apply(lambda x: valor_cumple if condicion else valor_no_cumple ) # Usando .apply() mediante lambda function.

# Ejemplo:

serie_1 = serie_example.mask(serie_example>30,100) # ‚¨ÖÔ∏è Usando .mask() (llamamos a la serie y condicionamos los valores mayor a 100)
print("========== SERIE 1")
print(serie_1)
serie_2 = serie_example.where(serie_example<30,100) # Usando .where() Los valores menor a 30 no cambian, los dem√°s s√≠ (100).
print("========== SERIE 2")
print(serie_2)
serie_3 = serie_example.apply(lambda x: 100 if x>30 else x ) # Usando .apply() El x, es cada elemento de la serie y se evalua.
print("========== SERIE 3")
print(serie_3)

========== SERIE 1
0     10
1     15
2    100
3      2
4    100
5     15
6     13
dtype: int64
========== SERIE 2
0     10
1     15
2    100
3      2
4    100
5     15
6     13
dtype: int64
========== SERIE 3
0     10
1     15
2    100
3      2
4    100
5     15
6     13
dtype: int64

### üìå Dataframes en Pandas: ...

#### ‚úÖ DEFINICI√ìN DE UN DATAFRAME EN PANDAS üêº

Son estructuras de datos bidimensionales, que permiten almacenar informaci√≥n en forma de una matriz (FilasxColumnas),
las cu√°les, deben estar de acorde al tipo de dato definido en la columna. Adem√°s, es una de las estructuras de datos
m√°s utilizadas en An√°lisis, Ingenier√≠a y Ciencia de datos debido que permite la manipulaci√≥n de informaci√≥n.

SINTAXIS:

        dataframe_nombre = pd.DataFrame(data=DatosDataframe,columns=NombreColumnasPreviamenteDefinidas,index=[Opcional])

        data: Informaci√≥n que contedr√° el dataframe
        columns: Las columas que presentar√° el dataframe
        index: Indices opcionales que podemos asignarle

In [ ]:
# DEFINIR UN DATAFRAME MEDIANTE UN DICCIONARIO
"""
üìù Nota: Si queremos definir un dataframe desde un diccionario, las claves del diccionario se convertir√°n
         en las columnas del dataframe y los valores ser√°n la informaci√≥n almacenada bidireccionalmente
         por cada columna del dataframe.
"""
diccionario_example = {
    "Nombre":["Brayan","Rafael","Pepito"],
    "Edad": [25,27,20],
    "Nota":[15,10,16]
}
dict_to_df = pd.DataFrame(diccionario_example)
dict_to_df.head() # ‚¨ÖÔ∏è Funci√≥n b√°sica que permite ver los 5 primeros registros de un dataframe.

   Nombre  Edad  Nota
0  Brayan    25    15
1  Rafael    27    10
2  Pepito    20    16

In [ ]:
# DEFINIR UN DATAFRAME DESDE CERO
dataframe = pd.DataFrame(data=[["Brayan",25,15],["Rafael",27,10],["Pepito",20,16]],
                         columns=["Nombre","Edad","Nota"]) # ‚¨ÖÔ∏è Sin establecer √≠ndice
# dataframe.head()
dataframe_indice = pd.DataFrame(data=[["Brayan",25,15],["Rafael",27,10],["Pepito",20,16]],
                                columns=["Nombre","Edad","Nota"],index=["A","B","C"]) #‚¨ÖÔ∏è Estableciendo √≠ndice
# dataframe_indice.head()

"""
üí° Importante: Al definir las columnas para el Dataframe debemos tener en cuenta que
               si un solo registro tiene la misma cantidad de elementos de acuerdo a la cantidad de columnas,
               por defecto, se asignar√° el valor NaN a los valores faltantes. Caso contrario, si genera error,
               porque ninguna de sus filas, tiene la misma cantidad de elementos que la de sus columnas.
               Por otro lado, la propiedad index en los dataframe ser√° opcional y si es llamada 
               se realizar√° lo mismo que en las series.
"""

dataframe_valores_faltantes = pd.DataFrame(data=[["Brayan",15],["Rafael",10,15],["Pepito",20]],
                                columns=["Nombre","Edad","Nota"])
dataframe_valores_faltantes.head() # ‚úÖ Los valores faltantes se vuelven NaN sin generar error.


# dataframe_valores_faltantes = pd.DataFrame(data=[["Brayan",15],["Rafael",15],["Pepito",20]],
#                                 columns=["Nombre","Edad","Nota"])
# dataframe_valores_faltantes.head() # ‚ùå Genera error porque los datos solo tiene 2 elementos y el dataframe presenta 3 columnas.

   Nombre  Edad  Nota
0  Brayan    15   NaN
1  Rafael    10  15.0
2  Pepito    20   NaN

In [ ]:
# DEFINIR UN DATAFRAME COLUMNA POR COLUMNA

dataframe_columna_a_columna = pd.DataFrame() # ‚¨ÖÔ∏è Inicializamos un dataframe vac√≠o (As√≠ como cuando inicializamos un objeto vac√≠o en programaci√≥n)
# dataframe_columna_a_columna.head()

"""
    üìùNota: Para definir una nueva columna en un dataframe, debemos llamar al dataframe y
            entre corchetes ["NombreColumna"] definimos la columna. Asimismo, cada columna que
            se crea, Pandas internamente le asigna un tipo de dato (int,float,bool,etc), sin embargo,
            si se definen diferentes tipos de datos Pandas asigna un tipo objeto.
"""

dataframe_columna_a_columna["ColumnaEdad"] = [10,16,18,20] 
dataframe_columna_a_columna["ColumnaObjeto"] = ["Brayan",15,45.5,10]
# dataframe_columna_a_columna.head()

"""
    üí°Importante: Al definir columna por columna un dataframe en Pandas debemos si o s√≠ colocar
                  la misma cantidad de datos entre cada columna.                  
"""
# dataframe_columna_a_columna["ColumnaError"] = [23,True] # ‚ùå Esto genera un error.
# dataframe_columna_a_columna.head()

   ColumnaEdad ColumnaObjeto ColumnaError
0           10        Brayan           23
1           16            15         True
2           18          45.5         None
3           20            10         None