## üìò Domina tus datos con Pandas: Fundamentos esenciales para todo Analista üêº

---

üë®‚Äçüíª Autor: Brayan Neciosup  
üìç Portafolio: [brayanneciosup](https://bryanneciosup626.wixsite.com/brayandataanalitics)  
üîó LinkedIn: [linkedin.com/brayanneciosup](https://www.linkedin.com/in/brayan-rafael-neciosup-bola%C3%B1os-407a59246/)  
üíª GitHub: [github.com/BrayanR03](https://github.com/BrayanR03)  
üìö Serie: Fundamentos de Pandas y Polars

In [32]:
# Instalar librer√≠a: pip install pandas
# Importamos la librer√≠a
import pandas as pd

### üìå Series en Pandas: El poder de una columna con alma de array

#### ‚úÖ DEFINICI√ìN DE UNA SERIE EN PANDAS üêº

Sintaxis: 

serie=pd.Series(elementos_serie,index=IndicesPreviamenteDefinidos) ‚¨ÖÔ∏è El par√°metro "index", es opcional!.

**Importante: Al definir los indices para las series establecidas, debemos tener la misma cantidad de elementos 
              para el indice y para la informaci√≥n. En caso, no establezcamos la propiedad index=,
              Pandas mostrar√° para el indice de los datos una serie de n√∫meros basado en la cantidad de datos (empezando en 0).

In [ ]:
# Serie - Ejemplo 1 (Con √≠ndices establecidos):
data_1=[1,2,3,4,5]
serie_1=pd.Series(data=data_1,index=["A","B","C","D","E"]) 
print("==== SERIE 1 - √çNDICES ESTABLECIDOS:")
print(serie_1)
# Serie - Ejemplo 2 (Sin √≠ndices establecidos):
data_2=[1,2,3,4,5]
serie_2=pd.Series(data=data_2)
print("==== SERIE 1 - √çNDICES NO ESTABLECIDOS") 
print(serie_2)
# Serie - Ejemplo 3 (Diversos tipos de datos en la Serie):
data_2=[1,2.5,3,"Hola",True]
serie_2=pd.Series(data=data_2)
print("==== SERIE 1 - √çNDICES NO ESTABLECIDOS") 
print(serie_2)

==== SERIE 1 - √çNDICES ESTABLECIDOS:
A    1
B    2
C    3
D    4
E    5
dtype: int64
==== SERIE 1 - √çNDICES NO ESTABLECIDOS
0    1
1    2
2    3
3    4
4    5
dtype: int64
==== SERIE 1 - √çNDICES NO ESTABLECIDOS
0       1
1     2.5
2       3
3    Hola
4    True
dtype: object

#### ‚úÖ OPERACIONES CON SERIES EN PANDAS üêº

In [14]:
serie_example = pd.Series(data=[10,15,35,2,82,15,13]) # ‚¨ÖÔ∏è Trabajar√© sin √≠ndices en esta serie de ejemplo
serie_example

0    10
1    15
2    35
3     2
4    82
5    15
6    13
dtype: int64

In [15]:
# a). Obtener un valor por el √≠ndice establecido
print(serie_example[5]) # ‚¨ÖÔ∏è Accedemos el elemento del √≠ndice 5

15

In [16]:
# b). Filtrar valores: Para realizar el filtrado debemos llamar a la serie y luego entre [] llamar a la serie y aplicar la condicion.
# Sintaxis: print(nombre_serie[nombre_serie + condici√≥n]) ‚¨ÖÔ∏è condiciones usando operadores l√≥gicos: > | < | = | >= | <= | !=
# Ejemplo : 
print(serie_example[serie_example>18]) # ( Valores de la serie mayores a 18 )

2    35
4    82
dtype: int64

In [17]:
# c). Realizar operaciones aritm√©ticas b√°sicas:
# Sintaxis: print(nombre_serie + | - | * | / | Valor)
# Ejemplo : 
print(serie_example + 10) # ‚¨ÖÔ∏è Aumentar +10 cada elemento de la serie

0    20
1    25
2    45
3    12
4    92
5    25
6    23
dtype: int64

In [29]:
# d). Reemplazar valores por condiciones (.mask(), .where(), .apply())
# üí°Objetivo: Reemplazamos valores mayores a 30, por 100.
# Sintaxis: 

# serie = nombre_serie.mask(condici√≥n_serie,valor_reemplazar) # ‚¨ÖÔ∏è Usando .mask() (llamamos a la serie y reemplaza donde el valor es True)
# serie = serie.where(condici√≥n_serie_inversa,valor_reemplazar_condicion) # ‚¨ÖÔ∏è Usando .where() (Funciona inversamente al requerimiento)
# serie = serie.apply(lambda x: valor_cumple if condicion else valor_no_cumple ) # Usando .apply() mediante lambda function.

# Ejemplo:

serie_1 = serie_example.mask(serie_example>30,100) # ‚¨ÖÔ∏è Usando .mask() (llamamos a la serie y condicionamos los valores mayor a 100)
print("========== SERIE 1")
print(serie_1)
serie_2 = serie_example.where(serie_example<30,100) # Usando .where() Los valores menor a 30 no cambian, los dem√°s s√≠ (100).
print("========== SERIE 2")
print(serie_2)
serie_3 = serie_example.apply(lambda x: 100 if x>30 else x ) # Usando .apply() El x, es cada elemento de la serie y se evalua.
print("========== SERIE 3")
print(serie_3)

========== SERIE 1
0     10
1     15
2    100
3      2
4    100
5     15
6     13
dtype: int64
========== SERIE 2
0     10
1     15
2    100
3      2
4    100
5     15
6     13
dtype: int64
========== SERIE 3
0     10
1     15
2    100
3      2
4    100
5     15
6     13
dtype: int64

### üìå Dataframes en Pandas: ...

#### ‚úÖ DEFINICI√ìN DE UN DATAFRAME EN PANDAS üêº

Son estructuras de datos bidimensionales, que permiten almacenar informaci√≥n en forma de una matriz (FilasxColumnas),
las cu√°les, deben estar de acorde al tipo de dato definido en la columna. Adem√°s, es una de las estructuras de datos
m√°s utilizadas en An√°lisis, Ingenier√≠a y Ciencia de datos debido que permite la manipulaci√≥n de informaci√≥n.

SINTAXIS:

        dataframe_nombre = pd.DataFrame(data=DatosDataframe,columns=NombreColumnasPreviamenteDefinidas,index=[Opcional])

        data: Informaci√≥n que contedr√° el dataframe
        columns: Las columas que presentar√° el dataframe
        index: Indices opcionales que podemos asignarle

In [ ]:
# DEFINIR UN DATAFRAME MEDIANTE UN DICCIONARIO
"""
üìù Nota: Si queremos definir un dataframe desde un diccionario, las claves del diccionario se convertir√°n
         en las columnas del dataframe y los valores ser√°n la informaci√≥n almacenada bidireccionalmente
         por cada columna del dataframe.
"""
diccionario_example = {
    "Nombre":["Brayan","Rafael","Pepito"],
    "Edad": [25,27,20],
    "Nota":[15,10,16]
}
dict_to_df = pd.DataFrame(diccionario_example)
dict_to_df.head() # ‚¨ÖÔ∏è Funci√≥n b√°sica que permite ver los 5 primeros registros de un dataframe.

   Nombre  Edad  Nota
0  Brayan    25    15
1  Rafael    27    10
2  Pepito    20    16

In [ ]:
# DEFINIR UN DATAFRAME DESDE CERO
dataframe = pd.DataFrame(data=[["Brayan",25,15],["Rafael",27,10],["Pepito",20,16]],
                         columns=["Nombre","Edad","Nota"]) # ‚¨ÖÔ∏è Sin establecer √≠ndice
# dataframe.head()
dataframe_indice = pd.DataFrame(data=[["Brayan",25,15],["Rafael",27,10],["Pepito",20,16]],
                                columns=["Nombre","Edad","Nota"],index=["A","B","C"]) #‚¨ÖÔ∏è Estableciendo √≠ndice
# dataframe_indice.head()

"""
üí° Importante: Al definir las columnas para el Dataframe debemos tener en cuenta que
               si un solo registro tiene la misma cantidad de elementos de acuerdo a la cantidad de columnas,
               por defecto, se asignar√° el valor NaN a los valores faltantes. Caso contrario, si genera error,
               porque ninguna de sus filas, tiene la misma cantidad de elementos que la de sus columnas.
               Por otro lado, la propiedad index en los dataframe ser√° opcional y si es llamada 
               se realizar√° lo mismo que en las series.
"""

dataframe_valores_faltantes = pd.DataFrame(data=[["Brayan",15],["Rafael",10,15],["Pepito",20]],
                                columns=["Nombre","Edad","Nota"])
dataframe_valores_faltantes.head() # ‚úÖ Los valores faltantes se vuelven NaN sin generar error.


# dataframe_valores_faltantes = pd.DataFrame(data=[["Brayan",15],["Rafael",15],["Pepito",20]],
#                                 columns=["Nombre","Edad","Nota"])
# dataframe_valores_faltantes.head() # ‚ùå Genera error porque los datos solo tiene 2 elementos y el dataframe presenta 3 columnas.

   Nombre  Edad  Nota
0  Brayan    15   NaN
1  Rafael    10  15.0
2  Pepito    20   NaN

In [ ]:
# DEFINIR UN DATAFRAME COLUMNA POR COLUMNA

dataframe_columna_a_columna = pd.DataFrame() # ‚¨ÖÔ∏è Inicializamos un dataframe vac√≠o (As√≠ como cuando inicializamos un objeto vac√≠o en programaci√≥n)
# dataframe_columna_a_columna.head()

"""
    üìùNota: Para definir una nueva columna en un dataframe, debemos llamar al dataframe y
            entre corchetes ["NombreColumna"] definimos la columna. Asimismo, cada columna que
            se crea, Pandas internamente le asigna un tipo de dato (int,float,bool,etc), sin embargo,
            si se definen diferentes tipos de datos Pandas asigna un tipo objeto.
"""

dataframe_columna_a_columna["ColumnaEdad"] = [10,16,18,20] 
dataframe_columna_a_columna["ColumnaObjeto"] = ["Brayan",15,45.5,10]
# dataframe_columna_a_columna.head()

"""
    üí°Importante: Al definir columna por columna un dataframe en Pandas debemos si o s√≠ colocar
                  la misma cantidad de datos entre cada columna.                  
"""
# dataframe_columna_a_columna["ColumnaError"] = [23,True] # ‚ùå Esto genera un error.
# dataframe_columna_a_columna.head()

   ColumnaEdad ColumnaObjeto ColumnaError
0           10        Brayan           23
1           16            15         True
2           18          45.5         None
3           20            10         None

#### ‚úÖ OPERACIONES CON DATAFRAMES EN PANDAS üêº

In [64]:
df_example = pd.DataFrame(data=[["BRAYAN",15,13],["RAFAEL",25,19],["PEPITO",20,10]],
                          columns=["Nombre","Edad","Nota"])
df_example.head()

   Nombre  Edad  Nota
0  BRAYAN    15    13
1  RAFAEL    25    19
2  PEPITO    20    10

In [70]:
# A). OBTENER EL VALOR O VALORES DE LA COLUMNA DE UN DATAFRAME MEDIANTE SU NOMBRE.

"""
    üìù SINTAXIS: 
    
        dataframe_nombre[NombreColumna] ‚¨ÖÔ∏è Llamamos al dataframe directamente o
        print(dataframe_nombre[NombreColumna]) ‚¨ÖÔ∏è Usamos print()
        
        **Importante: Cuando llamamos con solo un par de corchetes "[]", muestra los resultados,
                      pero, si llamamos con dos pares de corchetes "[[]]" traer√° el nombre de la columna.
                      
        ### üß† Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables. 
"""
# üí° EJEMPLO 1: Usando un par de corchetes "[]"
# df_example["Nota"]
# print(df_example[["Nota"]])

# üí° EJEMPLO 2: Usando dos pares de corchetes "[[]]"
# print(df_example[["Nota"]])
# df_example[["Nota"]]

# üí° EJEMPLO 3: Obtener valores de varias columnas
df_example[["Nota","Nombre"]]

   Nota  Nombre
0    13  BRAYAN
1    19  RAFAEL
2    10  PEPITO

In [ ]:
# B). OBTENER UNA FILA DE VALORES ESPEC√çFICAS DEL DATAFRAME

"""
    üìù SINTAXIS:
    
        dataframe_nombre.iloc[NumeroIndice] ‚¨ÖÔ∏è Recordemos que el indice empieza en 0.
        
        ### üß† Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""

# üí° EJEMPLO 1: N√öMERO DE √çNDICE CORRECTO ‚úÖ 
# df_example.iloc[2] # ‚¨ÖÔ∏è N√∫mero de indice: 2.
print(df_example.iloc[2]) # ‚¨ÖÔ∏è N√∫mero de indice: 2.

## üí° EJEMPLO 2: N√öMERO DE √çNDICE INCORRECTO ‚ùå 

## df_example.iloc[3] # ‚¨ÖÔ∏è N√∫mero de indice: 3.
## print(df_example.iloc[3]) # ‚¨ÖÔ∏è N√∫mero de indice: 3.  
## ‚ùå Error: √çndice fuera de los l√≠mites

Nombre    PEPITO
Edad          20
Nota          10
Name: 2, dtype: object

In [ ]:
# C). OBTENER UN VALOR ESPEC√çFICO DE UN REGISTRO, BASADO EN SU N√öMERO DE √çNDICE
#     Y EL NOMBRE DE UNA COLUMNA.
"""
    üìù SINTAXIS: 
    
        dataframe_nombre.loc[NumeroIndice,NombreColumna] ‚¨ÖÔ∏è Establecemos 2 par√°metros en .loc[]
        
        ### üß† Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""
# üí° EJEMPLO: 
# df_example.loc[1,"Nota"] # ‚¨ÖÔ∏è Accedemos a la fila con √≠ndice 1 y la columna de nombre Nota.
print(df_example.loc[1,"Nota"]) # ‚¨ÖÔ∏è Accedemos a la fila con √≠ndice 1 y la columna de nombre Nota.

19

In [ ]:
# D). FILTRAR VALORES EN UN DATAFRAME:

""" 
    Para realizar el filtro de valores debemos de llamar al Dataframe 
    y luego entre corchetes volver a llamar al Dataframe y una
    columna espec√≠fica con una condici√≥n a evaluar.
    
     üìù SINTAXIS:
     
        dataframe_nombre[dataframe_nombre[NombreColumna] + condici√≥n] ‚¨ÖÔ∏è La condici√≥n pueden ser mediante operadores l√≥gicos
                                                                         pero, respetando el requerimiento a filtrar.
                                                                         
        condiciones = ( > || < || >= || <= || != ) ‚¨ÖÔ∏è Operadores l√≥gicos 
        
        ### üß† Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""
# üí° EJEMPLO 1: USANDO OPERADORES L√ìGICOS (EN UNA COLUMNA)

# df_example[df_example["Nota"]>15] # ‚¨ÖÔ∏è Notas mayores a 15
# df_example[df_example["Nombre"]!='RAFAEL'] # ‚¨ÖÔ∏è Todos los nombre diferentes a RAFAEL


# üí° EJEMPLO 2: USANDO OPERADORES L√ìGICOS (EN M√ÅS DE UNA COLUMNA)

# df_example[(df_example["Edad"]==20) & (df_example["Nota"]==10)] # ‚¨ÖÔ∏è Edad igual a 20 y Nota 10. (2 columnas)
### ‚û°Ô∏è Cada condici√≥n de filtro, la debemos separar mediante par√©ntesis ().


""" 
    Tambi√©n podemos usar el m√©todo .query() para realizar filtrados en una sola linea,
    llamando directamente a las columnas dentro de las comillas simples ''. Sin embargo,
    si requerimos filtrar en columnas tipo String, el valor debe estar dentro de comillas dobles "".
    
    ### üß† Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
    
    üìù SINTAXIS:
    
        dataframe_filtrado = dataframe_nombre.query('NombreColumna1 + condici√≥n1 and|or NombreColumna2 + condici√≥n2 ') ‚¨ÖÔ∏è Utilizamos and y or
"""

# üí° EJEMPLO 3:

# df_filtrado = df_example.query('Nombre=="RAFAEL" and Nota==19') # Filtrando por dos columnas (Usamos and)
# df_filtrado.head()

# üí° EJEMPLO 4:

df_filtrado = df_example.query('Edad==20 or Nota==19') # Filtrando por dos columnas (Usamos or)
df_filtrado.head()

   Nombre  Edad  Nota
1  RAFAEL    25    19
2  PEPITO    20    10

In [65]:
# E). AGREGAR UNA O VARIAS COLUMNAS AL DATAFRAME:

"""
    La o las columnas agregadas al dataframe son el resultado de nueva informaci√≥n
    o de c√°lculos realizados entre las columnas existentes del dataframe.
    
    üìù SINTAXIS:

        dataframe_nombre["NuevaColumna"] = [NuevaInformacion] || dataframe_nombre["NombreColumna1"] + 10
        
    ### üß† Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""

# üí° EJERCICIO 1: NUEVA COLUMNA CON INFORMACI√ìN

df_example["Puntaje"] = [1,2,3] # ‚¨ÖÔ∏è Recodemos que para esta forma de agregar informaci√≥n
                                #    debe contener la misma cantidad de datos que 
                                #    el total de registros.
# df_example.head()

# üí° EJERCICIO 2: NUEVA COLUMNA CALCULADA

df_example["Ranking"] = df_example["Nota"] * df_example["Puntaje"] # ‚¨ÖÔ∏è Recordemos que debemos acceder 
                                                                   #    a las columnas a trav√©s de los corchetes [].
df_example.head()

   Nombre  Edad  Nota  Puntaje  Ranking
0  BRAYAN    15    13        1       13
1  RAFAEL    25    19        2       38
2  PEPITO    20    10        3       30

In [ ]:
# F). ELIMINAR COLUMNAS DEL DATAFRAME:

"""
    üìù SINTAXIS:
    
        dataframe_nombre.drop(columns=["NombreDeColumnaEliminar"], inplace=True | False)
        
    üí° Importante: Al llamar a la propiedad inplace y establecer el valor en True, eliminamos
                   la columna del dataframe original. Sin embargo, al no llamar al par√°metros
                   inplace o llamarlo pero estableciendo un valor false, Pandas devuelve una
                   copia del Dataframe sin las columnas eliminadas.

    ### üß† En este caso, si eliminamos directamente en el dataframe, no hay necesidad
    ###     de almacenarlo en una variable, pero, si en caso requeramos, realizaremos una copia
    ###     del dataframe original y eliminamos la columna.
"""

# üí° EJEMPLO 1:
# df_example.drop(columns="Ranking",inplace=True) # ‚¨ÖÔ∏è Establecemos True en inplace ‚úÖ
# df_example.head() # ‚¨ÖÔ∏è Verificamos que si se elimino correctamente la columna

### üí° EJEMPLO 2:
### df_example.drop(columns="Ranking",inplace=False) # ‚¨ÖÔ∏è Establecemos False en inplace ‚ùå
### df_example.head() # ‚¨ÖÔ∏è Verificamos que NO SE ELIMIN√ì correctamente la columna ‚ùå

# üí° EJEMPLO 3:
df_copia = df_example.copy() # ‚¨ÖÔ∏è M√©todo .copy() que permite copiar el dataframe a otra variable.
df_copia.drop(columns="Ranking",inplace=True) # ‚¨ÖÔ∏è Establecemos True en inplace ‚úÖ
df_copia.head() # ‚¨ÖÔ∏è Verificamos que si se elimino correctamente la columna

   Nombre  Edad  Nota  Puntaje
0  BRAYAN    15    13        1
1  RAFAEL    25    19        2
2  PEPITO    20    10        3

In [ ]:
# G). ORDERNAR LOS DATOS DEL DATAFRAME POR UNA O VARIAS COLUMNAS

"""
    üìù SINTAXIS: 

        dataframe_nombre.sort_values(by='ColumnaAOrdenar',ascending= True | False) ‚¨ÖÔ∏è Ordenamos por los nombres de columnas
        
    üí° Importante: Al establecer el valor de ascending en True, los datos se ordenan
                   de menor a mayor por la columna que especifiquemos. Sin embargo, sino 
                   llamamos a la propiedad ascending o por el contrario, se establece el valor en False,
                   los datos se ordenan de mayor a menor.
                   
        ### üß† Tengamos en cuenta que podemos almacenar el resultado de estas operaciones en variables.
"""
# üí° EJEMPLO 1: ‚û°Ô∏è Ordenamos Alfab√©ticamente (A-Z)

# df_example.sort_values(by="Nombre",ascending=True).head()

# üí° EJEMPLO 2: ‚û°Ô∏è Ordenamos Alfab√©ticamente (Z-A)

# df_example.sort_values(by="Nombre",ascending=False).head()

# üí° EJEMPLO 3: ‚û°Ô∏è Ordenamos por columna Num√©rica (De mayor a menor)

# df_example.sort_values(by="Edad",ascending=False).head()

# üí° EJEMPLO 4: ‚û°Ô∏è Ordenamos por columna Num√©rica (De menor a mayor)

df_example.sort_values(by="Edad",ascending=True).head()

   Nombre  Edad  Nota  Puntaje  Ranking
0  BRAYAN    15    13        1       13
2  PEPITO    20    10        3       30
1  RAFAEL    25    19        2       38

#### ‚úÖ RANGO INTERQUARTIL EN PANDAS üêº

El rango interquartil (IQR) es una m√©trica estad√≠stica utilizada para identificar valores at√≠picos en un conjunto de datos. Su uso es esencial en procesos de limpieza y validaci√≥n, debido que permite evaluar la integridad del dataset al detectar registros que se desv√≠an significativamente del comportamiento general. En proyectos de Machine Learning, una correcta identificaci√≥n de outliers a trav√©s del IQR permite mejorar la calidad de los datos de entrada, lo que impacta directamente en el rendimiento y generalizaci√≥n de los modelos. Para perfiles como Data Analysts y Data Engineers, el IQR se convierte en una herramienta clave en la etapa de preprocesamiento de datos.

In [ ]:
# ESTAD√çSTICA B√ÅSICA EN PANDAS: Mediante la funci√≥n .describe()
"""
    üìù SINTAXIS:
    
        dataframe_nombre.describe() ‚¨ÖÔ∏è Esta funci√≥n devuelve: cantidad_valores||media||desviaci√≥n_est√°ndar||
                                                               valor_m√≠nimo||valor_m√°ximo||quartil_(1,2,3) ‚¨ÖÔ∏è Quartiles con.desribe()
    
    ### üí° Importante: Esta funci√≥n solo devuelve para las columnas con datos num√©ricos. Tambi√©n,
    ###                 para poder realizar calculos del IQR (Rango Interquartil), podemos calcular
    ###                 los quartiles mediante Numpy y su funci√≥n np.percentile().
    
        ### Instalar Numpy: pip install numpy
        ### Importar Numpy: import numpy as np
"""
""" ‚úÖ PARA LOS EJEMPLOS DE IQR, USAREMOS UN DATASET DE LA CARPETA datasets: titanic.csv"""

df_titanic = pd.read_csv("../datasets/titanic.csv",sep=",") # ‚¨ÖÔ∏è Lo explicaremos en pr√≥ximos temas
# df_titanic.head()

# üí° EJEMPLO 1 : 

# df_titanic.describe() # ‚¨ÖÔ∏è Verificamos las estad√≠sticas b√°sicas descriptivas del dataset

""" 
    QUARTILES:

    Los quartiles hacen referencia a las partes iguales divididas en 4 de todo el conjunto de datos.
    Q1 (25% de los datos) - Q2 (50% de los datos) - Q3 (75% de los datos) y Q4 (100% de los datos).
    
    üìù SINTAXIS:

    valor_quartil = np.percentile(ColumnaDeDataframeOSerie,CantidadCuartil)
    
    ### üß† Para los valores at√≠pico solo usaremos los quartiles 1 y 3.
"""

# üí° EJEMPLO 2: RANGO INTERQUARTIL (Columna "fare")
import numpy as np

q1_fare = np.percentile(df_titanic["fare"],25) # Percentil o Quartil 1
q3_fare = np.percentile(df_titanic["fare"],75) # Percentil o Quartil 3

range_iqr_body = q3_fare - q1_fare # C√°lculo del rango interquartil 

# L√≠mite inferior
lower_bound_fare  = q1_fare - 1.5 * range_iqr_body # Formula para hallar valores no at√≠picos, es decir, valores normales.
# L√≠mite superior
upper_bound_fare  = q3_fare + 1.5 * range_iqr_body # Formula para hallar valores at√≠picos, es decir, valores no normales.

df_titanic_atipicos = df_titanic[(df_titanic["fare"]<lower_bound_fare) | (df_titanic["fare"]>upper_bound_fare)]
# df_titanic_atipicos.head()

df_titanic_normales = df_titanic[(df_titanic["fare"]>=lower_bound_fare) & (df_titanic["fare"]<=upper_bound_fare)]
# df_titanic_normales.head()

print(f"Cantidad de datos inicial: {df_titanic.shape[0]}")
print(f"Cantidad de datos at√≠picos: {df_titanic_atipicos.shape[0]}")
print(f"Cantidad de datos normales: {df_titanic_normales.shape[0]}")

Cantidad de datos inicial: 891
Cantidad de datos at√≠picos: 116
Cantidad de datos normales: 775

#### ‚úÖ MANIPULACI√ìN DE DATOS EN PANDAS üêº

La manipulaci√≥n de datos, tambi√©n conocida como data wrangling, es una fase 
fundamental en todo proyecto de an√°lisis de datos. Consiste en transformar 
un dataset crudo, es decir, datos en su forma original, posiblemente desordenada o
incompleta en un formato estructurado y √∫til, como un DataFrame.

##### Fase 1. Fuentes de Datos üóÉÔ∏è

"""
    Pandas üêº permite leer datos desde m√∫ltiples fuentes como archivos CSV, Excel, JSON, 
    bases de datos SQL, entre otros formatos comunes. Esta flexibilidad facilita el trabajo
    con datasets provenientes de distintos or√≠genes, tanto locales como remotos.
"""

In [29]:
# Paso A). DEFINIR LA CARPETA ORIGEN DE DONDE PROVIENE NUESTROS DATASETS (LOCAL)
"""
    üìù SINTAXIS: 
        
        carpeta_origen = "RutaCarpetaOrigen"
    
    ### üß† Va a depender en que entorno nos encontremos porque las rutas 
    ###     de carpetas pueden ser (\) o (/).
"""
# üí° EJEMPLO 1 (Ruta completa):

# carpeta_origen = "C:/Users/USER/Documents/FundamentosPandasPolars/datasets" 

# print(carpeta_origen)

# üí° EJEMPLO 2 (Ruta relativa):

carpeta_origen = f"../datasets/"
# print(carpeta_origen)
import os # ‚¨ÖÔ∏è Permite trabajar con archivos
print(os.listdir(carpeta_origen)) # ‚¨ÖÔ∏è Mostrar los archivos de la carpeta

['penguins.csv', 'titanic.csv']

In [30]:
# Paso B). DEFINIR EL NOMBRE DEL ARCHIVO DEL DATASET
"""
    üìù SINTAXIS:
    
        nombre_archivo = "NombreArchivo.extension"

    ### üß† Depender√° de la extensi√≥n del archivo para indicarle a Pandas que funci√≥n utilizar.
"""
# üí° EJEMPLO 1 (.csv): 
archivos_csv = "penguins.csv"

# üí° EJEMPLO 2 (.xlsx): 
archivos_xlsx = "Pedidos.xlsx"

# üí° EJEMPLO 3 (.json): 
archivos_json = "eventos_logs.json"

In [ ]:
# Paso C). LECTURA DE LOS ARCHIVOS (PASO A + PASO B)
"""
    ### üß† Para los archivos .csv, se recomienda conocer el separador o
    ###     delimitador presente en el archivo e indicarle a Pandas.

    üìù SINTAXIS:
    
        dataset_nombre = pd.read_extensi√≥n(carpeta_origen+nombre_archivo.extensi√≥n)
"""
import pandas as pd # ‚úÖ No olvidar importar pandas al inicio del notebook

# üí° EJEMPLO 1 (Lectura de .csv): 

dataset_csv = pd.read_csv(carpeta_origen+archivos_csv,sep=",") # ‚¨ÖÔ∏è Indicamos el delimitador en sep.
# dataset_csv.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.
"""==============================================================================================="""
# üí° EJEMPLO 2 (Lectura de .xlsx): 

dataset_excel = pd.read_excel(
                 io=carpeta_origen+archivos_xlsx,
                 sheet_name="Hoja1") # ‚¨ÖÔ∏è Indicamos el nombre de la Hoja donde se encuentra
                                     #     la informaci√≥n.
# dataset_excel.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.

""" ‚ö†Ô∏è En caso les arroje error sobre No module named 'openpyxl
       solo instalemos el m√≥dulo con: pip install openpyxl
'"""
# dataset_excel.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.
"""==============================================================================================="""
# üí° EJEMPLO 3 (Lectura de .json):

### Archivo b√°sico JSON
archivo_json_basico = "json_basico.json" # ‚¨ÖÔ∏è Nombre de archivo b√°sico JSON
dataset_json1 = pd.read_json(carpeta_origen+archivo_json_basico) # ‚¨ÖÔ∏è Lectura de JSON b√°sico
# dataset_json1.head()

### Archivo complejo JSON
import json # ‚¨ÖÔ∏è Utilizaremos la librer√≠a json para el aplanamiento del Archivo JSON complejo.
archivo_json_complejo = "eventos_logs.json" # ‚¨ÖÔ∏è Nombre de archivo complejo JSON
with open(carpeta_origen + archivo_json_complejo, "r", encoding="utf-8") as file_data:
    data_archivo_json_complejo = json.load(file_data)
dataset_json2 = pd.json_normalize(data_archivo_json_complejo) # ‚¨ÖÔ∏è Lectura de archivo JSON complejo.
dataset_json2.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.

  evento.usuario_id evento.accion             evento.timestamp
0              U846        compra  2025-05-25T21:07:47.202219Z
1              U321      registro  2025-05-23T11:50:47.202219Z
2              U813         login  2025-05-25T19:09:47.202219Z
3              U677      registro  2025-05-27T09:41:47.202219Z
4              U425        compra  2025-05-23T14:44:47.202219Z