## üìò Domina tus datos con Pandas: Fundamentos esenciales para todo Analista üêº

---

üë®‚Äçüíª Autor: Brayan Neciosup  
üìç Portafolio: [brayanneciosup](https://bryanneciosup626.wixsite.com/brayandataanalitics)  
üîó LinkedIn: [linkedin.com/brayanneciosup](https://www.linkedin.com/in/brayan-rafael-neciosup-bola%C3%B1os-407a59246/)  
üíª GitHub: [github.com/BrayanR03](https://github.com/BrayanR03)  
üìö Serie: Fundamentos de Pandas y Polars

In [1]:
# Instalar librer√≠a: pip install pandas
# Importamos la librer√≠a
import pandas as pd

### üìå Dataframes en Pandas: ...

#### ‚úÖ DEFINICI√ìN DE UN DATAFRAME EN PANDAS üêº

Son estructuras de datos bidimensionales, que permiten almacenar informaci√≥n en forma de una matriz (FilasxColumnas),
las cu√°les, deben estar de acorde al tipo de dato definido en la columna. Adem√°s, es una de las estructuras de datos
m√°s utilizadas en An√°lisis, Ingenier√≠a y Ciencia de datos debido que permite la manipulaci√≥n de informaci√≥n.

SINTAXIS:

        dataframe_nombre = pd.DataFrame(data=DatosDataframe,columns=NombreColumnasPreviamenteDefinidas,index=[Opcional])

        data: Informaci√≥n que contedr√° el dataframe
        columns: Las columas que presentar√° el dataframe
        index: Indices opcionales que podemos asignarle

In [2]:
# DEFINIR UN DATAFRAME MEDIANTE UN DICCIONARIO
"""
üìù Nota: Si queremos definir un dataframe desde un diccionario, las claves del diccionario se convertir√°n
         en las columnas del dataframe y los valores ser√°n la informaci√≥n almacenada bidireccionalmente
         por cada columna del dataframe.
"""
diccionario_example = {
    "Nombre":["Brayan","Rafael","Pepito"],
    "Edad": [25,27,20],
    "Nota":[15,10,16]
}
dict_to_df = pd.DataFrame(diccionario_example)
dict_to_df.head() # ‚¨ÖÔ∏è Funci√≥n b√°sica que permite ver los 5 primeros registros de un dataframe.

   Nombre  Edad  Nota
0  Brayan    25    15
1  Rafael    27    10
2  Pepito    20    16

In [3]:
# DEFINIR UN DATAFRAME DESDE CERO
dataframe = pd.DataFrame(data=[["Brayan",25,15],["Rafael",27,10],["Pepito",20,16]],
                         columns=["Nombre","Edad","Nota"]) # ‚¨ÖÔ∏è Sin establecer √≠ndice
# dataframe.head()
dataframe_indice = pd.DataFrame(data=[["Brayan",25,15],["Rafael",27,10],["Pepito",20,16]],
                                columns=["Nombre","Edad","Nota"],index=["A","B","C"]) #‚¨ÖÔ∏è Estableciendo √≠ndice
# dataframe_indice.head()

"""
üí° Importante: Al definir las columnas para el Dataframe debemos tener en cuenta que
               si un solo registro tiene la misma cantidad de elementos de acuerdo a la cantidad de columnas,
               por defecto, se asignar√° el valor NaN a los valores faltantes. Caso contrario, si genera error,
               porque ninguna de sus filas, tiene la misma cantidad de elementos que la de sus columnas.
               Por otro lado, la propiedad index en los dataframe ser√° opcional y si es llamada 
               se realizar√° lo mismo que en las series.
"""

dataframe_valores_faltantes = pd.DataFrame(data=[["Brayan",15],["Rafael",10,15],["Pepito",20]],
                                columns=["Nombre","Edad","Nota"])
dataframe_valores_faltantes.head() # ‚úÖ Los valores faltantes se vuelven NaN sin generar error.


# dataframe_valores_faltantes = pd.DataFrame(data=[["Brayan",15],["Rafael",15],["Pepito",20]],
#                                 columns=["Nombre","Edad","Nota"])
# dataframe_valores_faltantes.head() # ‚ùå Genera error porque los datos solo tiene 2 elementos y el dataframe presenta 3 columnas.

   Nombre  Edad  Nota
0  Brayan    15   NaN
1  Rafael    10  15.0
2  Pepito    20   NaN

In [8]:
# DEFINIR UN DATAFRAME COLUMNA POR COLUMNA

dataframe_columna_a_columna = pd.DataFrame() # ‚¨ÖÔ∏è Inicializamos un dataframe vac√≠o (As√≠ como cuando inicializamos un objeto vac√≠o en programaci√≥n)
# dataframe_columna_a_columna.head()

"""
    üìùNota: Para definir una nueva columna en un dataframe, debemos llamar al dataframe y
            entre corchetes ["NombreColumna"] definimos la columna. Asimismo, cada columna que
            se crea, Pandas internamente le asigna un tipo de dato (int,float,bool,etc), sin embargo,
            si se definen diferentes tipos de datos Pandas asigna un tipo objeto.
"""

dataframe_columna_a_columna["ColumnaEdad"] = [10,16,18,20] 
dataframe_columna_a_columna["ColumnaObjeto"] = ["Brayan",15,45.5,10]
dataframe_columna_a_columna.head()

"""
    üí°Importante: Al definir columna por columna un dataframe en Pandas debemos si o s√≠ colocar
                  la misma cantidad de datos entre cada columna.                  
"""
# dataframe_columna_a_columna["ColumnaError"] = [23,True] # ‚ùå Esto genera un error.
# dataframe_columna_a_columna.head()

   ColumnaEdad ColumnaObjeto
0           10        Brayan
1           16            15
2           18          45.5
3           20            10