## üìò Domina tus datos con Pandas: Fundamentos esenciales para todo Analista üêº

---

üë®‚Äçüíª Autor: Brayan Neciosup  
üìç Portafolio: [brayanneciosup](https://bryanneciosup626.wixsite.com/brayandataanalitics)  
üîó LinkedIn: [linkedin.com/brayanneciosup](https://www.linkedin.com/in/brayan-rafael-neciosup-bola%C3%B1os-407a59246/)  
üíª GitHub: [github.com/BrayanR03](https://github.com/BrayanR03)  
üìö Serie: Fundamentos de Pandas y Polars

In [1]:
# Instalar librer√≠a: pip install pandas
# Importamos la librer√≠a
import pandas as pd

### üìå Manipulaci√≥n de Datos en Pandas: ...

La manipulaci√≥n de datos, tambi√©n conocida como data wrangling, es una fase 
fundamental en todo proyecto de an√°lisis de datos. Consiste en transformar 
un dataset crudo, es decir, datos en su forma original, posiblemente desordenada o
incompleta en un formato estructurado y √∫til, como un DataFrame.

#### Fase 1. Fuentes de Datos üóÉÔ∏è

"""
    Pandas üêº permite leer datos desde m√∫ltiples fuentes como archivos CSV, Excel, JSON, 
    bases de datos SQL, entre otros formatos comunes. Esta flexibilidad facilita el trabajo
    con datasets provenientes de distintos or√≠genes, tanto locales como remotos.
"""

In [2]:
# Paso A). DEFINIR LA CARPETA ORIGEN DE DONDE PROVIENE NUESTROS DATASETS (LOCAL)
"""
    üìù SINTAXIS: 
        
        carpeta_origen = "RutaCarpetaOrigen"
    
    ### üß† Va a depender en que entorno nos encontremos porque las rutas 
    ###     de carpetas pueden ser (\) o (/).
"""
# üí° EJEMPLO 1 (Ruta completa):

# carpeta_origen = "C:/Users/USER/Documents/FundamentosPandasPolars/datasets" 

# print(carpeta_origen)

# üí° EJEMPLO 2 (Ruta relativa):

carpeta_origen = f"../datasets/"
# print(carpeta_origen)
import os # ‚¨ÖÔ∏è Permite trabajar con archivos
print(os.listdir(carpeta_origen)) # ‚¨ÖÔ∏è Mostrar los archivos de la carpeta

['eventos_logs.json', 'json_basico.json', 'Pedidos.xlsx', 'penguins.csv', 'titanic.csv']

In [3]:
# Paso B). DEFINIR EL NOMBRE DEL ARCHIVO DEL DATASET
"""
    üìù SINTAXIS:
    
        nombre_archivo = "NombreArchivo.extension"

    ### üß† Depender√° de la extensi√≥n del archivo para indicarle a Pandas que funci√≥n utilizar.
"""
# üí° EJEMPLO 1 (.csv): 
archivos_csv = "penguins.csv"

# üí° EJEMPLO 2 (.xlsx): 
archivos_xlsx = "Pedidos.xlsx"

# üí° EJEMPLO 3 (.json): 
archivos_json = "eventos_logs.json"

In [4]:
# Paso C). LECTURA DE LOS ARCHIVOS (PASO A + PASO B)
"""
    ### üß† Para los archivos .csv, se recomienda conocer el separador o
    ###     delimitador presente en el archivo e indicarle a Pandas.

    üìù SINTAXIS:
    
        dataset_nombre = pd.read_extensi√≥n(carpeta_origen+nombre_archivo.extensi√≥n)
"""
import pandas as pd # ‚úÖ No olvidar importar pandas al inicio del notebook

# üí° EJEMPLO 1 (Lectura de .csv): 

dataset_csv = pd.read_csv(carpeta_origen+archivos_csv,sep=",") # ‚¨ÖÔ∏è Indicamos el delimitador en sep.
# dataset_csv.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.
"""==============================================================================================="""
# üí° EJEMPLO 2 (Lectura de .xlsx): 

dataset_excel = pd.read_excel(
                 io=carpeta_origen+archivos_xlsx,
                 sheet_name="Hoja1") # ‚¨ÖÔ∏è Indicamos el nombre de la Hoja donde se encuentra
                                     #     la informaci√≥n.
# dataset_excel.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.

""" ‚ö†Ô∏è En caso les arroje error sobre No module named 'openpyxl
       solo instalemos el m√≥dulo con: pip install openpyxl
'"""
# dataset_excel.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.
"""==============================================================================================="""
# üí° EJEMPLO 3 (Lectura de .json):

### Archivo b√°sico JSON
archivo_json_basico = "json_basico.json" # ‚¨ÖÔ∏è Nombre de archivo b√°sico JSON
dataset_json1 = pd.read_json(carpeta_origen+archivo_json_basico) # ‚¨ÖÔ∏è Lectura de JSON b√°sico
# dataset_json1.head()

### Archivo complejo JSON
import json # ‚¨ÖÔ∏è Utilizaremos la librer√≠a json para el aplanamiento del Archivo JSON complejo.
archivo_json_complejo = "eventos_logs.json" # ‚¨ÖÔ∏è Nombre de archivo complejo JSON
with open(carpeta_origen + archivo_json_complejo, "r", encoding="utf-8") as file_data:
    data_archivo_json_complejo = json.load(file_data)
dataset_json2 = pd.json_normalize(data_archivo_json_complejo) # ‚¨ÖÔ∏è Lectura de archivo JSON complejo.
dataset_json2.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.

  evento.usuario_id evento.accion             evento.timestamp
0              U846        compra  2025-05-25T21:07:47.202219Z
1              U321      registro  2025-05-23T11:50:47.202219Z
2              U813         login  2025-05-25T19:09:47.202219Z
3              U677      registro  2025-05-27T09:41:47.202219Z
4              U425        compra  2025-05-23T14:44:47.202219Z

#### 1.5 Fuentes de Datos - Seaborn

Antes de continuar con las siguientes fases de manipulaci√≥n de datos, es importante
presentar una segunda librer√≠a muy utilizada en el an√°lisis exploratorio y 
visualizaci√≥n de datos: **Seaborn**. Aunque Seaborn fue dise√±ada principalmente para
crear visualizaciones estad√≠sticas, tambi√©n incluye una colecci√≥n de **datasets**,
que resultan muy √∫tiles para practicar t√©cnicas de manipulaci√≥n de datos con Pandas.

üîß Instalaci√≥n y uso de Seaborn 

Para utilizar Seaborn en nuestro entorno de trabajo, sigue estos pasos:

a) Instalaci√≥n en la terminal (si no la tienes instalada): pip install seaborn

b) Importaci√≥n de la librer√≠a: import seaborn as sns

In [2]:
"""
    Mediante su funci√≥n .load_dataset(NombreDelDataset), permite traer datasets almacenados
    internamente desntro de Seaborn y autom√°ticamente se convierten en un Dataframe de Pandas.
    
    üìù SINTAXIS:

        dataframe_nombre = sns.load_dataset(NombreDataset) ‚¨ÖÔ∏è Entre comillas podemos instanciar al dataset.
        
        ### ‚û°Ô∏è Estos son los datasets m√°s utilizados: penguins,titanic, flights, iris, tips, diamonds.
        ### ‚û°Ô∏è Si deseas conocer todos los datasets, usa la siguiente funci√≥n: sns.get_dataset_names()
"""
import seaborn as sns # ‚¨ÖÔ∏è  Primordial Importar la librer√≠a.
# üí° Traer los nombres de todos los datasets de Seaborn:
# sns.get_dataset_names() # ‚¨ÖÔ∏è Devuelve una lista con los nombres de todos sus datasets.

# üí° Lectura de dataset titanic:
df_titanic = sns.load_dataset("titanic")
# df_titanic.head()

# üí° Lectura de dataset penguins:
df_penguins = sns.load_dataset("penguins")
df_penguins.head()

# üí° Lectura de dataset iris:
df_iris = sns.load_dataset("iris")
# df_iris.head()

# üí° Lectura de dataset flights:
df_flights = sns.load_dataset("flights")
df_flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

#### Fase 2. Exploraci√≥n Inicial üîç

In [6]:
"""
    Utilizaremos el dataset de penguins (dataset de Seaborn importado en un csv)
"""
df_penguins = pd.read_csv("../datasets/penguins.csv",sep=",") # ‚¨ÖÔ∏è Accedemos al archivo en la carpeta datasets
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [7]:
"""
    A). Quitar encabezados originales provenientes del Dataset.
    
        üìù SINTAXIS:
        
            dataset_nombre = pl.read_extension(ruta_carpeta_archivo,sep="Delimitador",header=None|Omitir)
            
            üí° Importante: header, es el par√°metro que si establecemos en None, los encabezados se vuelven parte
                           de los registros del dataset, agregandole la posici√≥n de cada columna como nuevo encabezado.
                                        
            ### üß† Tener en cuenta que solo se aplicar√° a las extensiones .excel y .csv
    
#### PARA LOS EJEMPLOS USAREMOS ALGUNOS DATASET PREVIAMENTE VISTOS EN LA FASE 1.
"""

# üí° EJEMPLO 1: Archivo CSV 

df_penguins = pd.read_csv(carpeta_origen+archivos_csv,sep=",",header=None) #‚¨ÖÔ∏è Ocultamos los encabezados
# df_penguins.head()

# üí° EJEMPLO 2: Archivo CSV

df_penguins = pd.read_csv(carpeta_origen+archivos_csv,sep=",") #‚¨ÖÔ∏è Mostramos los encabezados
# df_penguins.head()

# # üí° EJEMPLO 3: Archivo EXCEL 

df_penguins_excel = pd.read_excel(carpeta_origen+archivos_xlsx,sheet_name="Hoja1",header=None) #‚¨ÖÔ∏è Ocultamos los encabezados
# df_penguins_excel.head()

# # üí° EJEMPLO 4: Archivo EXCEL

df_penguins_excel = pd.read_excel(carpeta_origen+archivos_xlsx,sheet_name="Hoja1") #‚¨ÖÔ∏è Mostramos los encabezados
df_penguins_excel.head()

   DetallePedidosPedidoID PedidoFechaHoraRegistro PedidoEstado      Total
0                       1 2025-05-26 18:02:01.240            F  524361.11
1                       2 2025-05-26 18:02:02.430            F  524387.46
2                       3 2025-05-26 18:02:46.287            F  515269.86
3                       4 2025-05-26 18:02:46.290            F  523261.27
4                       5 2025-05-26 18:02:46.290            F  532688.61

In [8]:
"""
    B). Mostrar los N primeros registros de un dataset
    
        üìù SINTAXIS:
    
            dataset_nombre.head(N√∫meroDeRegistros) ‚¨ÖÔ∏è Indicamos un n√∫mero para la cantidad de registros a mostrar    
"""
# üí° EJEMPO 1: 

# df_penguins.head(5) ## ‚¨ÖÔ∏è Mostrar 5 primeros registros del dataset

# üí° EJEMPO 2: 

df_penguins.head(10) ## ‚¨ÖÔ∏è Mostrar 10 primeros registros del dataset

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

In [10]:
"""
    C). Mostrar los N √∫ltimos registros de un dataset
    
        üìù SINTAXIS:
    
            dataset_nombre.tail(N√∫meroDeRegistros) ‚¨ÖÔ∏è Indicamos un n√∫mero para la cantidad de registros a mostrar    
"""
# üí° EJEMPO 1: 

# df_penguins.tail(5) ## ‚¨ÖÔ∏è Mostrar 5 √∫ltimos registros del dataset

# üí° EJEMPO 2: 

df_penguins.tail(10) ## ‚¨ÖÔ∏è Mostrar 10 √∫ltimos registros del dataset

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
334,Gentoo,Biscoe,46.2,14.1,217.0,4375.0,Female
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,Male
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [11]:
"""
    D). Mostrar el vol√∫men del dataset (Cantidad de filas y columnas respectivamente) 
    
        üìù SINTAXIS:
    
            dataset_nombre.shape ‚¨ÖÔ∏è Nos muestra la cantidad de filas y columnas en forma de tupla (,)
            
            #### üß† Podemos acceder a la cantidad de filas o columnas bas√°ndonos en la posici√≥n
                     de los datos que retorna la tupla, gracias a .shape ‚û°Ô∏è 0 = filas y 1 = columnas    
"""
# üí° EJEMPO 1: 

df_penguins.shape ## ‚¨ÖÔ∏è Muestra el vol√∫men de registros del dataset en forma de tupla. (CantidadFilas,CantidadColumnas)

# üí° EJEMPO 2: 

df_penguins.shape[0] ## ‚¨ÖÔ∏è Muestra la cantidad de registros (filas) del dataset

# üí° EJEMPO 3: 

df_penguins.shape[1] ## ‚¨ÖÔ∏è Muestra la cantidad de columnas del dataset

7

#### Fase 3. Transformaci√≥n de Datos üí±

##### 3.1 Datos Cualitativos üî†

In [ ]:
"""
    A). CONVERTIR A MAY√öSCULAS LOS DATOS CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    üìù SINTAXIS:
    
        dataset_nombre[NombreColumnaCualitativa].str.upper()
    
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
"""

# üí° EJEMPLO:

df_penguins["species"] = df_penguins["species"].str.upper() ## ‚¨ÖÔ∏è Convertimos a may√∫sculas los datos de la columna cualitativa ""species""
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,ADELIE,Torgersen,39.1,18.7,181.0,3750.0,Male
1,ADELIE,Torgersen,39.5,17.4,186.0,3800.0,Female
2,ADELIE,Torgersen,40.3,18.0,195.0,3250.0,Female
3,ADELIE,Torgersen,NaN,NaN,NaN,NaN,NaN
4,ADELIE,Torgersen,36.7,19.3,193.0,3450.0,Female

In [ ]:
"""
    B). CONVERTIR A MIN√öSCULAS LOS DATOS CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    üìù SINTAXIS:
    
        dataset_nombre[NombreColumnaCualitativa].str.lower()
    
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
"""

# üí° EJEMPLO:

df_penguins["species"] = df_penguins["species"].str.lower() ## ‚¨ÖÔ∏è Convertimos a min√∫sculas los datos de la columna cualitativa ""species""
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [ ]:
"""
    C). CONVERTIR A MAY√öSCULA LA PRIMERA LETRA DE CADA DATO CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    üìù SINTAXIS:
    
        dataset_nombre[NombreColumnaCualitativa].str.title()
    
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
"""

# üí° EJEMPLO:

df_penguins["species"] = df_penguins["species"].str.title() ## ‚¨ÖÔ∏è Convertimos la primera letra en may√∫scula de cada dato en la columna cualitativa ""species""
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [ ]:
"""
    D). EXTRAER DE CADA DATO CUALITATIVO UNA CADENA EN ESPEC√çFICO MEDIANTE >>EXPRESIONES REGULARES<< EN UN DATASET
    
    üìù SINTAXIS:
    
        dataset_nombre[NombreColumnaCualitativa].str.extract()
    
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
"""
##üí° EJEMPLO 1: ‚¨ÖÔ∏è Extraemos primera letra en may√∫scula 
df_penguins["PrimeraLetraEnMay√∫scula"] = df_penguins["species"].str.extract(r'([A-Z])')
# df_penguins.head()

##üí° EJEMPLO 2: ‚¨ÖÔ∏è Extraemos primera letra en min√∫scula
df_penguins["PrimeraLetraEnMin√∫scula"] = df_penguins["species"].str.extract(r'([a-z])')
# df_penguins.head()

##üí° EJEMPLO 3: ‚¨ÖÔ∏è Retornamos todo despu√©s de una letra en may√∫scula
df_penguins["TodoDespuesDeUnaMay√∫scula"] = df_penguins["species"].str.extract(r'[A-Z](.*)')
# df_penguins.head()

##üí° EJEMPLO 4: ‚¨ÖÔ∏è Retornamos todo despu√©s de una letra en min√∫scula
df_penguins["TodoDespuesDeUnaMin√∫scula"] = df_penguins["species"].str.extract(r'[a-z](.*)')
df_penguins.head()

##üí° EJEMPLO 5: ‚¨ÖÔ∏è Retornamos todo despu√©s de un n√∫mero
df_penguins["TodoDespuesDeUnN√∫mero"] = df_penguins["species"].str.extract(r'[0-9](.*)')
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,PrimeraLetraEnMay√∫scula,PrimeraLetraEnMin√∫scula,TodasLasLetraEnMay√∫scula,TodaUnaCadenaDespuesDeUnaMay√∫scula,TodoDespuesDeUnaMay√∫scula,TodoDespuesDeUnaMin√∫scula,TodoDespuesDeUnN√∫mero
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,A,d,A,delie,delie,elie,NaN
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,A,d,A,delie,delie,elie,NaN
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,A,d,A,delie,delie,elie,NaN
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,A,d,A,delie,delie,elie,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,A,d,A,delie,delie,elie,NaN

In [62]:
"""
    E). REEMPLAZAR VALORES DE DATOS CUALITATIVOS MEDIANTE >>EXPRESIONES REGULARES<< EN UN DATASET
    
    üìù SINTAXIS:
    
        dataset_nombre[NombreColumnaCualitativa].str.replace(pat=Patr√≥nExpresi√≥nRegular,repl=CadenaAReemplazar,regex=True)
    
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
"""
### DATASET DE PRUEBA PARA ESTE EJEMPLO
datos_sucios = {
    "nombre": [
        "  JUAN  p√©rez  ", 
        "MAR√çA@@L√ìPEZ", 
        "Ana--Mart√≠nez", 
        "carlos_rodr√≠guez ", 
        "Sof√≠a123 Garc√≠a"
    ],
    "categoria_producto": [
        "ELECTR√ìNICA#1", 
        "ropa--Mujer", 
        "hogar_y_DECORACI√ìN", 
        "LIBROS@@", 
        "Juguetes  ni√±os"
    ],
    "codigo": [
        "ID-0001", 
        "ID-0023", 
        "CL-1234", 
        "ID-abc123", 
        "id-9999"
    ]
}
## Dataset de prueba (sucio)
df_test = pd.DataFrame(datos_sucios)
# df_test.head()

## Dataset de prueba (limpio)
df_test_clean = df_test.copy() 

## üí° EJEMPLO 1: ‚¨ÖÔ∏è Eliminar caract√©res especiales (@@,#,--,_)
df_test_clean["categoria_producto"] = df_test_clean["categoria_producto"].str.replace(pat=r'[^A-Za-z0-9√Å√â√ç√ì√ö√°√©√≠√≥√∫√ë√±√ú√º]',repl=' ',regex=True)
df_test_clean["nombre"] = df_test_clean["nombre"].str.replace(pat=r'[^A-Za-z√Å√â√ç√ì√ö√°√©√≠√≥√∫√ë√±√ú√º]',repl=' ',regex=True)
# df_test_clean.head()

## üí° EJEMPLO 2: ‚¨ÖÔ∏è Normalizar espacios (Varios espacios en blanco a uno solo)
df_test_clean["categoria_producto"] = df_test_clean["categoria_producto"].str.replace(pat=r'\s+',repl=' ',regex=True)
df_test_clean["nombre"] = df_test_clean["nombre"].str.replace(pat=r'\s+',repl=' ',regex=True)
# df_test_clean.head()

## üí° EJEMPLO 3: ‚¨ÖÔ∏è Reemplazar guiones por espacios en blanco
df_test_clean["nombre"] = df_test_clean["nombre"].str.replace(pat=r'[-_]',repl=' ',regex=True)
# df_test_clean.head()

## üí° EJEMPLO 4: ‚¨ÖÔ∏è Eliminar prefijos (ID- || CL- || id- || Letras)
df_test_clean["codigo"] = df_test_clean["codigo"].str.replace(pat=r'^ID-',repl='',regex=True)
df_test_clean["codigo"] = df_test_clean["codigo"].str.replace(pat=r'^id-',repl='',regex=True)
df_test_clean["codigo"] = df_test_clean["codigo"].str.replace(pat=r'^CL-',repl='',regex=True)
df_test_clean["codigo"] = df_test_clean["codigo"].str.replace(pat=r'[A-Za-z]',repl='',regex=True)
df_test_clean.head()


#### üí° EJEMPLO 6: ‚¨ÖÔ∏è Eliminar n√∫mero en caso no necesitemos
#### df_test_clean["codigo"] = df_test_clean["codigo"].str.replace(pat=r'([0-9])',repl='',regex=True)
#### df_test_clean.head()

              nombre  categoria_producto codigo
0        JUAN p√©rez        ELECTR√ìNICA 1   0001
1        MAR√çA L√ìPEZ          ropa Mujer   0023
2       Ana Mart√≠nez  hogar y DECORACI√ìN   1234
3  carlos rodr√≠guez              LIBROS     123
4       Sof√≠a Garc√≠a      Juguetes ni√±os   9999

##### 3.2 Datos Cuantitativos üî¢

In [2]:
import seaborn as sns  ##üí° Utilizaremos la librer√≠a Seaborn para obtener datasets de prueba.

df_penguins = sns.load_dataset("penguins") ## ‚¨ÖÔ∏è Para este ejemplo utilizaremos el dataset de """penguins"""
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [8]:
"""
    A). EXPLORACI√ìN B√ÅSICA Y RESUMEN ESTAD√çSTICO
        
        üìù Para los datos cuantitativos podemos obtener su estad√≠stica b√°sica
            mediante .decribe() el cu√°l retornar√° el valor de las columnas float o int.
"""
df_penguins.describe()                  ## ‚¨ÖÔ∏è Estad√≠stica simple - Todas las columnas (int/float)
df_penguins[["body_mass_g"]].describe() ## ‚¨ÖÔ∏è Estad√≠stica simple - Columna body_mass_g
df_penguins[["body_mass_g"]].mean()     ## ‚¨ÖÔ∏è Media estad√≠stica - Columna body_mass_g
df_penguins[["body_mass_g"]].median()   ## ‚¨ÖÔ∏è Mediana estad√≠stica - Columna body_mass_g
df_penguins[["body_mass_g"]].min()      ## ‚¨ÖÔ∏è Valor m√≠nimo - Columna body_mass_g
df_penguins[["body_mass_g"]].max()      ## ‚¨ÖÔ∏è Valor m√°ximo - Columna body_mass_g
df_penguins[["body_mass_g"]].sum()      ## ‚¨ÖÔ∏è Suma total - Columna body_mass_g
df_penguins[["body_mass_g"]].std()      ## ‚¨ÖÔ∏è Desviaci√≥n est√°ndar - Columna body_mass_g
df_penguins[["body_mass_g"]].var()      ## ‚¨ÖÔ∏è Varianza - Columna body_mass_g

body_mass_g    643131.077327
dtype: float64

In [22]:
"""
    B). VERIFICAR VALORES NULOS EN LA(S) COLUMNA(AS) DEL DATASET
        
        üóíÔ∏èSINTAXIS:
    
        dataset_nombre.isnull().sum() ‚¨ÖÔ∏è Para todo el dataset.
        dataset_nombre[NombreColumna].isnull().sum() ‚¨ÖÔ∏è A nivel de columna
"""

## üí° EJEMPLO 1: VERIFICAR CANTIDAD DE VALORES NULOS EN TODAS LAS COLUMNAS DEL DATASET
df_penguins.isnull().sum() ##‚¨ÖÔ∏è Retornar√° una serie de Pandas.

## üí° EJEMPLO 2: VERIFICAR CANTIDAD DE VALORES NULOS EN UNA COLUMNA ESPEC√çFICA DEL DATASET
df_penguins["body_mass_g"].isnull().sum() ##‚¨ÖÔ∏è Retornar√° la cantidad de datos nulos de una columna.

np.int64(2)

In [20]:
"""
    C). FILTRANDO VALORES EN COLUMNAS CUANTITATIVAS
"""

# df_penguins.shape[0] ## ‚¨ÖÔ∏è Cantidad de datos del dataset : 344

## üí° EJEMPLO 1: FILTRAR VALORES DE COLUMNA "body_mass_g" MAYOR A 3000
df_penguins_bmg_mayor_3000 = df_penguins.query('body_mass_g>3000')
# df_penguins_bmg_mayor_3000.head()
df_penguins_bmg_mayor_3000.shape[0] ## ‚¨ÖÔ∏è Cantidad de datos resultantes : 331

## üí° EJEMPLO 2: FILTRAR VALORES DE COLUMNA "body_mass_g" ENTRE 1000 y 3000
df_penguins_bmg_entre_1000_3000 = df_penguins.query('body_mass_g>=1000 & body_mass_g<=3000')
# df_penguins_bmg_entre_1000_3000.head()
df_penguins_bmg_entre_1000_3000.shape[0] ## ‚¨ÖÔ∏è Cantidad de datos resultantes : 11

## üí° EJEMPLO 3: FILTRAR VALORES NULOS EN COLUMNA "body_mass_g"
df_penguins_nulos_body_mass_g = df_penguins[(df_penguins["body_mass_g"].isnull())]
# df_penguins_nulos_body_mass_g.head()
# df_penguins_nulos_body_mass_g.shape[0] ## ‚¨ÖÔ∏è Cantidad de datos resultantes : 2

## üí° EJEMPLO 4: FILTRAR VALORES NO NULOS EN COLUMNA "body_mass_g"
df_penguins_no_nulos_body_mass_g = df_penguins[(df_penguins["body_mass_g"].notnull())]
# df_penguins_no_nulos_body_mass_g.head()
df_penguins_no_nulos_body_mass_g.shape[0] ## ‚¨ÖÔ∏è Cantidad de datos resultantes : 342

342

In [27]:
"""
    D). RELLENANDO DATOS Null Y NaN DE LAS COLUMNAS DE UN DATASET
    
        ### üß†EXISTE UNA SIMILITUDAD ENTRE DATOS NaN Y Null DEBIDO QUE AMBOS SON
               TRATADOS COMO VALORES FALTANTES INTERNAMENTE POR PANDAS Y SON CONSIDERADOS
               EQUIVALENTES A EFECTOS DE AN√ÅLISIS Y LIMPIEZA.
"""

"""======================================================================================
    üìù RELLENANDO DATOS Null Y NaN

        üóíÔ∏èSINTAXIS:
        
            dataset_nombre.fillna(value={NombreColumna:ValorARellenar},inplace=True||False,axis=0) ‚¨ÖÔ∏è A nivel de columna
            dataset_nombre.fillna(value=ValorARellenar,inplace=True||False,axis=0) ‚¨ÖÔ∏è Para todo el dataset.
            
            ### üß† Tengamos en cuenta que debemos almacenar estos cambios en una nueva variable.
"""
## üí° EJEMPLO 1: LLENADO TODOS LOS DATOS NULOS DE UNA COLUMNA EN ESPEC√çFICO
# df_penguins.fillna(value={"body_mass_g":0},inplace=True,axis=0) ## ‚¨ÖÔ∏è Rellenaremos con Cero.
# df_penguins["body_mass_g"].isnull().sum() ## ‚úÖ Datos nulos reemplazados

## üí° EJEMPLO 2: LLENADO TODOS LOS DATOS NULOS DEL DATASET COMPLETO.
df_penguins.fillna(value=0,inplace=True,axis=0) ## ‚¨ÖÔ∏è Rellenaremos con Cero.
df_penguins.isnull().sum() ## ‚úÖ Datos nulos reemplazados

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

#### Fase 4. Agrupamiento de Datos ‚ôæÔ∏è

"""El agrupamiento de la informaci√≥n nos brinda el resumen de la informaci√≥n proveniente 
de un dataset, logrando econtrar ciertos patrones en cada grupo de informaci√≥n."""

In [ ]:
"""
üìù SINTAXIS:

dataset_nombre_agrupado = 
    dataset_nombre.groupby(by=["NombreColumna1","NombreColumnaN],as_index=False,observed=True)["NombreColumnaAgregada"]
                  .funcionAgregada().rename({"nombre_columna_generada_de_agrupacion":"nuevo_nombre_columna"},axis=1)
                  .reset_index(level=0,drop=True)
    
    - as_index=False: Mantiene las columnas agrupadas como columnas normales, no como √≠ndice.
    - observed=True: En columnas categ√≥ricas, solo agrupa por combinaciones observadas y evita advertencias.
    - .reset_index(level=0, drop=True): Elimina el √≠ndice de nivel 0 sin agregarlo como columna;
                                        √∫til para limpiar la estructura despu√©s de agrupar o pivotear.

       
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe.

‚ùé En el agrupamiento de informaci√≥n, podemos utilizar diversas funciones de agregaci√≥n, tales como:

üí°.min():    ‚¨ÖÔ∏è Permite obtener el m√≠nimo valor de la informaci√≥n agrupada.
üí°.max():    ‚¨ÖÔ∏è Permite obtener el m√°ximo valor de la informaci√≥n agrupada.
üí°.sum():    ‚¨ÖÔ∏è Permite sumar la informaci√≥n de una columna cuantitativa por la informaci√≥n agrupada.
üí°.count():  ‚¨ÖÔ∏è Permite contar la cantidad de informaci√≥n de una columna por la informaci√≥n agrupada.
üí°.mean():   ‚¨ÖÔ∏è Permite obtener la media de una columna cuantitativa por la informaci√≥n agrupada.
üí°.median(): ‚¨ÖÔ∏è Permite obtener la mediana de una columna cuantitativa por la informaci√≥n agrupada.
"""
###‚úîÔ∏è Usaremos el dataset de "penguins"
import pandas as pd
import seaborn as sns
df_penguins = sns.load_dataset("penguins") 
# df_penguins.head()

In [ ]:
## üí° EJEMPLO 1: (AGRUPANDO POR UNA COLUMNA) 
df_agrupado_uno = df_penguins.groupby(by=["species"],as_index=False,observed=True)["body_mass_g"].mean().rename({"body_mass_g":"avg_body_mass_g"},axis=1)
# df_agrupado_uno.head()

## üí° EJEMPLO 2: (AGRUPAR POR DOS COLUMNAS)
df_agrupado_dos = df_penguins.groupby(by=["species","sex"],as_index=False,observed=True)["body_mass_g"].mean().rename({"body_mass_g":"avg_body_mass_g"},axis=1)
# df_agrupado_dos.head()

## üí° EJEMPLO 3: (AGRUPAR LA INFORMACI√ìN POR LA CANTIDAD DE LA MISMA COLUMNA)
df_agrupado_tres = df_penguins.groupby(by=["species"],as_index=False,observed=True).size().rename({"size":"cantidad_species"},axis=1).reset_index(level=0,drop=True)
df_agrupado_tres.head()

     species  cantidad_species
0     Adelie               152
1  Chinstrap                68
2     Gentoo               124

#### FASE 4.1 C√ÅLCULOS M√ìVILES EN PANDAS üêºüíπ

As√≠ como SQL SERVER permite realizar c√°lculos m√≥viles basados en funciones de agregaci√≥n
(min,max,mean,entre otros), Pandas lo realiza mediante la funci√≥n  entre una  N cantidad de
filas hacia atr√°s, mediante la funci√≥n .rolling()

In [ ]:
"""
    üìù SINTAXIS: 
        
        1Ô∏è‚É£ C√°lculo M√≥vil sin Particionamiento: Permite el c√°lculo m√≥vil de una columna que no es afectada por otra(s).
        
        dataset_nombre[NuevaColumnaMovil] = dataset_nombre[NombreColumnaCalcular]
                                            .rolling(window=CantidadFilasAcumulacion,
                                                     min_periods=CantidadMinimaFilasAcumulacion)
                                            .funcionAgregacion(sum,mean,count,median,etc)
                                            
        2Ô∏è‚É£ C√°lculo M√≥vil con Particionamiento: Permite el c√°lculo m√≥vil por columnas en espec√≠fico.
        
        dataset_nombre[NuevaColumnaMovil] = dataset_nombre.group_by(Columna1Particionar,ColumnaNParticionar)
                                            [NombreColumnaCalcular].rolling(window=CantidadFilasAcumulacion,
                                            min_periods=CantidadMinimaFilasAcumulacion)
                                            .funcionAgregacion(sum,mean,count,median,etc)
                                            .reset_index(drop=True,level=0)

        üí° Importante: El par√°metro min_periods permitir√° que el c√°lculo m√≥vil sea de una m√≠nima 
                       cantidad de periodos para evitar valores NaN. Adem√°s, los par√°metros as_index y observed
                       que se colocaban en el group_by() ya no ser√°n necesarios, sin embargo, debemos establecer
                       .reset_index(drop=True,level=0) para que los indices coincidan y se pueda asignar 
                       el resultado de vuelta al Dataframe original.                                            

        ### üß† Cuando realizamos el c√°lculo m√≥vil a una columna, Pandas siempre incluir√° la fila actual.
"""