## üìò Domina tus datos con Pandas: Fundamentos esenciales para todo Analista üêº

---

üë®‚Äçüíª Autor: Brayan Neciosup  
üìç Portafolio: [brayanneciosup](https://bryanneciosup626.wixsite.com/brayandataanalitics)  
üîó LinkedIn: [linkedin.com/brayanneciosup](https://www.linkedin.com/in/brayan-rafael-neciosup-bola%C3%B1os-407a59246/)  
üíª GitHub: [github.com/BrayanR03](https://github.com/BrayanR03)  
üìö Serie: Fundamentos de Pandas y Polars

In [1]:
# Instalar librer√≠a: pip install pandas
# Importamos la librer√≠a
import pandas as pd

### üìå Manipulaci√≥n de Datos en Pandas: ...

La manipulaci√≥n de datos, tambi√©n conocida como data wrangling, es una fase 
fundamental en todo proyecto de an√°lisis de datos. Consiste en transformar 
un dataset crudo, es decir, datos en su forma original, posiblemente desordenada o
incompleta en un formato estructurado y √∫til, como un DataFrame.

#### Fase 1. Fuentes de Datos üóÉÔ∏è

"""
    Pandas üêº permite leer datos desde m√∫ltiples fuentes como archivos CSV, Excel, JSON, 
    bases de datos SQL, entre otros formatos comunes. Esta flexibilidad facilita el trabajo
    con datasets provenientes de distintos or√≠genes, tanto locales como remotos.
"""

In [2]:
# Paso A). DEFINIR LA CARPETA ORIGEN DE DONDE PROVIENE NUESTROS DATASETS (LOCAL)
"""
    üìù SINTAXIS: 
        
        carpeta_origen = "RutaCarpetaOrigen"
    
    ### üß† Va a depender en que entorno nos encontremos porque las rutas 
    ###     de carpetas pueden ser (\) o (/).
"""
# üí° EJEMPLO 1 (Ruta completa):

# carpeta_origen = "C:/Users/USER/Documents/FundamentosPandasPolars/datasets" 

# print(carpeta_origen)

# üí° EJEMPLO 2 (Ruta relativa):

carpeta_origen = f"../datasets/"
# print(carpeta_origen)
import os # ‚¨ÖÔ∏è Permite trabajar con archivos
print(os.listdir(carpeta_origen)) # ‚¨ÖÔ∏è Mostrar los archivos de la carpeta

['eventos_logs.json', 'json_basico.json', 'Pedidos.xlsx', 'penguins.csv', 'titanic.csv']

In [3]:
# Paso B). DEFINIR EL NOMBRE DEL ARCHIVO DEL DATASET
"""
    üìù SINTAXIS:
    
        nombre_archivo = "NombreArchivo.extension"

    ### üß† Depender√° de la extensi√≥n del archivo para indicarle a Pandas que funci√≥n utilizar.
"""
# üí° EJEMPLO 1 (.csv): 
archivos_csv = "penguins.csv"

# üí° EJEMPLO 2 (.xlsx): 
archivos_xlsx = "Pedidos.xlsx"

# üí° EJEMPLO 3 (.json): 
archivos_json = "eventos_logs.json"

In [4]:
# Paso C). LECTURA DE LOS ARCHIVOS (PASO A + PASO B)
"""
    ### üß† Para los archivos .csv, se recomienda conocer el separador o
    ###     delimitador presente en el archivo e indicarle a Pandas.

    üìù SINTAXIS:
    
        dataset_nombre = pd.read_extensi√≥n(carpeta_origen+nombre_archivo.extensi√≥n)
"""
import pandas as pd # ‚úÖ No olvidar importar pandas al inicio del notebook

# üí° EJEMPLO 1 (Lectura de .csv): 

dataset_csv = pd.read_csv(carpeta_origen+archivos_csv,sep=",") # ‚¨ÖÔ∏è Indicamos el delimitador en sep.
# dataset_csv.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.
"""==============================================================================================="""
# üí° EJEMPLO 2 (Lectura de .xlsx): 

dataset_excel = pd.read_excel(
                 io=carpeta_origen+archivos_xlsx,
                 sheet_name="Hoja1") # ‚¨ÖÔ∏è Indicamos el nombre de la Hoja donde se encuentra
                                     #     la informaci√≥n.
# dataset_excel.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.

""" ‚ö†Ô∏è En caso les arroje error sobre No module named 'openpyxl
       solo instalemos el m√≥dulo con: pip install openpyxl
'"""
# dataset_excel.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.
"""==============================================================================================="""
# üí° EJEMPLO 3 (Lectura de .json):

### Archivo b√°sico JSON
archivo_json_basico = "json_basico.json" # ‚¨ÖÔ∏è Nombre de archivo b√°sico JSON
dataset_json1 = pd.read_json(carpeta_origen+archivo_json_basico) # ‚¨ÖÔ∏è Lectura de JSON b√°sico
# dataset_json1.head()

### Archivo complejo JSON
import json # ‚¨ÖÔ∏è Utilizaremos la librer√≠a json para el aplanamiento del Archivo JSON complejo.
archivo_json_complejo = "eventos_logs.json" # ‚¨ÖÔ∏è Nombre de archivo complejo JSON
with open(carpeta_origen + archivo_json_complejo, "r", encoding="utf-8") as file_data:
    data_archivo_json_complejo = json.load(file_data)
dataset_json2 = pd.json_normalize(data_archivo_json_complejo) # ‚¨ÖÔ∏è Lectura de archivo JSON complejo.
dataset_json2.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.

  evento.usuario_id evento.accion             evento.timestamp
0              U846        compra  2025-05-25T21:07:47.202219Z
1              U321      registro  2025-05-23T11:50:47.202219Z
2              U813         login  2025-05-25T19:09:47.202219Z
3              U677      registro  2025-05-27T09:41:47.202219Z
4              U425        compra  2025-05-23T14:44:47.202219Z

#### 1.5 Fuentes de Datos - Seaborn

Antes de continuar con las siguientes fases de manipulaci√≥n de datos, es importante
presentar una segunda librer√≠a muy utilizada en el an√°lisis exploratorio y 
visualizaci√≥n de datos: **Seaborn**. Aunque Seaborn fue dise√±ada principalmente para
crear visualizaciones estad√≠sticas, tambi√©n incluye una colecci√≥n de **datasets**,
que resultan muy √∫tiles para practicar t√©cnicas de manipulaci√≥n de datos con Pandas.

üîß Instalaci√≥n y uso de Seaborn 

Para utilizar Seaborn en nuestro entorno de trabajo, sigue estos pasos:

a) Instalaci√≥n en la terminal (si no la tienes instalada): pip install seaborn

b) Importaci√≥n de la librer√≠a: import seaborn as sns

In [5]:
"""
    Mediante su funci√≥n .load_dataset(NombreDelDataset), permite traer datasets almacenados
    internamente desntro de Seaborn y autom√°ticamente se convierten en un Dataframe de Pandas.
    
    üìù SINTAXIS:

        dataframe_nombre = sns.load_dataset(NombreDataset) ‚¨ÖÔ∏è Entre comillas podemos instanciar al dataset.
        
        ### ‚û°Ô∏è Estos son los datasets m√°s utilizados: penguins,titanic, flights, iris, tips, diamonds.
        ### ‚û°Ô∏è Si deseas conocer todos los datasets, usa la siguiente funci√≥n: sns.get_dataset_names()
"""
import seaborn as sns # ‚¨ÖÔ∏è  Primordial Importar la librer√≠a.
# üí° Traer los nombres de todos los datasets de Seaborn:
# sns.get_dataset_names() # ‚¨ÖÔ∏è Devuelve una lista con los nombres de todos sus datasets.

# üí° Lectura de dataset titanic:
df_titanic = sns.load_dataset("titanic")
# df_titanic.head()

# üí° Lectura de dataset penguins:
df_penguins = sns.load_dataset("penguins")
df_penguins.head()

# üí° Lectura de dataset iris:
df_iris = sns.load_dataset("iris")
# df_iris.head()

# üí° Lectura de dataset flights:
df_flights = sns.load_dataset("flights")
df_flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

#### Fase 2. Exploraci√≥n Inicial üîç

In [6]:
"""
    Utilizaremos el dataset de penguins (dataset de Seaborn importado en un csv)
"""
df_penguins = pd.read_csv("../datasets/penguins.csv",sep=",") # ‚¨ÖÔ∏è Accedemos al archivo en la carpeta datasets
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [7]:
"""
    A). Quitar encabezados originales provenientes del Dataset.
    
        üìù SINTAXIS:
        
            dataset_nombre = pl.read_extension(ruta_carpeta_archivo,sep="Delimitador",header=None|Omitir)
            
            üí° Importante: header, es el par√°metro que si establecemos en None, los encabezados se vuelven parte
                           de los registros del dataset, agregandole la posici√≥n de cada columna como nuevo encabezado.
                                        
            ### üß† Tener en cuenta que solo se aplicar√° a las extensiones .excel y .csv
    
#### PARA LOS EJEMPLOS USAREMOS ALGUNOS DATASET PREVIAMENTE VISTOS EN LA FASE 1.
"""

# üí° EJEMPLO 1: Archivo CSV 

df_penguins = pd.read_csv(carpeta_origen+archivos_csv,sep=",",header=None) #‚¨ÖÔ∏è Ocultamos los encabezados
# df_penguins.head()

# üí° EJEMPLO 2: Archivo CSV

df_penguins = pd.read_csv(carpeta_origen+archivos_csv,sep=",") #‚¨ÖÔ∏è Mostramos los encabezados
# df_penguins.head()

# # üí° EJEMPLO 3: Archivo EXCEL 

df_penguins_excel = pd.read_excel(carpeta_origen+archivos_xlsx,sheet_name="Hoja1",header=None) #‚¨ÖÔ∏è Ocultamos los encabezados
# df_penguins_excel.head()

# # üí° EJEMPLO 4: Archivo EXCEL

df_penguins_excel = pd.read_excel(carpeta_origen+archivos_xlsx,sheet_name="Hoja1") #‚¨ÖÔ∏è Mostramos los encabezados
df_penguins_excel.head()

   DetallePedidosPedidoID PedidoFechaHoraRegistro PedidoEstado      Total
0                       1 2025-05-26 18:02:01.240            F  524361.11
1                       2 2025-05-26 18:02:02.430            F  524387.46
2                       3 2025-05-26 18:02:46.287            F  515269.86
3                       4 2025-05-26 18:02:46.290            F  523261.27
4                       5 2025-05-26 18:02:46.290            F  532688.61

In [8]:
"""
    B). Mostrar los N primeros registros de un dataset
    
        üìù SINTAXIS:
    
            dataset_nombre.head(N√∫meroDeRegistros) ‚¨ÖÔ∏è Indicamos un n√∫mero para la cantidad de registros a mostrar    
"""
# üí° EJEMPO 1: 

# df_penguins.head(5) ## ‚¨ÖÔ∏è Mostrar 5 primeros registros del dataset

# üí° EJEMPO 2: 

df_penguins.head(10) ## ‚¨ÖÔ∏è Mostrar 10 primeros registros del dataset

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

In [10]:
"""
    C). Mostrar los N √∫ltimos registros de un dataset
    
        üìù SINTAXIS:
    
            dataset_nombre.tail(N√∫meroDeRegistros) ‚¨ÖÔ∏è Indicamos un n√∫mero para la cantidad de registros a mostrar    
"""
# üí° EJEMPO 1: 

# df_penguins.tail(5) ## ‚¨ÖÔ∏è Mostrar 5 √∫ltimos registros del dataset

# üí° EJEMPO 2: 

df_penguins.tail(10) ## ‚¨ÖÔ∏è Mostrar 10 √∫ltimos registros del dataset

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
334,Gentoo,Biscoe,46.2,14.1,217.0,4375.0,Female
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,Male
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [11]:
"""
    D). Mostrar el vol√∫men del dataset (Cantidad de filas y columnas respectivamente) 
    
        üìù SINTAXIS:
    
            dataset_nombre.shape ‚¨ÖÔ∏è Nos muestra la cantidad de filas y columnas en forma de tupla (,)
            
            #### üß† Podemos acceder a la cantidad de filas o columnas bas√°ndonos en la posici√≥n
                     de los datos que retorna la tupla, gracias a .shape ‚û°Ô∏è 0 = filas y 1 = columnas    
"""
# üí° EJEMPO 1: 

df_penguins.shape ## ‚¨ÖÔ∏è Muestra el vol√∫men de registros del dataset en forma de tupla. (CantidadFilas,CantidadColumnas)

# üí° EJEMPO 2: 

df_penguins.shape[0] ## ‚¨ÖÔ∏è Muestra la cantidad de registros (filas) del dataset

# üí° EJEMPO 3: 

df_penguins.shape[1] ## ‚¨ÖÔ∏è Muestra la cantidad de columnas del dataset

7