## üìò Domina tus datos con Pandas: Fundamentos esenciales para todo Analista üêº

---

üë®‚Äçüíª Autor: Brayan Neciosup  
üìç Portafolio: [brayanneciosup](https://bryanneciosup626.wixsite.com/brayandataanalitics)  
üîó LinkedIn: [linkedin.com/brayanneciosup](https://www.linkedin.com/in/brayan-rafael-neciosup-bola%C3%B1os-407a59246/)  
üíª GitHub: [github.com/BrayanR03](https://github.com/BrayanR03)  
üìö Serie: Fundamentos de Pandas y Polars

In [1]:
# Instalar librer√≠a: pip install pandas
# Importamos la librer√≠a
import pandas as pd

### üìå Manipulaci√≥n de Datos en Pandas: ...

La manipulaci√≥n de datos, tambi√©n conocida como data wrangling, es una fase 
fundamental en todo proyecto de an√°lisis de datos. Consiste en transformar 
un dataset crudo, es decir, datos en su forma original, posiblemente desordenada o
incompleta en un formato estructurado y √∫til, como un DataFrame.

#### Fase 1. Fuentes de Datos üóÉÔ∏è

"""
    Pandas üêº permite leer datos desde m√∫ltiples fuentes como archivos CSV, Excel, JSON, 
    bases de datos SQL, entre otros formatos comunes. Esta flexibilidad facilita el trabajo
    con datasets provenientes de distintos or√≠genes, tanto locales como remotos.
"""

In [2]:
# Paso A). DEFINIR LA CARPETA ORIGEN DE DONDE PROVIENE NUESTROS DATASETS (LOCAL)
"""
    üìù SINTAXIS: 
        
        carpeta_origen = "RutaCarpetaOrigen"
    
    ### üß† Va a depender en que entorno nos encontremos porque las rutas 
    ###     de carpetas pueden ser (\) o (/).
"""
# üí° EJEMPLO 1 (Ruta completa):

# carpeta_origen = "C:/Users/USER/Documents/FundamentosPandasPolars/datasets" 

# print(carpeta_origen)

# üí° EJEMPLO 2 (Ruta relativa):

carpeta_origen = f"../datasets/"
# print(carpeta_origen)
import os # ‚¨ÖÔ∏è Permite trabajar con archivos
print(os.listdir(carpeta_origen)) # ‚¨ÖÔ∏è Mostrar los archivos de la carpeta

['eventos_logs.json', 'json_basico.json', 'Pedidos.xlsx', 'penguins.csv', 'titanic.csv']

In [3]:
# Paso B). DEFINIR EL NOMBRE DEL ARCHIVO DEL DATASET
"""
    üìù SINTAXIS:
    
        nombre_archivo = "NombreArchivo.extension"

    ### üß† Depender√° de la extensi√≥n del archivo para indicarle a Pandas que funci√≥n utilizar.
"""
# üí° EJEMPLO 1 (.csv): 
archivos_csv = "penguins.csv"

# üí° EJEMPLO 2 (.xlsx): 
archivos_xlsx = "Pedidos.xlsx"

# üí° EJEMPLO 3 (.json): 
archivos_json = "eventos_logs.json"

In [4]:
# Paso C). LECTURA DE LOS ARCHIVOS (PASO A + PASO B)
"""
    ### üß† Para los archivos .csv, se recomienda conocer el separador o
    ###     delimitador presente en el archivo e indicarle a Pandas.

    üìù SINTAXIS:
    
        dataset_nombre = pd.read_extensi√≥n(carpeta_origen+nombre_archivo.extensi√≥n)
"""
import pandas as pd # ‚úÖ No olvidar importar pandas al inicio del notebook

# üí° EJEMPLO 1 (Lectura de .csv): 

dataset_csv = pd.read_csv(carpeta_origen+archivos_csv,sep=",") # ‚¨ÖÔ∏è Indicamos el delimitador en sep.
# dataset_csv.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.
"""==============================================================================================="""
# üí° EJEMPLO 2 (Lectura de .xlsx): 

dataset_excel = pd.read_excel(
                 io=carpeta_origen+archivos_xlsx,
                 sheet_name="Hoja1") # ‚¨ÖÔ∏è Indicamos el nombre de la Hoja donde se encuentra
                                     #     la informaci√≥n.
# dataset_excel.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.

""" ‚ö†Ô∏è En caso les arroje error sobre No module named 'openpyxl
       solo instalemos el m√≥dulo con: pip install openpyxl
'"""
# dataset_excel.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.
"""==============================================================================================="""
# üí° EJEMPLO 3 (Lectura de .json):

### Archivo b√°sico JSON
archivo_json_basico = "json_basico.json" # ‚¨ÖÔ∏è Nombre de archivo b√°sico JSON
dataset_json1 = pd.read_json(carpeta_origen+archivo_json_basico) # ‚¨ÖÔ∏è Lectura de JSON b√°sico
# dataset_json1.head()

### Archivo complejo JSON
import json # ‚¨ÖÔ∏è Utilizaremos la librer√≠a json para el aplanamiento del Archivo JSON complejo.
archivo_json_complejo = "eventos_logs.json" # ‚¨ÖÔ∏è Nombre de archivo complejo JSON
with open(carpeta_origen + archivo_json_complejo, "r", encoding="utf-8") as file_data:
    data_archivo_json_complejo = json.load(file_data)
dataset_json2 = pd.json_normalize(data_archivo_json_complejo) # ‚¨ÖÔ∏è Lectura de archivo JSON complejo.
dataset_json2.head() # ‚¨ÖÔ∏è Funci√≥n que permite leer y retornar los 5 primeros registros del archivo.

  evento.usuario_id evento.accion             evento.timestamp
0              U846        compra  2025-05-25T21:07:47.202219Z
1              U321      registro  2025-05-23T11:50:47.202219Z
2              U813         login  2025-05-25T19:09:47.202219Z
3              U677      registro  2025-05-27T09:41:47.202219Z
4              U425        compra  2025-05-23T14:44:47.202219Z

#### 1.5 Fuentes de Datos - Seaborn

Antes de continuar con las siguientes fases de manipulaci√≥n de datos, es importante
presentar una segunda librer√≠a muy utilizada en el an√°lisis exploratorio y 
visualizaci√≥n de datos: **Seaborn**. Aunque Seaborn fue dise√±ada principalmente para
crear visualizaciones estad√≠sticas, tambi√©n incluye una colecci√≥n de **datasets**,
que resultan muy √∫tiles para practicar t√©cnicas de manipulaci√≥n de datos con Pandas.

üîß Instalaci√≥n y uso de Seaborn 

Para utilizar Seaborn en nuestro entorno de trabajo, sigue estos pasos:

a) Instalaci√≥n en la terminal (si no la tienes instalada): pip install seaborn

b) Importaci√≥n de la librer√≠a: import seaborn as sns

In [2]:
"""
    Mediante su funci√≥n .load_dataset(NombreDelDataset), permite traer datasets almacenados
    internamente desntro de Seaborn y autom√°ticamente se convierten en un Dataframe de Pandas.
    
    üìù SINTAXIS:

        dataframe_nombre = sns.load_dataset(NombreDataset) ‚¨ÖÔ∏è Entre comillas podemos instanciar al dataset.
        
        ### ‚û°Ô∏è Estos son los datasets m√°s utilizados: penguins,titanic, flights, iris, tips, diamonds.
        ### ‚û°Ô∏è Si deseas conocer todos los datasets, usa la siguiente funci√≥n: sns.get_dataset_names()
"""
import seaborn as sns # ‚¨ÖÔ∏è  Primordial Importar la librer√≠a.
# üí° Traer los nombres de todos los datasets de Seaborn:
# sns.get_dataset_names() # ‚¨ÖÔ∏è Devuelve una lista con los nombres de todos sus datasets.

# üí° Lectura de dataset titanic:
df_titanic = sns.load_dataset("titanic")
# df_titanic.head()

# üí° Lectura de dataset penguins:
df_penguins = sns.load_dataset("penguins")
df_penguins.head()

# üí° Lectura de dataset iris:
df_iris = sns.load_dataset("iris")
# df_iris.head()

# üí° Lectura de dataset flights:
df_flights = sns.load_dataset("flights")
df_flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

#### Fase 2. Exploraci√≥n Inicial üîç

In [6]:
"""
    Utilizaremos el dataset de penguins (dataset de Seaborn importado en un csv)
"""
df_penguins = pd.read_csv("../datasets/penguins.csv",sep=",") # ‚¨ÖÔ∏è Accedemos al archivo en la carpeta datasets
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [7]:
"""
    A). Quitar encabezados originales provenientes del Dataset.
    
        üìù SINTAXIS:
        
            dataset_nombre = pl.read_extension(ruta_carpeta_archivo,sep="Delimitador",header=None|Omitir)
            
            üí° Importante: header, es el par√°metro que si establecemos en None, los encabezados se vuelven parte
                           de los registros del dataset, agregandole la posici√≥n de cada columna como nuevo encabezado.
                                        
            ### üß† Tener en cuenta que solo se aplicar√° a las extensiones .excel y .csv
    
#### PARA LOS EJEMPLOS USAREMOS ALGUNOS DATASET PREVIAMENTE VISTOS EN LA FASE 1.
"""

# üí° EJEMPLO 1: Archivo CSV 

df_penguins = pd.read_csv(carpeta_origen+archivos_csv,sep=",",header=None) #‚¨ÖÔ∏è Ocultamos los encabezados
# df_penguins.head()

# üí° EJEMPLO 2: Archivo CSV

df_penguins = pd.read_csv(carpeta_origen+archivos_csv,sep=",") #‚¨ÖÔ∏è Mostramos los encabezados
# df_penguins.head()

# # üí° EJEMPLO 3: Archivo EXCEL 

df_penguins_excel = pd.read_excel(carpeta_origen+archivos_xlsx,sheet_name="Hoja1",header=None) #‚¨ÖÔ∏è Ocultamos los encabezados
# df_penguins_excel.head()

# # üí° EJEMPLO 4: Archivo EXCEL

df_penguins_excel = pd.read_excel(carpeta_origen+archivos_xlsx,sheet_name="Hoja1") #‚¨ÖÔ∏è Mostramos los encabezados
df_penguins_excel.head()

   DetallePedidosPedidoID PedidoFechaHoraRegistro PedidoEstado      Total
0                       1 2025-05-26 18:02:01.240            F  524361.11
1                       2 2025-05-26 18:02:02.430            F  524387.46
2                       3 2025-05-26 18:02:46.287            F  515269.86
3                       4 2025-05-26 18:02:46.290            F  523261.27
4                       5 2025-05-26 18:02:46.290            F  532688.61

In [8]:
"""
    B). Mostrar los N primeros registros de un dataset
    
        üìù SINTAXIS:
    
            dataset_nombre.head(N√∫meroDeRegistros) ‚¨ÖÔ∏è Indicamos un n√∫mero para la cantidad de registros a mostrar    
"""
# üí° EJEMPO 1: 

# df_penguins.head(5) ## ‚¨ÖÔ∏è Mostrar 5 primeros registros del dataset

# üí° EJEMPO 2: 

df_penguins.head(10) ## ‚¨ÖÔ∏è Mostrar 10 primeros registros del dataset

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

In [10]:
"""
    C). Mostrar los N √∫ltimos registros de un dataset
    
        üìù SINTAXIS:
    
            dataset_nombre.tail(N√∫meroDeRegistros) ‚¨ÖÔ∏è Indicamos un n√∫mero para la cantidad de registros a mostrar    
"""
# üí° EJEMPO 1: 

# df_penguins.tail(5) ## ‚¨ÖÔ∏è Mostrar 5 √∫ltimos registros del dataset

# üí° EJEMPO 2: 

df_penguins.tail(10) ## ‚¨ÖÔ∏è Mostrar 10 √∫ltimos registros del dataset

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
334,Gentoo,Biscoe,46.2,14.1,217.0,4375.0,Female
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,Male
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [11]:
"""
    D). Mostrar el vol√∫men del dataset (Cantidad de filas y columnas respectivamente) 
    
        üìù SINTAXIS:
    
            dataset_nombre.shape ‚¨ÖÔ∏è Nos muestra la cantidad de filas y columnas en forma de tupla (,)
            
            #### üß† Podemos acceder a la cantidad de filas o columnas bas√°ndonos en la posici√≥n
                     de los datos que retorna la tupla, gracias a .shape ‚û°Ô∏è 0 = filas y 1 = columnas    
"""
# üí° EJEMPO 1: 

df_penguins.shape ## ‚¨ÖÔ∏è Muestra el vol√∫men de registros del dataset en forma de tupla. (CantidadFilas,CantidadColumnas)

# üí° EJEMPO 2: 

df_penguins.shape[0] ## ‚¨ÖÔ∏è Muestra la cantidad de registros (filas) del dataset

# üí° EJEMPO 3: 

df_penguins.shape[1] ## ‚¨ÖÔ∏è Muestra la cantidad de columnas del dataset

7

#### Fase 3. Transformaci√≥n de Datos üí±

##### 3.1 Datos Cualitativos üî†

In [ ]:
"""
    A). CONVERTIR A MAY√öSCULAS LOS DATOS CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    üìù SINTAXIS:
    
        dataset_nombre[NombreColumnaCualitativa].str.upper()
    
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
"""

# üí° EJEMPLO:

df_penguins["species"] = df_penguins["species"].str.upper() ## ‚¨ÖÔ∏è Convertimos a may√∫sculas los datos de la columna cualitativa ""species""
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,ADELIE,Torgersen,39.1,18.7,181.0,3750.0,Male
1,ADELIE,Torgersen,39.5,17.4,186.0,3800.0,Female
2,ADELIE,Torgersen,40.3,18.0,195.0,3250.0,Female
3,ADELIE,Torgersen,NaN,NaN,NaN,NaN,NaN
4,ADELIE,Torgersen,36.7,19.3,193.0,3450.0,Female

In [ ]:
"""
    B). CONVERTIR A MIN√öSCULAS LOS DATOS CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    üìù SINTAXIS:
    
        dataset_nombre[NombreColumnaCualitativa].str.lower()
    
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
"""

# üí° EJEMPLO:

df_penguins["species"] = df_penguins["species"].str.lower() ## ‚¨ÖÔ∏è Convertimos a min√∫sculas los datos de la columna cualitativa ""species""
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [ ]:
"""
    C). CONVERTIR A MAY√öSCULA LA PRIMERA LETRA DE CADA DATO CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    üìù SINTAXIS:
    
        dataset_nombre[NombreColumnaCualitativa].str.title()
    
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
"""

# üí° EJEMPLO:

df_penguins["species"] = df_penguins["species"].str.title() ## ‚¨ÖÔ∏è Convertimos la primera letra en may√∫scula de cada dato en la columna cualitativa ""species""
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [ ]:
"""
    D). EXTRAER DE CADA DATO CUALITATIVO UNA CADENA EN ESPEC√çFICO MEDIANTE >>EXPRESIONES REGULARES<< EN UN DATASET
    
    üìù SINTAXIS:
    
        dataset_nombre[NombreColumnaCualitativa].str.extract()
    
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
"""
##üí° EJEMPLO 1: ‚¨ÖÔ∏è Extraemos primera letra en may√∫scula 
df_penguins["PrimeraLetraEnMay√∫scula"] = df_penguins["species"].str.extract(r'([A-Z])')
# df_penguins.head()

##üí° EJEMPLO 2: ‚¨ÖÔ∏è Extraemos primera letra en min√∫scula
df_penguins["PrimeraLetraEnMin√∫scula"] = df_penguins["species"].str.extract(r'([a-z])')
# df_penguins.head()

##üí° EJEMPLO 3: ‚¨ÖÔ∏è Retornamos todo despu√©s de una letra en may√∫scula
df_penguins["TodoDespuesDeUnaMay√∫scula"] = df_penguins["species"].str.extract(r'[A-Z](.*)')
# df_penguins.head()

##üí° EJEMPLO 4: ‚¨ÖÔ∏è Retornamos todo despu√©s de una letra en min√∫scula
df_penguins["TodoDespuesDeUnaMin√∫scula"] = df_penguins["species"].str.extract(r'[a-z](.*)')
df_penguins.head()

##üí° EJEMPLO 5: ‚¨ÖÔ∏è Retornamos todo despu√©s de un n√∫mero
df_penguins["TodoDespuesDeUnN√∫mero"] = df_penguins["species"].str.extract(r'[0-9](.*)')
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,PrimeraLetraEnMay√∫scula,PrimeraLetraEnMin√∫scula,TodasLasLetraEnMay√∫scula,TodaUnaCadenaDespuesDeUnaMay√∫scula,TodoDespuesDeUnaMay√∫scula,TodoDespuesDeUnaMin√∫scula,TodoDespuesDeUnN√∫mero
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,A,d,A,delie,delie,elie,NaN
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,A,d,A,delie,delie,elie,NaN
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,A,d,A,delie,delie,elie,NaN
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,A,d,A,delie,delie,elie,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,A,d,A,delie,delie,elie,NaN

In [62]:
"""
    E). REEMPLAZAR VALORES DE DATOS CUALITATIVOS MEDIANTE >>EXPRESIONES REGULARES<< EN UN DATASET
    
    üìù SINTAXIS:
    
        dataset_nombre[NombreColumnaCualitativa].str.replace(pat=Patr√≥nExpresi√≥nRegular,repl=CadenaAReemplazar,regex=True)
    
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
"""
### DATASET DE PRUEBA PARA ESTE EJEMPLO
datos_sucios = {
    "nombre": [
        "  JUAN  p√©rez  ", 
        "MAR√çA@@L√ìPEZ", 
        "Ana--Mart√≠nez", 
        "carlos_rodr√≠guez ", 
        "Sof√≠a123 Garc√≠a"
    ],
    "categoria_producto": [
        "ELECTR√ìNICA#1", 
        "ropa--Mujer", 
        "hogar_y_DECORACI√ìN", 
        "LIBROS@@", 
        "Juguetes  ni√±os"
    ],
    "codigo": [
        "ID-0001", 
        "ID-0023", 
        "CL-1234", 
        "ID-abc123", 
        "id-9999"
    ]
}
## Dataset de prueba (sucio)
df_test = pd.DataFrame(datos_sucios)
# df_test.head()

## Dataset de prueba (limpio)
df_test_clean = df_test.copy() 

## üí° EJEMPLO 1: ‚¨ÖÔ∏è Eliminar caract√©res especiales (@@,#,--,_)
df_test_clean["categoria_producto"] = df_test_clean["categoria_producto"].str.replace(pat=r'[^A-Za-z0-9√Å√â√ç√ì√ö√°√©√≠√≥√∫√ë√±√ú√º]',repl=' ',regex=True)
df_test_clean["nombre"] = df_test_clean["nombre"].str.replace(pat=r'[^A-Za-z√Å√â√ç√ì√ö√°√©√≠√≥√∫√ë√±√ú√º]',repl=' ',regex=True)
# df_test_clean.head()

## üí° EJEMPLO 2: ‚¨ÖÔ∏è Normalizar espacios (Varios espacios en blanco a uno solo)
df_test_clean["categoria_producto"] = df_test_clean["categoria_producto"].str.replace(pat=r'\s+',repl=' ',regex=True)
df_test_clean["nombre"] = df_test_clean["nombre"].str.replace(pat=r'\s+',repl=' ',regex=True)
# df_test_clean.head()

## üí° EJEMPLO 3: ‚¨ÖÔ∏è Reemplazar guiones por espacios en blanco
df_test_clean["nombre"] = df_test_clean["nombre"].str.replace(pat=r'[-_]',repl=' ',regex=True)
# df_test_clean.head()

## üí° EJEMPLO 4: ‚¨ÖÔ∏è Eliminar prefijos (ID- || CL- || id- || Letras)
df_test_clean["codigo"] = df_test_clean["codigo"].str.replace(pat=r'^ID-',repl='',regex=True)
df_test_clean["codigo"] = df_test_clean["codigo"].str.replace(pat=r'^id-',repl='',regex=True)
df_test_clean["codigo"] = df_test_clean["codigo"].str.replace(pat=r'^CL-',repl='',regex=True)
df_test_clean["codigo"] = df_test_clean["codigo"].str.replace(pat=r'[A-Za-z]',repl='',regex=True)
df_test_clean.head()


#### üí° EJEMPLO 6: ‚¨ÖÔ∏è Eliminar n√∫mero en caso no necesitemos
#### df_test_clean["codigo"] = df_test_clean["codigo"].str.replace(pat=r'([0-9])',repl='',regex=True)
#### df_test_clean.head()

              nombre  categoria_producto codigo
0        JUAN p√©rez        ELECTR√ìNICA 1   0001
1        MAR√çA L√ìPEZ          ropa Mujer   0023
2       Ana Mart√≠nez  hogar y DECORACI√ìN   1234
3  carlos rodr√≠guez              LIBROS     123
4       Sof√≠a Garc√≠a      Juguetes ni√±os   9999

In [ ]:
"""
    F). ELIMINAR VALORES DUPLICADOS EN DATOS CUALITATIVOS DE UN DATASET
    
    üìù SINTAXIS:
    
        dataset_nombre.drop_duplicates(subset=[NombreColumna1,NombreColumnaN],keep="first" | "last",inplace=True | False)
        
        keep: Es el par√°metro que establece el valor que va a quedar de todos los duplicados (Primer valor=first - √öltimo valor=last)
              [En caso de no llamar al par√°metro keep, se establece "first".]
        
    ### üß† En este caso, debemos trabajar sobre el mismo dataset/dataframe para eliminar los duplicados.
"""
### ‚úÖüóÉÔ∏è Dataset a utilizar: Diamonds
## ---- Importamos Seaborn
import seaborn as sns 
df_diamonds = sns.load_dataset("diamonds")
# df_diamonds.head()
# df_diamonds.shape[0] ## ‚¨ÖÔ∏è Cantidad de datos inicial: 53940

## üí° EJEMPLO 1: ELIMINAR VALORES DUPLICADOS DE TODO EL DATASET (keep="first" por defecto)
# df_diamonds.drop_duplicates(inplace=True) 
# df_diamonds.shape[0] ## ‚¨ÖÔ∏è Cantidad de datos restantes: 53794

# üí° EJEMPLO 2: ELIMINAR VALORES DUPLICADOS DE TODO EL DATASET (keep="last")
# df_diamonds.drop_duplicates(inplace=True,keep="last") 
# df_diamonds.shape[0] ## ‚¨ÖÔ∏è Cantidad de datos restantes: 53794

# üí° EJEMPLO 3: ELIMINAR VALORES DUPLICADOS DE UNA COLUMNA ESPEC√çFICA (keep="first" por defecto)
# df_diamonds["carat"].shape[0] ## ‚¨ÖÔ∏è Cantidad inicial de datos: 53940
# df_diamonds.drop_duplicates(subset=["carat"],inplace=True,keep="first") 
# df_diamonds["carat"].shape[0] ## ‚¨ÖÔ∏è Cantidad de datos restantes: 273

273

##### 3.2 Datos Cuantitativos üî¢

In [2]:
import seaborn as sns  ##üí° Utilizaremos la librer√≠a Seaborn para obtener datasets de prueba.

df_penguins = sns.load_dataset("penguins") ## ‚¨ÖÔ∏è Para este ejemplo utilizaremos el dataset de """penguins"""
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [8]:
"""
    A). EXPLORACI√ìN B√ÅSICA Y RESUMEN ESTAD√çSTICO
        
        üìù Para los datos cuantitativos podemos obtener su estad√≠stica b√°sica
            mediante .decribe() el cu√°l retornar√° el valor de las columnas float o int.
"""
df_penguins.describe()                  ## ‚¨ÖÔ∏è Estad√≠stica simple - Todas las columnas (int/float)
df_penguins[["body_mass_g"]].describe() ## ‚¨ÖÔ∏è Estad√≠stica simple - Columna body_mass_g
df_penguins[["body_mass_g"]].mean()     ## ‚¨ÖÔ∏è Media estad√≠stica - Columna body_mass_g
df_penguins[["body_mass_g"]].median()   ## ‚¨ÖÔ∏è Mediana estad√≠stica - Columna body_mass_g
df_penguins[["body_mass_g"]].min()      ## ‚¨ÖÔ∏è Valor m√≠nimo - Columna body_mass_g
df_penguins[["body_mass_g"]].max()      ## ‚¨ÖÔ∏è Valor m√°ximo - Columna body_mass_g
df_penguins[["body_mass_g"]].sum()      ## ‚¨ÖÔ∏è Suma total - Columna body_mass_g
df_penguins[["body_mass_g"]].std()      ## ‚¨ÖÔ∏è Desviaci√≥n est√°ndar - Columna body_mass_g
df_penguins[["body_mass_g"]].var()      ## ‚¨ÖÔ∏è Varianza - Columna body_mass_g

body_mass_g    643131.077327
dtype: float64

In [22]:
"""
    B). VERIFICAR VALORES NULOS EN LA(S) COLUMNA(AS) DEL DATASET
        
        üóíÔ∏èSINTAXIS:
    
        dataset_nombre.isnull().sum() ‚¨ÖÔ∏è Para todo el dataset.
        dataset_nombre[NombreColumna].isnull().sum() ‚¨ÖÔ∏è A nivel de columna
"""

## üí° EJEMPLO 1: VERIFICAR CANTIDAD DE VALORES NULOS EN TODAS LAS COLUMNAS DEL DATASET
df_penguins.isnull().sum() ##‚¨ÖÔ∏è Retornar√° una serie de Pandas.

## üí° EJEMPLO 2: VERIFICAR CANTIDAD DE VALORES NULOS EN UNA COLUMNA ESPEC√çFICA DEL DATASET
df_penguins["body_mass_g"].isnull().sum() ##‚¨ÖÔ∏è Retornar√° la cantidad de datos nulos de una columna.

np.int64(2)

In [20]:
"""
    C). FILTRANDO VALORES EN COLUMNAS CUANTITATIVAS
"""

# df_penguins.shape[0] ## ‚¨ÖÔ∏è Cantidad de datos del dataset : 344

## üí° EJEMPLO 1: FILTRAR VALORES DE COLUMNA "body_mass_g" MAYOR A 3000
df_penguins_bmg_mayor_3000 = df_penguins.query('body_mass_g>3000')
# df_penguins_bmg_mayor_3000.head()
df_penguins_bmg_mayor_3000.shape[0] ## ‚¨ÖÔ∏è Cantidad de datos resultantes : 331

## üí° EJEMPLO 2: FILTRAR VALORES DE COLUMNA "body_mass_g" ENTRE 1000 y 3000
df_penguins_bmg_entre_1000_3000 = df_penguins.query('body_mass_g>=1000 & body_mass_g<=3000')
# df_penguins_bmg_entre_1000_3000.head()
df_penguins_bmg_entre_1000_3000.shape[0] ## ‚¨ÖÔ∏è Cantidad de datos resultantes : 11

## üí° EJEMPLO 3: FILTRAR VALORES NULOS EN COLUMNA "body_mass_g"
df_penguins_nulos_body_mass_g = df_penguins[(df_penguins["body_mass_g"].isnull())]
# df_penguins_nulos_body_mass_g.head()
# df_penguins_nulos_body_mass_g.shape[0] ## ‚¨ÖÔ∏è Cantidad de datos resultantes : 2

## üí° EJEMPLO 4: FILTRAR VALORES NO NULOS EN COLUMNA "body_mass_g"
df_penguins_no_nulos_body_mass_g = df_penguins[(df_penguins["body_mass_g"].notnull())]
# df_penguins_no_nulos_body_mass_g.head()
df_penguins_no_nulos_body_mass_g.shape[0] ## ‚¨ÖÔ∏è Cantidad de datos resultantes : 342

342

In [27]:
"""
    D). RELLENANDO DATOS Null Y NaN DE LAS COLUMNAS DE UN DATASET
    
        ### üß†EXISTE UNA SIMILITUDAD ENTRE DATOS NaN Y Null DEBIDO QUE AMBOS SON
               TRATADOS COMO VALORES FALTANTES INTERNAMENTE POR PANDAS Y SON CONSIDERADOS
               EQUIVALENTES A EFECTOS DE AN√ÅLISIS Y LIMPIEZA.
"""

"""======================================================================================
    üìù RELLENANDO DATOS Null Y NaN

        üóíÔ∏èSINTAXIS:
        
            dataset_nombre.fillna(value={NombreColumna:ValorARellenar},inplace=True||False,axis=0) ‚¨ÖÔ∏è A nivel de columna
            dataset_nombre.fillna(value=ValorARellenar,inplace=True||False,axis=0) ‚¨ÖÔ∏è Para todo el dataset.
            
            ### üß† Tengamos en cuenta que debemos almacenar estos cambios en una nueva variable.
"""
## üí° EJEMPLO 1: LLENADO TODOS LOS DATOS NULOS DE UNA COLUMNA EN ESPEC√çFICO
# df_penguins.fillna(value={"body_mass_g":0},inplace=True,axis=0) ## ‚¨ÖÔ∏è Rellenaremos con Cero.
# df_penguins["body_mass_g"].isnull().sum() ## ‚úÖ Datos nulos reemplazados

## üí° EJEMPLO 2: LLENADO TODOS LOS DATOS NULOS DEL DATASET COMPLETO.
df_penguins.fillna(value=0,inplace=True,axis=0) ## ‚¨ÖÔ∏è Rellenaremos con Cero.
df_penguins.isnull().sum() ## ‚úÖ Datos nulos reemplazados

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

#### Fase 4. Agrupamiento de Datos ‚ôæÔ∏è

"""El agrupamiento de la informaci√≥n nos brinda el resumen de la informaci√≥n proveniente 
de un dataset, logrando econtrar ciertos patrones en cada grupo de informaci√≥n."""

In [ ]:
"""
üìù SINTAXIS:

dataset_nombre_agrupado = 
    dataset_nombre.groupby(by=["NombreColumna1","NombreColumnaN],as_index=False,observed=True)["NombreColumnaAgregada"]
                  .funcionAgregada().rename({"nombre_columna_generada_de_agrupacion":"nuevo_nombre_columna"},axis=1)
                  .reset_index(level=0,drop=True)
    
    - as_index=False: Mantiene las columnas agrupadas como columnas normales, no como √≠ndice.
    - observed=True: En columnas categ√≥ricas, solo agrupa por combinaciones observadas y evita advertencias.
    - .reset_index(level=0, drop=True): Elimina el √≠ndice de nivel 0 sin agregarlo como columna;
                                        √∫til para limpiar la estructura despu√©s de agrupar o pivotear.

       
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe.

‚ùé En el agrupamiento de informaci√≥n, podemos utilizar diversas funciones de agregaci√≥n, tales como:

üí°.min():    ‚¨ÖÔ∏è Permite obtener el m√≠nimo valor de la informaci√≥n agrupada.
üí°.max():    ‚¨ÖÔ∏è Permite obtener el m√°ximo valor de la informaci√≥n agrupada.
üí°.sum():    ‚¨ÖÔ∏è Permite sumar la informaci√≥n de una columna cuantitativa por la informaci√≥n agrupada.
üí°.count():  ‚¨ÖÔ∏è Permite contar la cantidad de informaci√≥n de una columna por la informaci√≥n agrupada.
üí°.mean():   ‚¨ÖÔ∏è Permite obtener la media de una columna cuantitativa por la informaci√≥n agrupada.
üí°.median(): ‚¨ÖÔ∏è Permite obtener la mediana de una columna cuantitativa por la informaci√≥n agrupada.
"""
###‚úîÔ∏è Usaremos el dataset de "penguins"
import pandas as pd
import seaborn as sns
df_penguins = sns.load_dataset("penguins") 
# df_penguins.head()

In [ ]:
## üí° EJEMPLO 1: (AGRUPANDO POR UNA COLUMNA) 
df_agrupado_uno = df_penguins.groupby(by=["species"],as_index=False,observed=True)["body_mass_g"].mean().rename({"body_mass_g":"avg_body_mass_g"},axis=1)
# df_agrupado_uno.head()

## üí° EJEMPLO 2: (AGRUPAR POR DOS COLUMNAS)
df_agrupado_dos = df_penguins.groupby(by=["species","sex"],as_index=False,observed=True)["body_mass_g"].mean().rename({"body_mass_g":"avg_body_mass_g"},axis=1)
# df_agrupado_dos.head()

## üí° EJEMPLO 3: (AGRUPAR LA INFORMACI√ìN POR LA CANTIDAD DE LA MISMA COLUMNA)
df_agrupado_tres = df_penguins.groupby(by=["species"],as_index=False,observed=True).size().rename({"size":"cantidad_species"},axis=1).reset_index(level=0,drop=True)
df_agrupado_tres.head()

     species  cantidad_species
0     Adelie               152
1  Chinstrap                68
2     Gentoo               124

##### Fase 4.1 C√°lculos M√≥viles en Pandas üêºüíπ

As√≠ como SQL SERVER permite realizar c√°lculos m√≥viles basados en funciones de agregaci√≥n
(min,max,mean,entre otros), Pandas lo realiza mediante la funci√≥n .rolling() entre una N cantidad de
filas hacia atr√°s.

In [46]:
"""
    üìù SINTAXIS: 
        
        1Ô∏è‚É£ C√°lculo M√≥vil sin Particionamiento: Permite el c√°lculo m√≥vil de una columna que no es afectada por otra(s).
        
        dataset_nombre[NuevaColumnaMovil] = dataset_nombre[NombreColumnaCalcular]
                                            .rolling(window=CantidadFilasAcumulacion,
                                                     min_periods=CantidadMinimaFilasAcumulacion)
                                            .funcionAgregacion(sum,mean,count,median,etc)
                                            
        2Ô∏è‚É£ C√°lculo M√≥vil con Particionamiento: Permite el c√°lculo m√≥vil por columnas en espec√≠fico.
        
        dataset_nombre[NuevaColumnaMovil] = dataset_nombre.group_by(Columna1Particionar,ColumnaNParticionar)
                                            [NombreColumnaCalcular].rolling(window=CantidadFilasAcumulacion,
                                            min_periods=CantidadMinimaFilasAcumulacion)
                                            .funcionAgregacion(sum,mean,count,median,etc)
                                            .reset_index(drop=True,level=0)

        üí° Importante: El par√°metro min_periods permitir√° que el c√°lculo m√≥vil sea de una m√≠nima 
                       cantidad de periodos para evitar valores NaN. Adem√°s, los par√°metros as_index y observed
                       que se colocaban en el group_by() ya no ser√°n necesarios, sin embargo, debemos establecer
                       .reset_index(drop=True,level=0) para que los indices coincidan y se pueda asignar 
                       el resultado de vuelta al Dataframe original.                                            

        ### üß† Cuando realizamos el c√°lculo m√≥vil a una columna, Pandas siempre incluir√° la fila actual.
"""
### üíπ USAREMOS EL SIGUIENTE DATASET DE EJEMPLO (FORMATO .json):
import json
with open("../datasets/ventas.json","r") as file:
    data_json = json.load(file)
df_ventas = pd.DataFrame(data=data_json["ventas"])
# df_ventas.head()

In [ ]:
### üí° EJEMPLO 1: C√ÅLCULO M√ìVIL ‚û°Ô∏è VENTAS ACUMULATIVAS (SUMA ACUMULADA SIN PARTICIONES)
df_ventas_acumuladas = df_ventas.copy()
df_ventas_acumuladas["ventas_acumuladas"] = df_ventas_acumuladas["total"].cumsum() ##‚¨ÖÔ∏è Usamos .cumsum() 
# df_ventas_acumuladas.tail()

### üí° EJEMPLO 2: C√ÅLCULO M√ìVIL ‚û°Ô∏è VENTAS ACUMULATIVAS (SUMA ACUMULADA CADA 3 DIAS) (‚úÖ INCLUYE FILA ACTUAL)
df_ventas_acumuladas_3_dias = df_ventas.copy()
df_ventas_acumuladas_3_dias["ventas_acumuladas"] = df_ventas_acumuladas_3_dias["total"].rolling(window=3).sum() ## ‚¨ÖÔ∏è.rolling()
####üí° Los Valores NaN no permiten realizar sumatorias por 1 o 2 valores, deben ser 3 (‚úÖ Incluye la fiLa actual - ‚ùåNo particionamos).
# df_ventas_acumuladas_3_dias.head(6) 

### üí° EJEMPLO 3: C√ÅLCULO M√ìVIL ‚û°Ô∏è VENTAS ACUMULATIVAS (SUMA ACUMULADA CADA 3 DIAS) ‚úÖ (‚ùå NO INCLUYE FILA ACTUAL)
df_ventas_acumuladas_3_dias_sin_fila_actual = df_ventas.copy()
df_ventas_acumuladas_3_dias_sin_fila_actual["ventas_acumuladas"] = df_ventas_acumuladas_3_dias_sin_fila_actual["total"].shift(1).rolling(
                                                                   window=3).sum() ## ‚¨ÖÔ∏è.rolling()
####üí° Los Valores NaN no permiten realizar sumatorias por 1 o 2 valores, deben ser 3 (‚ùå No incluye la fiLa actual - ‚ùåNo particionamos).
# df_ventas_acumuladas_3_dias_sin_fila_actual.head(7) 

### üí° EJEMPLO 4: C√ÅLCULO M√ìVIL ‚û°Ô∏è VENTAS ACUMULATIVAS (SUMA ACUMULADA CON PARTICIONES)
df_ventas_acumuladas_particiones = df_ventas.sort_values(by="cliente").copy() ## ‚¨ÖÔ∏è Ordenamos antes de particionar
# df_ventas_acumuladas_particiones.head()
df_ventas_acumuladas_particiones["ventas_acumuladas"] = df_ventas_acumuladas_particiones.groupby("cliente")["total"].cumsum() 
# df_ventas_acumuladas_particiones.head() ## ‚úÖ .group_by() permite el particionamiento y reinicia el acumulado por cada cliente.

#=======================================================================================================================================

### üí° EJEMPLO 5: C√ÅLCULO M√ìVIL ‚û°Ô∏è PROMEDIO M√ìVIL (PROMEDIO CADA 3 D√çAS) (‚úÖ INCLUYE FILA ACTUAL)
df_ventas_promedio_3_dias = df_ventas.copy() 
# df_ventas_promedio_3_dias.head()
df_ventas_promedio_3_dias["promedio_ventas_3_dias"] = df_ventas_promedio_3_dias["total"].rolling(
                                                      window=3).mean().reset_index(drop=True,level=0)
####üí° Los Valores NaN no permiten calcular el promedio por 1 o 2 valores, deben ser 3 (‚úÖ Incluye la fiLa actual - ‚ùåNo particionamos).
# df_ventas_promedio_3_dias.head()


### üí° EJEMPLO 6: C√ÅLCULO M√ìVIL ‚û°Ô∏è PROMEDIO M√ìVIL (PROMEDIO CADA 3 D√çAS) (‚ùå NO INCLUYE FILA ACTUAL)
df_ventas_promedio_3_dias_sin_fila_actual = df_ventas.copy()
# df_ventas_promedio_3_dias_sin_fila_actual.head()
df_ventas_promedio_3_dias_sin_fila_actual["promedio_ventas_3_dias"] = df_ventas_promedio_3_dias_sin_fila_actual["total"].shift(1).rolling(
                                                      window=3).mean().reset_index(drop=True,level=0)
####üí° Los Valores NaN no permiten calcular el promedio por 1 o 2 valores, deben ser 3 (‚ùå No incluye la fiLa actual - ‚ùåNo particionamos).
# df_ventas_promedio_3_dias_sin_fila_actual.head()


#=======================================================================================================================================

### üí° EJEMPLO 7: C√ÅLCULO M√ìVIL ‚û°Ô∏è M√ÅXIMO M√ìVIL (VALOR M√ÅXIMO CADA 3 D√çAS) (‚úÖ INCLUYE FILA ACTUAL)
df_ventas_maximo_3_dias = df_ventas.copy() 
# df_ventas_maximo_3_dias.head()
df_ventas_maximo_3_dias["valor_maximo_3_dias"] = df_ventas_maximo_3_dias["total"].rolling(
                                                      window=3).max().reset_index(drop=True,level=0)
####üí° Los Valores NaN no permiten calcular el promedio por 1 o 2 valores, deben ser 3 (‚úÖ Incluye la fiLa actual - ‚ùåNo particionamos).
# df_ventas_maximo_3_dias.head()

### üí° EJEMPLO 8: C√ÅLCULO M√ìVIL ‚û°Ô∏è M√ÅXIMO M√ìVIL (VALOR M√ÅXIMO CADA 3 D√çAS) (‚ùå NO INCLUYE FILA ACTUAL)
df_ventas_maximo_3_dias_sin_fila_actual = df_ventas.copy()
# df_ventas_maximo_3_dias_sin_fila_actual.head()
df_ventas_maximo_3_dias_sin_fila_actual["valor_maximo_3_dias"] = df_ventas_maximo_3_dias_sin_fila_actual["total"].shift(1).rolling(
                                                      window=3).max().reset_index(drop=True,level=0)
####üí° Los Valores NaN no permiten calcular el promedio por 1 o 2 valores, deben ser 3 (‚ùå No incluye la fiLa actual - ‚ùåNo particionamos).
df_ventas_maximo_3_dias_sin_fila_actual.head()

#=======================================================================================================================================

### üí° EJEMPLO 9: C√ÅLCULO M√ìVIL ‚û°Ô∏è M√çNIMO M√ìVIL (VALOR M√çNIMO CADA 3 D√çAS) (‚úÖ INCLUYE FILA ACTUAL)
df_ventas_minimo_3_dias = df_ventas.copy() 
# df_ventas_minimo_3_dias.head()
df_ventas_minimo_3_dias["valor_minimo_3_dias"] = df_ventas_minimo_3_dias["total"].rolling(
                                                      window=3).min().reset_index(drop=True,level=0)
####üí° Los Valores NaN no permiten calcular el promedio por 1 o 2 valores, deben ser 3 (‚úÖ Incluye la fiLa actual - ‚ùåNo particionamos).
# df_ventas_minimo_3_dias.head()

### üí° EJEMPLO 10: C√ÅLCULO M√ìVIL ‚û°Ô∏è M√çNIMO M√ìVIL (VALOR M√çNIMO CADA 3 D√çAS) (‚ùå NO INCLUYE FILA ACTUAL)
df_ventas_minimo_3_dias_sin_fila_actual = df_ventas.copy()
# df_ventas_minimo_3_dias_sin_fila_actual.head()
df_ventas_minimo_3_dias_sin_fila_actual["valor_minimo_3_dias"] = df_ventas_minimo_3_dias_sin_fila_actual["total"].shift(1).rolling(
                                                      window=3).min().reset_index(drop=True,level=0)
####üí° Los Valores NaN no permiten calcular el promedio por 1 o 2 valores, deben ser 3 (‚ùå No incluye la fiLa actual - ‚ùåNo particionamos).
df_ventas_minimo_3_dias_sin_fila_actual.head()

   nro_venta       fecha     cliente   total  valor_minimo_3_dias
0       1001  2024-01-22  Cliente_10  350.25                  NaN
1       1002  2024-02-15   Cliente_3  410.50                  NaN
2       1003  2024-03-08   Cliente_7  120.75                  NaN
3       1004  2024-04-20   Cliente_1  250.00               120.75
4       1005  2024-05-11  Cliente_10  300.90               120.75

##### Fase 4.2 Pivot Tables en Pandas üêºüíπ

Las Pivot Table permiten transformar filas de un dataset/dataframe en columnas de un nuevo dataset/dataframe,
permitiendo un an√°lisis m√°s detallado sobre un grupo espec√≠fico de datos.

In [ ]:
""" 
    Pandas permite el pivoteo de informaci√≥n a trav√©s de 2 fomas:
    
    - pivot: Funci√≥n que permite el pivoteo de datos de un dataset/dataframe
             sin embargo, limita los requerimientos espec√≠ficos en los datos
             (No permite duplicados y no trabaja con funciones de agregaci√≥n)
      
      üìù SINTAXIS:
          dataset_pivoteado_nombre = dataset_original_nombre.pivot(index=NombreColumnaDataframe,columns=NombreColumnaDataframe,
                                     values=NombreColumnaDataframe) ‚¨ÖÔ∏è No es recomendado el uso de pivot ‚ùå!!       
             
    - pivot_table: Funci√≥n m√°s potente y flexible que .pivot(), debido que permite trabajar con 
                   duplicados y sobretodo con funciones de agregaci√≥n.
      üìù SINTAXIS:
          dataset_pivoteado_nombre = dataset_original_nombre.pivot_table(index=NombreColumnaDataframe,columns=NombreColumnaDataframe,
                                     values=NombreColumnaDataframe,,aggfunc=NombreFunci√≥nAgregaci√≥n,
                                     margins=True|False, margins_name=NombreColumnaFilaTotal) ‚¨ÖÔ∏è Es recomendado su uso ‚úÖ.  

"""
### ‚úÖüóÉÔ∏è Dataset a utilizar: titanic
## ---- Importamos Seaborn
import seaborn as sns 
df_titanic = sns.load_dataset("titanic")
# df_titanic.head()

#### üí° EJEMPLO 1: USANDO PIVOT (HALLAR EL PROMEDIO DE EDAD POR CLASE Y G√âNERO)
## df_pivot_uno = df_titanic.pivot(index="pclass",columns="sex",values="age")
## df_pivot_uno.head() ##  ‚ùåError: ValueError: Index contains duplicate entries, cannot reshape

#### üí° EJEMPLO 2: USANDO PIVOT_TABLE (HALLAR EL PROMEDIO DE EDAD POR CLASE Y G√âNERO)
df_pivot_dos = df_titanic.pivot_table(index="pclass",columns="sex",values="age",aggfunc="mean").round(2)
df_pivot_dos.head() ##  ‚úÖ Resultado exitoso.

#### üí° EJEMPLO 3: USANDO PIVOT_TABLE (HALLAR EL PROMEDIO DE FARE POR CLASE Y SEXO, 
####                                   ADEM√ÅS AGREGAR UN TOTAL A NIVEL DE FILA Y COLUMNA CALCULANDO EL PROMEDIO)
df_pivot_tres = df_titanic.pivot_table(index="pclass",columns="sex",values="fare",aggfunc="mean",margins=True,margins_name="Total").round(2)
## üí° Cuando usamos el par√°metro margins, permite agregar una columna y fila adicional para realizar un c√°lculo a nivel de fila y columna
df_pivot_tres.head()

#### üí° EJEMPLO 4: USANDO PIVOT_TABLE (HALLAR EL PROMEDIO DE EDAD POR G√âNERO) [PIVOT A NIVEL DE FILA, USANDO SOLO "columns"]
df_pivot_cuatro = df_titanic.pivot_table(columns="sex",values="age",aggfunc="mean").round(2)
df_pivot_cuatro.head() ##  ‚úÖ Resultado exitoso.

#### üí° EJEMPLO 5: USANDO PIVOT_TABLE (HALLAR EL PROMEDIO DE EDAD POR G√âNERO) [PIVOT A NIVEL DE FILA, USANDO SOLO "index"]
df_pivot_cinco = df_titanic.pivot_table(index="sex",values="age",aggfunc="mean").round(2)
df_pivot_cinco.head() ##  ‚úÖ Resultado exitoso.

          age
sex
female  27.92
male    30.73

##### Fase 4.2 UnPivot Tables en Pandas üêºüíπ

Los UnPivot Tables permiten transformar columnas de un dataset/dataframe en filas de un nuevo dataset/dataframe,
permitiendo reestablecer el estado del dataframe al original, sin embargo:
**LA FUNCI√ìN DE AGREGACI√ìN UTILIZADA EN PIVOT NO REGRESA A SU FORMA NORMAL LOS DATOS, ES DECIR, SE MANTIENE EL C√ÅLCULO DE LA FUNCI√ìN DE AGREGACI√ìN**.

In [ ]:
""" 
      üìù SINTAXIS:
          dataframe_unpivoteado_nombre = pd.melt(frame=NombreDataframe,id_vars=[NombreColumnaIndice],value_vars=[Valor1Pivoteado,ValorNPivoteado],
                                         var_name=NombreColumnaValoresPivoteados,value_name=NombreColumnaValorFuncionAgregacionPivoteado)
          frame: Nombre del Dataset/Dataframe pivoteado previamente.
          id_vars: Nombre de la columna del dataset/dataframe pivoteado que se estaleci√≥ como *index*
          value_vars: Nombre de cada valor establecido como columna en el dataset/dataframe pivoteado
          var_name: Nombre de la columna que ser√° utilizada como parte de los valores pivoteados.
          value_name: Nombre de la columna el dataset/dataframe pivoteado que es utlizada por la funci√≥n de agregaci√≥n.       

"""
### ‚úÖüóÉÔ∏è Dataframe pivoteado a utilizar: df_titanic
## ---- Importamos Seaborn
import seaborn as sns 
df_titanic = sns.load_dataset("titanic")
# df_titanic.head()

## ‚úÖ DATASET PIVOTEADO
df_pivoteado = df_titanic.pivot_table(index="pclass",columns="sex",values="age",aggfunc="mean").round(2)
# df_pivoteado.head() 

#### üí° EJEMPLO 1: DESPIVOTEAR EL DATASET PIVOTEADO
import pandas as pd
## --- PASO 1). RESETEAR EL INDICE DE EL DATASET/DATAFRAME PIVOTEADO
df_pivoteado_reset_index = df_pivoteado.reset_index() 
##---- PASO 2). UNPIVOTEAR DATASET/DATAFRAME
df_unpivot_uno = pd.melt(frame=df_pivoteado_reset_index,id_vars=["pclass"],value_vars=["female","male"],var_name="sex",value_name="age")
# df_unpivot_uno.head()

##---- COMPARACI√ìN DE PIVOT y UNPIVOT TABLE DEL DATASET/DATAFRAME
print(df_pivoteado)
print(df_unpivot_uno)
## üí° Como se mencion√≥ anteriormente, el unpivot table no regresa los datos calculados por 
##    la funci√≥n de agregaci√≥n (en este caso "mean") a su forma base del dataset/dataframe original (df_titanic).

sex     female   male
pclass
1        34.61  41.28
2        28.72  30.74
3        21.75  26.51
   pclass     sex    age
0       1  female  34.61
1       2  female  28.72
2       3  female  21.75
3       1    male  41.28
4       2    male  30.74
5       3    male  26.51

In [6]:
import pandas as pd
import seaborn as sns
df_example = sns.load_dataset("titanic")
# df_example.head()
df_pivot = df_example.pivot_table(index="pclass",columns="sex",values="age",aggfunc="mean").round(2)
df_pivot.head()

sex     female   male
pclass
1        34.61  41.28
2        28.72  30.74
3        21.75  26.51

#### Fase 5. Combinar y Unir Datasets/Dataframes en Pandas üêº‚ôæÔ∏è

Pandas permite la unificaci√≥n de datasets/dataframes mediante dos formas:
    - Utilizando Merge 
    - Utilizando Concat

##### Merge en Pandas üìäüêº

In [1]:
"""
    üìù SINTAXIS: 

        Forma 1). MEDIANTE pd.merge() ‚¨ÖÔ∏è Directamente desde Pandas.
        
        dataset_nombre=pd.merge(left=dataset_nombre_1,right=dataset_nombre_2,on='ColumnaEnComun',
                                how='left || rigth || inner || cross || outer || left_anti || rigth_anti',
                                left_on='NombreColumnaEnCom√∫n',right_on='NombreColumnaEnCom√∫n')
        ==================================================================================================                                
        Forma 2). MEDIANTE dataframe_nombre.merge() ‚¨ÖÔ∏è Directamente desde el dataset/dataframe.
        
        dataset_unificado_nombre=dataset_nombre_1.merge(right=dataset_nombre_2,on='ColumnaEnComun',
                                how='left || rigth || inner || cross || outer || left_anti || rigth_anti',
                                left_on='NombreColumnaEnCom√∫n',right_on='NombreColumnaEnCom√∫n')                                
                                
        ==================================================================================================  

    ### üí°Importante: Merge permite unificar los datasets/dataframes a nivel columnar, es decir,
                       unifica horizontalmente las columnas de un dataset/dataframe A; con las columnas
                       de un dataset/dataframe B; gracias a una columna en com√∫n que tienen ambos 
                       conjuntos de datos.
                       
                       left_on ‚¨ÖÔ∏è‚û°Ô∏è right_on : Par√°metros que permiten unificar dataset/dataframes
                                                cuando las columnas en com√∫n tienen diferente nombre.     
"""
### ‚úÖ Utilizaremos este dataset de ejemplo:
import pandas as pd
import numpy as np

diccionario_uno = {
    "ID_Cliente":[1,2,3,4,5],
    "Nombre": ["Pepito","Juanito","Pedrito","Brayan","Carlos"],
    "Departamento":["LAS QUINTANAS","EL GOLF","BUENOS AIRES","SAN ANDR√âS","CALIFORNIA"]
}
diccionario_dos = {
    "ID_Cliente":[1,1,2,2,5,4,1,None],
    "Ventas":np.random.uniform(low=1450.25,high=1980.30,size=8).tolist()
}

df_uno = pd.DataFrame(diccionario_uno)
df_dos = pd.DataFrame(diccionario_dos)

diccionario_tres = {
    "Cliente_ID":[1,1,2,2,5,4,1,None],
    "Ventas":np.random.uniform(low=1450.25,high=1980.30,size=8).tolist()
}
df_tres = pd.DataFrame(diccionario_tres)

In [ ]:
# ========================= FORMA 1=====================================================================================

#### üí° EJEMPLO 1 (UNIFICACI√ìN DE DATAFRAMES [INNER] ‚û°Ô∏è Forma 1.) 
df_ejemplo_1 = pd.merge(left=df_uno,right=df_dos,on="ID_Cliente",how="inner")
# df_ejemplo_1.shape[0] ## Cantidad de registros: 7
# df_ejemplo_1.head(7)
## [NO SE ENCUENTRA EL CLIENTE 3] ‚û°Ô∏è INNER MANTIENE LA INFORMACI√ìN RELACIONADA Y EXISTENTE ENTRE AMBOS DATASETS

#### üí° EJEMPLO 2 (UNIFICACI√ìN DE DATAFRAMES [LEFT] ‚û°Ô∏è Forma 1.)
df_ejemplo_2 = pd.merge(left=df_uno,right=df_dos,on="ID_Cliente",how="left")
# df_ejemplo_2.shape[0] ## Cantidad de registros: 8
# df_ejemplo_2.head(8)
## [SE ENCUENTRA EL CLIENTE 3] ‚û°Ô∏è LEFT MANTIENE LA INFORMACI√ìN DEL LADO IZQUIERDO (df_uno) 
## [AS√ç NO EXISTA ALG√öN REGISTRO EN EL LADO DERECHO (df_dos)]

#### üí° EJEMPLO 3 (UNIFICACI√ìN DE DATAFRAMES [RIGHT] ‚û°Ô∏è Forma 1.)
df_ejemplo_3 = pd.merge(left=df_uno,right=df_dos,on="ID_Cliente",how="right")
# df_ejemplo_3.shape[0] ## Cantidad de registros: 8
# df_ejemplo_3.head(8)
## [SE ENCUENTRA EL CLIENTE 3] ‚û°Ô∏è RIGHT MANTIENE LA INFORMACI√ìN DEL LADO DERECHO (df_dos) 
## [AS√ç NO EXISTA ALG√öN REGISTRO EN EL LADO IZQUIERDO (df_uno)]

#### üí° EJEMPLO 4 (UNIFICACI√ìN DE DATAFRAMES [OUTER] ‚û°Ô∏è Forma 1.)
df_ejemplo_4 = pd.merge(left=df_uno,right=df_dos,on="ID_Cliente",how="outer")
# df_ejemplo_4.shape[0] ## Cantidad de registros: 9
# df_ejemplo_4.head(9)
## ‚û°Ô∏è OUTER MANTIENE LA INFORMACI√ìN DE AMBOS DATAFRAMES.

#### üí° EJEMPLO 5 (UNIFICACI√ìN DE DATAFRAMES [CROSS] ‚û°Ô∏è Forma 1.)
df_ejemplo_5 = pd.merge(left=df_uno,right=df_dos,how="cross")
# df_ejemplo_5.shape[0] ## Cantidad de registros: 40
# df_ejemplo_5.head()
## ‚û°Ô∏è CROSS GENERA TODAS LAS COMBINACIONES POSIBLES DE LAS FILAS DEL df_uno CON LAS FILAS DEL df_dos. 
#     (YA NO NECESITAMOS UTILIZAR EL PAR√ÅMETRO "on=")

#### üí° EJEMPLO 6 (UNIFICACI√ìN DE DATAFRAMES [INNER] ‚û°Ô∏è Forma 1. + left_on + right_on)
df_ejemplo_6 = pd.merge(left=df_uno,right=df_tres,how="inner",left_on="ID_Cliente",right_on="Cliente_ID")
# df_ejemplo_6.shape[0] ## Cantidad de registros: 7
# df_ejemplo_6.head(7)
## ‚û°Ô∏è CUANDO UTILIZAMOS left_on Y right_on YA NO NECESITAMOS UTILIZAR EL PAR√ÅMETRO "on="
## üìù left_on ‚¨ÖÔ∏è‚û°Ô∏è right_on : Par√°metros que permiten unificar dataset/dataframes
##    cuando las columnas en com√∫n tienen diferente nombre.

#### üí° EJEMPLO LEFT-RIGHT_ANTI (UNIFICACI√ìN DE DATAFRAMES [LEFT_ANTI])
#### df_ejemplo_left_anti = pd.merge(left=df_uno,right=df_dos,how="left_anti",on="ID_Cliente")
#### df_ejemplo_left_anti.shape[0] ## Cantidad de registros: --
#### df_ejemplo_left_anti.head()

#### df_ejemplo_left_right = pd.merge(left=df_uno,right=df_dos,how="right_anti",on="ID_Cliente")
#### df_ejemplo_left_right.shape[0] ## Cantidad de registros: --
#### df_ejemplo_left_right.head()

#### üìù LEFT Y RIGHT ANTI A√öN NO EST√ÅN DISPONIBLES EN LA VERSI√ìN DE PANDAS

In [ ]:
# ====================================== FORMA 2 ===============================================================================

#### üí° EJEMPLO 1 (UNIFICACI√ìN DE DATAFRAMES [INNER] ‚û°Ô∏è Forma 2.) 
df_ejemplo_1 = df_uno.merge(right=df_dos,on="ID_Cliente",how="inner")
# df_ejemplo_1.shape[0] ## Cantidad de registros: 7
# df_ejemplo_1.head(7)
## [NO SE ENCUENTRA EL CLIENTE 3] ‚û°Ô∏è INNER MANTIENE LA INFORMACI√ìN RELACIONADA Y EXISTENTE ENTRE AMBOS DATASETS

#### üí° EJEMPLO 2 (UNIFICACI√ìN DE DATAFRAMES [LEFT] ‚û°Ô∏è Forma 2.)
df_ejemplo_2 = df_uno.merge(right=df_dos,on="ID_Cliente",how="left")
# df_ejemplo_2.shape[0] ## Cantidad de registros: 8
# df_ejemplo_2.head(8)
## [SE ENCUENTRA EL CLIENTE 3] ‚û°Ô∏è LEFT MANTIENE LA INFORMACI√ìN DEL LADO IZQUIERDO (df_uno) 
## [AS√ç NO EXISTA ALG√öN REGISTRO EN EL LADO DERECHO (df_dos)]

#### üí° EJEMPLO 3 (UNIFICACI√ìN DE DATAFRAMES [RIGHT] ‚û°Ô∏è Forma 2.)
df_ejemplo_3 = df_uno.merge(right=df_dos,on="ID_Cliente",how="right")
# df_ejemplo_3.shape[0] ## Cantidad de registros: 8
# df_ejemplo_3.head(8)
## [SE ENCUENTRA EL CLIENTE 3] ‚û°Ô∏è RIGHT MANTIENE LA INFORMACI√ìN DEL LADO DERECHO (df_dos) 
## [AS√ç NO EXISTA ALG√öN REGISTRO EN EL LADO IZQUIERDO (df_uno)]

#### üí° EJEMPLO 4 (UNIFICACI√ìN DE DATAFRAMES [OUTER] ‚û°Ô∏è Forma 2.)
df_ejemplo_4 = df_uno.merge(right=df_dos,on="ID_Cliente",how="outer")
# df_ejemplo_4.shape[0] ## Cantidad de registros: 9
# df_ejemplo_4.head(9)
## ‚û°Ô∏è OUTER MANTIENE LA INFORMACI√ìN DE AMBOS DATAFRAMES.

#### üí° EJEMPLO 5 (UNIFICACI√ìN DE DATAFRAMES [CROSS] ‚û°Ô∏è Forma 2.)
df_ejemplo_5 = df_uno.merge(right=df_dos,how="cross")
# df_ejemplo_5.shape[0] ## Cantidad de registros: 40
# df_ejemplo_5.head()
## ‚û°Ô∏è CROSS GENERA TODAS LAS COMBINACIONES POSIBLES DE LAS FILAS DEL df_uno CON LAS FILAS DEL df_dos. 
##     (YA NO NECESITAMOS UTILIZAR EL PAR√ÅMETRO "on=")

# #### üí° EJEMPLO 6 (UNIFICACI√ìN DE DATAFRAMES [INNER] ‚û°Ô∏è Forma 2. + left_on + right_on)
df_ejemplo_6 = df_uno.merge(right=df_tres,how="inner",left_on="ID_Cliente",right_on="Cliente_ID")
# df_ejemplo_6.shape[0] ## Cantidad de registros: 7
# df_ejemplo_6.head(7)
## ‚û°Ô∏è CUANDO UTILIZAMOS left_on Y right_on YA NO NECESITAMOS UTILIZAR EL PAR√ÅMETRO "on="
## üìù left_on ‚¨ÖÔ∏è‚û°Ô∏è right_on : Par√°metros que permiten unificar dataset/dataframes
##    cuando las columnas en com√∫n tienen diferente nombre.

#### üí° EJEMPLO LEFT-RIGHT_ANTI (UNIFICACI√ìN DE DATAFRAMES [LEFT_ANTI])
#### df_ejemplo_left_anti = df_uno.merge(right=df_dos,how="left_anti",on="ID_Cliente")
#### df_ejemplo_left_anti.shape[0] ## Cantidad de registros: --
#### df_ejemplo_left_anti.head()

#### df_ejemplo_left_right = df_uno.merge(right=df_dos,how="right_anti",on="ID_Cliente")
#### df_ejemplo_left_right.shape[0] ## Cantidad de registros: --
#### df_ejemplo_left_right.head()

#### üìù LEFT Y RIGHT ANTI A√öN NO EST√ÅN DISPONIBLES EN LA VERSI√ìN ACTUAL DE PANDAS (2.3.1)

7

##### Concat en Pandas üìäüêº

In [13]:
"""
    üìù SINTAXIS: 

        dataset_union_nombre = pd.concat([
            dataset_nombre_1.set_index(["NombreColumna1","NombreColumna2","NombreColumnaN"]),
            dataset_nombre_2.set_index(["NombreColumna1","NombreColumna2","NombreColumnaN"])],
            axis = 1,ignore_index = True
        )
                                                        
        ==================================================================================================  

    ### üí°Importante: Concat permite unificar los datasets/dataframes a nivel fila, es decir,
                       unifica verticalmente las columnas de un dataset/dataframe A; con las columnas
                       de un dataset/dataframe B; gracias a la(s) columna(s) en com√∫n que tienen ambos 
                       conjuntos de datos.
                       
                       Debemos tener en cuenta que ambos datasets/dataframes deben tener la misma cantidad
                       tipos y orden en las columnas. Adem√°s, el par√°metro "axis" siempre debe igualarse a 1 para
                       que los datastes/dataframes se unifiquen a nivel vertical columnar. Por otro lado,
                       el par√°metro "ignore_index" debe permanecer en True para que el √≠ndice del dataset/
                       dataframe nuevo se reestablezca.
"""
### ‚úÖ Utilizaremos este dataset de ejemplo:
import pandas as pd
import numpy as np

diccionario_uno = {
    "Categorias":["ELECTRODOM√âSTICOS","TECNOLOG√çA","JUGUETES","DEPORTE","CULTURA"],
    "A√±o": [2022,2022,2023,2023,2023],
    "Ventas":np.random.uniform(low=3500.25,high=3800.30,size=5).round(2).tolist()
}

diccionario_dos = {
    "Categorias":["ELECTRODOM√âSTICOS","TECNOLOG√çA","JUGUETES","DEPORTE","CULTURA"],
    "A√±o": [2024,2024,2024,2025,2025],
    "Ventas":np.random.uniform(low=2150.25,high=4580.30,size=5).round(2).tolist()
}

diccionario_tres = {
    "Cat":["ELECTRODOM√âSTICOS","TECNOLOG√çA","JUGUETES","DEPORTE","CULTURA"],
    "A√±os": [2024,2024,2024,2025,2025],
    "Vent":np.random.uniform(low=2150.25,high=4580.30,size=5).round(2).tolist()
}

df_uno = pd.DataFrame(diccionario_uno)
df_dos = pd.DataFrame(diccionario_dos)
df_tres = pd.DataFrame(diccionario_tres)

In [ ]:
#### üí° EJEMPLO 1 (UNIFICACI√ìN DE DATAFRAMES A NIVEL COLUMNAR - VERTICAL) 
df_ejemplo_1 = pd.concat([df_uno.set_index(["Categorias","A√±o","Ventas"]),
                         df_dos.set_index(["Categorias","A√±o","Ventas"])],axis=1,ignore_index=True)
# df_ejemplo_1.shape[0] ## Cantidad de registros: 10
# df_ejemplo_1.head(10)

#### üí° EJEMPLO 2 (UNIFICACI√ìN DE DATAFRAMES A NIVEL COLUMNAR - VERTICAL) ‚¨ÖÔ∏è CON DIFERENTES NOMBRES 

##---- PASO A). RENOMBRAR LAS COLUMNAS
df_tres.rename({"Cat":"Categorias","A√±os":"A√±o","Vent":"Ventas"},axis=1,inplace=True)
# df_tres.head()

##---- PASO B). UNIFICAR DATASETS/DATAFRAMES

df_ejemplo_2 = pd.concat([df_uno.set_index(["Categorias","A√±o","Ventas"]),
                         df_tres.set_index(["Categorias","A√±o","Ventas"])],axis=1,ignore_index=True)
# df_ejemplo_2.shape[0] ## Cantidad de registros: 10
# df_ejemplo_2.head(10)

Empty DataFrame
Columns: []
Index: [(ELECTRODOM√âSTICOS, 2022, 3681.64), (TECNOLOG√çA, 2022, 3712.02), (JUGUETES, 2023, 3787.7), (DEPORTE, 2023, 3584.49), (CULTURA, 2023, 3569.32), (ELECTRODOM√âSTICOS, 2024, 4365.75), (TECNOLOG√çA, 2024, 4182.75), (JUGUETES, 2024, 3024.93), (DEPORTE, 2025, 3321.68), (CULTURA, 2025, 4189.49)]

#### Fase 6. Exportaci√≥n de Datos en Pandas üêºüóÉÔ∏è

Esta fase final en la manipulaci√≥n de datos brinda permite que la informaci√≥n previamente procesada se pueda consumir, intercambiar o almacenar. Su importancia radica en garantizar informaci√≥n limpia y transformada est√© disponible para otros sistemas, an√°lisis posteriores o toma de decisiones, ya sea en archivos planos (CSV, Excel), estructurados (JSON, Parquet) o de alto rendimiento en entornos de Big Data (Parquet).

In [3]:
### üí° UTLIZAREMOS DE EJEMPLO ESTE DATASET
data = {
    "id": [1, 2, 3, 3, None],
    "nombre": ["Ana", "Luis", "Karla", "Karla", "Pedro"],
    "edad": [23, 35, 29, 29, None]
}
import pandas as pd
df = pd.DataFrame(data)

In [4]:
### ‚úÖ Realizaremos una Limpieza b√°sica
df = df.dropna()                 # eliminar filas con valores nulos
df = df.drop_duplicates()        # eliminar duplicados
df["id"] = df["id"].astype(int)  # castear columna a entero
df.rename(columns={"nombre": "Nombre", "edad": "Edad"}, inplace=True)

In [19]:
### ‚úÖ Exportando el dataset
## ----- Formato CSV(Comma Separated Values) 
"""
    SINTAXIS: 
        dataset_nombre.to_csv(path_or_buf="RutaAlmacenarArchivoExportado", index=True | False, sep="SeparadorDatos")    
    
    ‚úîÔ∏è path_or_buf: Es el par√°metro que permite especificar la ruta donde se almacenar√° el archivo.
    ‚úîÔ∏è index: Es el par√°metro que permite establecer un √≠ndice a cada registro dentro del archivo. (True=Si || False=No)
    ‚úîÔ∏è sep: Es el par√°metro que permite especificar el signo de puntuaci√≥n a separar los datos (Mayormente utilizamos (,) o (;) ).
    
    ### üß† TENER EN CUENTA QUE LA EXTENSI√ìN DEBE SER IGUAL A LA FUNCI√ìN DE EXPORTACI√ìN DEL ARCHIVO
    ###     Por ejemplo: ‚úÖ to_csv-> .csv ---- ‚ùå to_csv -> .xlsx
"""
### üí° EJEMPLO
df.to_csv(path_or_buf="../datasets/fase_exportacion/pandas_export.csv", index=False, sep=",")
print("Archivo CSV exportado.")

Archivo CSV exportado.

In [20]:
### ‚úÖ Exportando el dataset
## ----- Formato EXCEL
"""
    SINTAXIS: 
        dataset_nombre.df.to_excel(excel_writer="RutaAlmacenarArchivoExportado",sheet_name="NombreDeLaHojaDelExcel",index=True | False)    
    
    ‚úîÔ∏è excel_writer: Es el par√°metro que permite especificar la ruta donde se almacenar√° el archivo.
    ‚úîÔ∏è sheet_name: Es el par√°metro que permite establecer el nombre de la hoja donde se almacenar√° el archivo excel.
    ‚úîÔ∏è index: Es el par√°metro que permite establecer un √≠ndice a cada registro dentro del archivo. (True=Si || False=No)
    
    ### üß† TENER EN CUENTA QUE LA EXTENSI√ìN DEBE SER IGUAL A LA FUNCI√ìN DE EXPORTACI√ìN DEL ARCHIVO
    ###     Por ejemplo: ‚úÖ to_excel-> .xlsx ---- ‚ùå to_excel -> .csv
    
    ### üß† SE MOSTRAR√ÅN LOS EJEMPLOS CON LOS PRINCIPALES PAR√ÅMETROS (excel_writer, sheet_name e index)
"""
### üí° EJEMPLO
df.to_excel(excel_writer="../datasets/fase_exportacion/pandas_export.xlsx",sheet_name="HojaPrueba",index=False) 
print("Archivo Excel exportado.")

Archivo Excel exportado.

In [21]:
### ‚úÖ Exportando el dataset
## ----- Formato JSON (JAVASCRIPT OBJECT NOTATION)
"""
    SINTAXIS: 
        dataset_nombre.to_json(path_or_buf="RutaAlmacenarArchivoExportado",orient="Orientaciones",lines=True | False)  
    
    ‚úîÔ∏è path_or_buf: Es el par√°metro que permite especificar la ruta donde se almacenar√° el archivo.
    ‚úîÔ∏è orient: Es el par√°metro que permite establecer la orientaci√≥n de los datos del archivo.
    ‚úîÔ∏è lines: Es el par√°metro que permite especificar el tipo de procesamiento que se brindar√° al archivo 
              (True en caso sea un JSON B√°sico y False en caso el JSON si el procesamiento es en BIG DATA).
              
    ### üß† TENER EN CUENTA QUE LA EXTENSI√ìN DEBE SER IGUAL A LA FUNCI√ìN DE EXPORTACI√ìN DEL ARCHIVO
    ###     Por ejemplo: ‚úÖ to_json-> .json ---- ‚ùå to_json -> .xlsx
"""
### üí° EJEMPLO 1 (JSON B√ÅSICO)
df.to_json(path_or_buf="../datasets/fase_exportacion/pandas_export_basico.json",orient="records",lines=False)
print("Archivo JSON B√°sico exportado.")

### üí° EJEMPLO 2 (JSON ORIENTADO A PROCESAMIENTO EN BIG DATA[LINEA POR LINEA])
df.to_json(path_or_buf="../datasets/fase_exportacion/pandas_export_big_data.json",orient="records",lines=True)
print("Archivo JSON BIG DATA exportado.")

### üí° EJEMPLO 3 (JSON ORIENTACI√ìN B√ÅSICA Y COMUNMENTE UTILIZADA) ‚û°Ô∏è orient = "records"
df.to_json(path_or_buf="../datasets/fase_exportacion/pandas_export_records.json",orient="records",lines=False)
print("Archivo JSON ORIENT RECORDS exportado.")

### üí° EJEMPLO 4 (JSON ORIENTACI√ìN CON √çNDICE) ‚û°Ô∏è orient = "index"
df.to_json(path_or_buf="../datasets/fase_exportacion/pandas_export_index.json",orient="index",lines=False)
print("Archivo JSON ORIENT INDEX exportado.") ## ‚û°Ô∏è SE ASIGNA UN  √çNDICE AL JSON EXPORTADO. 

### üí° EJEMPLO 5 (JSON ORIENTACI√ìN CON COLUMNAS) ‚û°Ô∏è orient = "columns"
df.to_json(path_or_buf="../datasets/fase_exportacion/pandas_export_columns.json",orient="columns",lines=False)
print("Archivo JSON ORIENT COLUMNS exportado.") ## ‚û°Ô∏è AGRUPA POR COLUMNAS (CADA COLUMNA ES UN OBJETO CON VALORES INDEXADOS)

### üí° EJEMPLO 6 (RETORNA UNA LISTA CON LOS VALORES DE CADA COLMUMNA) ‚û°Ô∏è orient = "values"
df.to_json(path_or_buf="../datasets/fase_exportacion/pandas_export_values.json",orient="values",lines=False)
print("Archivo JSON ORIENT VALUES exportado.") ## ‚û°Ô∏è RETORNA UNA LISTA DE LISTAS.

### üí° EJEMPLO 7 (RETORNA UN JSON CON LA ESTRUCTURA DEL DATAFRAME) ‚û°Ô∏è orient = "split"
df.to_json(path_or_buf="../datasets/fase_exportacion/pandas_export_split.json",orient="split",lines=False)
print("Archivo JSON ORIENT SPLIT exportado.") ## ‚û°Ô∏è RETORNA UN JSON QUE CONTIENE: COLUMNAS,INDICES Y DATOS.

### üí° EJEMPLO 8 (RETORNA UN JSON CON LOS METADATOS DE LA ESTRUCTURA DEL DATAFRAME) ‚û°Ô∏è orient = "table"
df.to_json(path_or_buf="../datasets/fase_exportacion/pandas_export_table.json",orient="table",lines=False)
print("Archivo JSON ORIENT TABLE exportado.") ## ‚û°Ô∏è RETORNA UN JSON QUE CONTIENE: SCHEMAS, DATA DEL DATAFRAME.

Archivo JSON B√°sico exportado.
Archivo JSON BIG DATA exportado.
Archivo JSON ORIENT RECORDS exportado.
Archivo JSON ORIENT INDEX exportado.
Archivo JSON ORIENT COLUMNS exportado.
Archivo JSON ORIENT VALUES exportado.
Archivo JSON ORIENT SPLIT exportado.
Archivo JSON ORIENT TABLE exportado.

In [22]:
### ‚úÖ Exportando el dataset
## ----- Formato PARQUET (FORMATO COLUMNAR OPTIMIZADO PARA SOLUCIONES DE BIG DATA)
"""
    SINTAXIS: 
        dataset_nombre.to_parquet(path="RutaAlmacenarArchivoExportado",index=False,
              engine="auto|fastparquet|pyarrow", compression="brotli|gzip|lz4|snappy|zstd")
    
    ‚úîÔ∏è path: Es el par√°metro que permite especificar la ruta donde se almacenar√° el archivo.
    ‚úîÔ∏è compression: Es el par√°metro que permite reducir el tama√±o del archivo.
    ‚úîÔ∏è engine: Es el par√°metro que permite establecer la velocidad de escritura/lectura 
    ‚úîÔ∏è index: Es el par√°metro que permite establecer un √≠ndice a cada registro dentro del archivo. (True=Si || False=No)
                  
    ### üß† TENER EN CUENTA QUE LA EXTENSI√ìN DEBE SER IGUAL A LA FUNCI√ìN DE EXPORTACI√ìN DEL ARCHIVO
    ###     Por ejemplo: ‚úÖ to_parquet-> .parquet ---- ‚ùå to_parquet -> .xlsx
    ### üí° EN LOS SIGUIENTES EJEMPLOS UTILIZAREMOS LOS PAR√ÅMETROS CON LOS VALORES MEJORES OPTIMIZADOS.
"""
### üí° EJEMPLO 1: EXPOTANDO FORMATO PARQUET (compression='snappy' y engine='pyarrow')
df.to_parquet(path="../datasets/fase_exportacion/pandas_export_parquet.parquet",index=False,engine="pyarrow",
              compression="snappy")
print("Archivo PARQUET exportado.")

### üß† A tener en cuenta:
"""
compression="snappy"  # R√°pido, compresi√≥n moderada
compression="gzip"    # Lento, alta compresi√≥n
compression="brotli"  # Mejor compresi√≥n, m√°s lento

===================================================

engine="pyarrow"     # M√°s r√°pido
engine="fastparquet" # Alternativa

"""
print("")

Archivo PARQUET exportado.